[global]
# This is where all of your settings go for your development environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in
# prmax/config/app.cfg

# DATABASE

# driver://username:password@host:port/database

prmax.release=True
prmax.dojodebug="false"
prmax.dojopath = "dojo.prod"
prmax.web = "http://localhost"
prmax.email = "chris.hoy@hoyc.fsnet.co.uk"

# instance payment gateway
protex.gateway="https://ukvpstest.protx.com/VSPSimulator/VSPFormGateway.asp"
protex.code= "prmax"
protex.password= "mJU0sRBRkb2Ah9UV"

# pick the form for your database
sqlalchemy.convert_unicode=True
sqlalchemy.encoding='utf-8'
sqlalchemy.echo=False

# collateral
collateral.directory = "c:\\temp"
collateral.link="http://collateral.prmax.co.uk"


sqlalchemy.dburi="postgres://prmax:mkjn_45@localhost/prmax"
prmaxcache.dburi = "postgres://prmax:mkjn_45@localhost/prmaxcache"
prmaxcollateral.dburi = "postgres://prmax:mkjn_45@localhost/prmaxcollateral"

mako.directories='c:/projects/prmax2/prmax/templates'

# SERVER
# Some server parameters that you may want to tweak
server.socket_port=1256
server.socket_host="127.0.0.1"
server.thread_pool=100
server.socket_queue_size=30


base_url_filter.on = True
base_url_filter.use_x_forwarded_host = True

server.environment="production"
engine.autoreload_on = False

# Set to True if you'd like to abort execution if a controller gets an
# unexpected parameter. False by default
tg.strict_parameters = False

# LOGGING
# Logging configuration generally follows the style of the standard
# Python logging module configuration. Note that when specifying
# log format messages, you need to use *() for formatting variables.
# Deployment independent log configuration is in prmax/config/log.cfg
[logging]

[[loggers]]
[[[prmax]]]
level='DEBUG'
qualname='prmax'
handlers=['debug_out']

[[[allinfo]]]
level='INFO'
handlers=['debug_out']

[[[access]]]
level='INFO'
qualname='turbogears.access'
handlers=['access_out']
propagate=0

[[[identity]]]
level='INFO'
qualname='turbogears.identity'
handlers=['access_out']
propagate=0

[[[database]]]
# Set to INFO to make SQLAlchemy display SQL commands
level='ERROR'
qualname='sqlalchemy.engine'
handlers=['debug_out']
propagate=0
