<div>
    <table style="width:100%;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="1">
       <tr><td class="prmaxrowtag">Selection</td><td><select dojoAttachPoint="selectionid" dojoAttachEvent="onChange:_Selection"></select></td></tr>
    </table>
    <div>
        <div class="prmaxhidden" dojoAttachPoint="from_date_view" style="display:inline"><input type="text"  dojoAttachPoint="from_date_value" dojoType="dijit.form.DateTextBox" /></div>
        <div class="prmaxhidden" dojoAttachPoint="to_date_view" style="display:inline"><input type="text"  dojoAttachPoint="to_date_value" dojoType="dijit.form.DateTextBox" /></div>
     </div>
</div>