<div >
	<div class="dojoInterestPane" >
		<div data-dojo-attach-point="selectarea" style="display:none" >
			<table width="100%" class="prmaxtable" cellpadding="0" cellspacing="0" border="0">
				  <tr><td width="47%"></td><td width="5%"></td><td width="48%" ></td></tr>
				  <tr><td colspan="3">
				  <table style="width:100%" class="prmaxtable" >
					  <tr>
					  <td width="70%" data-dojo-attach-point="master_type_text"><span class="prmaxrowtag">Select </span><input class="prmaxfocus prmaxinput" type="text" data-dojo-type="dijit/form/TextBox" data-dojo-props='style:"width:150px"' data-dojo-attach-point="interest_list_select" data-dojo-attach-event="onkeyup:interest_select_event" /></td>
					<td><div data-dojo-attach-point="show_search_integration" class="prmaxhidden"><label data-dojo-attach-point="search_only_label">Default to Primary</label><input data-dojo-attach-point="search_only"  data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:"1"' /></div></td></tr>
					</table>
				  </td></tr>
				  <tr><td ><select style="width:100%" name="roles" data-dojo-attach-point="interest_list" size="${size}" class="lists" multiple="multiple" ></select></td>
				  <td >
					<button class="button_add_all" style="padding:0px;margin:0px" data-dojo-attach-point="button_all" data-dojo-props='disabled:true,type:"button"' data-dojo-attach-event="onClick:interest_select_all" data-dojo-type="dijit/form/Button"><div class="std_movement_button">&gt;&gt;</div></button><br/>
					<button class="button_add_single" style="padding:0px;margin:0px" data-dojo-attach-point="button_single" data-dojo-props='disabled:true,type:"button"' data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:interest_select_single"><div class="std_movement_button">&gt;&nbsp;</div></button><br/>
					<button class="button_del_all" style="padding:0px;margin:0px" data-dojo-attach-point="button_del_all" data-dojo-props='disabled:true,type:"button"' data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:interest_remove_all"><div class="std_movement_button">&lt;&lt;</div></button><br/>
					<button class="button_del_single" style="padding:0px;margin:0px" data-dojo-attach-point="button_del_single" data-dojo-props='disabled:true,type:"button"' data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:interest_remove_single"><div class="std_movement_button">&lt;&nbsp;</div></button></td>
				  <td ><select style="width:100%" data-dojo-attach-point="interest_select" size="${size}" class="lists"  data-dojo-attach-event="onchange:interest_update_selection"></select></td>
				  <td>
					<button  style="padding:0px;margin:0px" data-dojo-attach-point="up" data-dojo-props='disabled:true,type:"button"' data-dojo-attach-event="onClick:_up_button" data-dojo-type="dijit/form/Button"><div style="width:2em">Up</div></button><br/>
					<button style="padding:0px;margin:0px" data-dojo-attach-point="down" data-dojo-props='disabled:true,type:"button"' data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_down_button"><div style="width:2em">Down</div></button><br/>
				  </td></tr>
			</table>
		</div>
	</div>
</div>
