<div>
	<div data-dojo-attach-point="borderControl" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='gutters:false,"class":"seoview"'>
		<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="region:'left',splitter:true,'class':'bordered',style:'height:100%;width:40%',gutters:false">
			<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="controls" data-dojo-props='region:"top",style:"height:42px;width:100%;overflow:hidden", "class":"std_menu_view"'>
				<div style="height:100%;width:100px;float:left;padding-top:10px;" class="prmaxrowdisplaylarge">SEO</div>
				<div data-dojo-type="dijit.Toolbar" data-dojo-props='style:"height:99%;width:200px;padding:0px;margin:0px;float:left"'>
					<div data-dojo-attach-event="onClick:_Add" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"fa fa-plus fa-3x",label:"New SEO",showLabel:false'></div>
					<div data-dojo-type="dijit.form.DropDownButton"  data-dojo-props='iconClass:"fa fa-filter fa-3x",label:"Filter SEO List",showLabel:false'>
						<span></span>
						<div data-dojo-type="dijit.TooltipDialog" data-dojo-props='title:"Filter By"' data-dojo-attach-event="execute:_ExecuteFilter">
							<table>
								<tr><td>Status</td><td><select data-dojo-props='name:"seostatusid",autoComplete:true,searchAttr:"name",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="filter_seostatusid" ></select></td></tr>
								<tr><td>Headline</td><td><input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="filter_headline" data-dojo-props='name:"headline",type:"text"' ></td></tr>
								<tr>
									<td align="left"><button data-dojo-attach-event="onClick: _ClearFilter" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button"' >Clear</button></td>
									<td align="right"><button data-dojo-type="dijit.form.Button" data-dojo-props='type:"submit",name:"submit"'>Submit</button></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"center"'>
				<div data-dojo-attach-point="grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='style:"height:100%;width:100%",rowsPerPage:50,splitter:true'></div>
			</div>
		</div>
		<div data-dojo-attach-point="seopanel" data-dojo-type="dijit.layout.StackContainer" data-dojo-props='region:"center",splitter:true'>
			<div data-dojo-attach-point="seopanel_blank" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='selected:"selected",title:"blank"' ></div>
			<div data-dojo-type="prmax.pressrelease.seo.add" data-dojo-attach-point="seo_add_ctrl" data-dojo-props='style:"width:100%;height:100%",title:"add"'></div>
			<div data-dojo-type="dijit.layout.BorderContainer" data-dojo-attach-point="seopanel_edit" data-dojo-props='style:"height:100%;width:100%",gutters:false,title:"Edit"'>
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"top",style:"width:100%;height:42px","class":"std_menu_view"'>
					<div data-dojo-type="dijit.Toolbar" data-dojo-props='style:"height:99%;width:100%;padding:0px;margin:0px"'>
						<div data-dojo-attach-event="onClick:_Delete" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"fa fa-trash fa-3x",label:"Delete SEO",showLabel:false'></div>
						<div data-dojo-attach-event="onClick:_Withdraw" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"fa fa-outdent fa-3x",label:"Withdraw SEO",showLabel:false' data-dojo-attach-point="withdrawbtn"></div>
						<div data-dojo-attach-event="onClick:_Update" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"fa fa-floppy-o fa-3x",label:"Update SEO",showLabel:false'></div>
						<div data-dojo-attach-event="onClick:_Publish" data-dojo-type="dijit.form.Button" data-dojo-props='"class":"prmaxhidden",iconClass:"fa fa-upload fa-3x",label:"Publish SEO",showLabel:false' data-dojo-attach-point="publishbtn"></div>
					</div>
				</div>
				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"center"'>
					<div data-dojo-type="prmax.pressrelease.seo.edit" data-dojo-attach-point="seo_edit_ctrl" data-dojo-props='style:"width:100%;height:100%"'></div>
				</div>
			</div>
		</div>
	</div>
</div>
