<div>
	<div  dojoAttachPoint="borderCtrl" dojotype="dijit.layout.BorderContainer" style="width:100%;height:100%" gutters="false" >
		<div dojoType="dijit.layout.StackContainer" dojoAttachPoint="controls" region="center"  doLayout="true" splitter="true">
			<div  title="blank" dojoAttachPoint="blank_view" dojoType="dijit.layout.ContentPane" selected></div>
			<div title="main" dojoAttachPoint="tabControl" dojotype="dijit.layout.TabContainer" tabStrip="true" region="center" >
				<div dojoAttachPoint="mainView" dojoType="ttl.layout.ContentPane" title='Details' preload="true" href="/layout/std_outlet_view_startup" > </div>
				<div dojoAttachPoint="contactView" dojoType="dijit.layout.BorderContainer" title='Contacts' preload="true" style="width:100%;height:100%" selected="selected" gutters="false">
					<div dojoAttachPoint="contactdisplay" region="center" dojotype="prmax.employee.EmployeeDisplay" style="height:50%;width:100%"></div>
					<div dojoAttachPoint="contactgrid" dojoType="dojox.grid.DataGrid"   query="{ }" rowsPerPage="30" splitter="true" region="bottom" style="height:50%;width:100%" ></div>
				</div>
				<!--
				<div dojoAttachPoint="profileView" dojoType="ttl.layout.ContentPane" title='Profile' preload="false"></div>
				-->
				
				<div data-dojo-attach-point="advanceView" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='title:"Features",preload:true,"class":"prmaxhidden" '>
					<div data-dojo-attach-point="advancectrl" data-dojo-type="prcommon.advance.listview" data-dojo-props='region:"center"'></div>
				</div>
				<div data-dojo-attach-point="crmView" data-dojo-type="dijit.layout.BorderContainer", data-dojo-props='title:"Engagement",preload:true,"class":"prmaxhidden" '>
					<div data-dojo-attach-point="crmctrl" data-dojo-type="prcommon.crm.viewer_only" data-dojo-props='region:"center",mode:"outlet"'></div>
				</div>
				<div data-dojo-attach-point="resendView" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='title:"Contact",preload:true'>
					<div data-dojo-attach-point="resendctrl" data-dojo-type="prcommon.crm.responses.resend" data-dojo-props='region:"center"'></div>
				</div>
			</div>
		</div>
	</div>
	<div dojoType="prcommon.contacthistory.edit"></div>

</div>

