# -*- coding: utf-8 -*-
<%
from ttl.ttlmako import isnull
%>
<br/>
<p style="${style['p']}">${r['rp'].display_name}</p>
<p style="${style['p']}">${isnull(r['rp'].job_title)}</p>
<p style="${style['p']}">PRmax Ltd</p>
<p style="${style['p']}">Tel: ${isnull(r['rp'].tel)}</p>
<p style="${style['p']}">Email: <a href="emailto:${r['rp'].email_address}">${r['rp'].email_address}</a></p>
<p style="${style['p']}">Website:<a href="prmax.co.uk">prmax.co.uk</a></p>
<p style="${style['p']}">Suite F, Diss Busness Park, Hopper Way, Sandy Lane, Diss IP22 4GT</p>
<br/>
<p style="${style['p']}">The Simple, Accurate and Affordable Online Media Contacts System</p>

