.dijitTab span img[src*="tab_icon_details.gif"] {
    width: 1px;
    height: 1px;
    padding: 10px;
    display:none;
    background:url("/static/images/vuelio/tab_icon_details.gif") no-repeat;

}

.dijitTab span img[src*="tab_icon_contact.gif"] {
    width: 1px;
    height: 1px;
    padding: 10px;
    background:url("/static/images/vuelio/tab_icon_contact.gif") no-repeat;

}

.dijitTab span img[src*="tab_icon_profile.gif"] {
    width: 1px;
    height: 1px;
    padding: 10px;
    background:url("/static/images/vuelio/tab_icon_profile.gif") no-repeat;

}

.dijitTab span img[src*="tab_icon_details.gif"] {
    width: 1px;
    height: 1px;
    padding: 10px;
    background:url("/static/images/vuelio/tab_icon_details.gif") no-repeat;

}

.dijitTab span img[src*="tab_icon_sub.gif"] {
    width: 1px;
    height: 1px;
    padding: 10px;
    background:url("/static/images/vuelio/tab_icon_sub.gif") no-repeat;

}

.soria .dijitTab .tabLabel_ {
    text-decoration: underline;
}

.soria .tabChecked .dijitTab .tabLabel {
    text-decoration: none;
}

.soria .dijitTabContainerTopStrip {
    background-color:#A8A8A8;
}

.soria .dijitTabHover {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") no-repeat scroll 0 -150px transparent;
color:#243C5F;
}

.soria .dijitTabHover .dijitTabInnerDiv {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") no-repeat scroll right -250px transparent;
}
.soria .dijitTabHover .dijitTabInnerDiv .dijitTabContent {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") repeat-x scroll 0 -200px transparent;
}
.soria .dijitTab {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") no-repeat scroll 0 -300px transparent;
border-bottom:1px solid #A8A8A8;
}

.soria .dijitTabInnerDiv {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") no-repeat scroll right -400px transparent;
}

.soria .dijitTabInnerDiv .dijitTabContent {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") repeat-x scroll 0 -350px transparent;
}

.soria .dijitTabChecked, .soria .dijitTabCloseButtonChecked {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") no-repeat scroll 0 0 transparent;
}
.soria .dijitTabChecked .dijitTabInnerDiv {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") no-repeat scroll right -100px transparent;
}
.soria .dijitTabChecked .dijitTabInnerDiv .dijitTabContent {
background:url("/static/images/vuelio/theme/tabContainerSprite.gif") repeat-x scroll 0 -50px transparent;
}

.soria .searchresults .prmaxrowdisplaylarge {
background-color:#A8A8A8;
color:#094B88;
}

.soria .PrmaxBannerIcon {
background-image:url("/static/images/vuelio/prmaxheadericons.gif");
background-repeat:no-repeat;
}

.soria .prmaxsearchgridcount {
background-color:#A8A8A8;
color:white;
}

.soria .searchresults {
background-color:#A8A8A8;
color:white;
}

.soria .searchresults .dijitToolbarTop {
background:url("/static/images/vuelio/theme/resultsBar.png") repeat-x scroll left top #81A6C3;
border-bottom:1px solid #CCCCCC;
}

.soria .PrmaxResultsIcon {
background-image:url("/static/images/vuelio/prmaxresultsicons.gif");
background-repeat:no-repeat;
height:40px;
text-align:center;
}
.soria .stdbanner {
background:url("/static/images/vuelio/theme/titleBar.png") repeat-x scroll left top #DAE4ED;
}
.soria .stdbanner .dijitToolbarTop {
background:url("/static/images/vuelio/theme/titleBar.png") repeat-x scroll left top #DAE4ED;
border-bottom:1px solid #CCCCCC;
}
.soria .stdbanner .message {
background:url("/static/images/vuelio/theme/titleBar.png") repeat-x scroll left top #DAE4ED;
background-color:#DAE4ED;
color:#B2C5CC;
font-size:10pt;
padding-right:5px;
}
.soria .tooltipframe {
height:200px;
overflow:hidden;
width:200px;
}

.stdbanner div:first-child {
    background: url("/static/images/vuelio/banner_prmax_logo.gif") no-repeat;
    width: 125px !important;
}
.stdbanner div:first-child img {
    visibility: hidden;
}