	<div>
		<div  dojoAttachPoint="tabController" dojotype="dijit.layout.TabContainer" style="width:100%;height:100%;padding:0px;margin:0px">
			<div dojoAttachPoint="savetolisttab" dojoType="dijit.layout.ContentPane" title="Save To Existing List" style="width:100%;height:390px;padding:5px">
				<br/>
				<form class="prmaxdefault" dojoAttachPoint="saveform" name="saveform" onSubmit="return false;" dojoType="dijit.form.Form">
					<table width="99%" class="prmaxtable" cellspacing="4" >
						<tr><td class="prmaxrowtag" width="30%" align="right">Existing List</td>
							<td><div dojoType="dijit.form.FilteringSelect"
									name="listid"
									dojoAttachPoint="lists"
									required="true"
									pageSize="20"
									autoComplete="true"
									labelAttr="listname"
									searchAttr="listname"
									promptMessage="Please Select a list"></div></td></tr>
						<tr><td class="prmaxrowtag" align="right" valign="top">Save from search</td><td><div name="selection" dojoAttachPoint="source" dojoType="prmax.common.SelectOptions" ></div></td></tr>
						<tr><td class="prmaxrowtag" align="right" >List Options</td><td>
							<input dojoAttachPoint="override_button" type="radio" name="overwrite" dojotype="dijit.form.RadioButton" value="1" /> <label dojoAttachPoint="label_overwrite" class="prmaxlabeltag" >Overwrite</label>
							<input dojoAttachPoint="append_button" type="radio" name="overwrite" dojotype="dijit.form.RadioButton" value="0" checked ="checked"/> <label class="prmaxlabeltag" dojoAttachPoint="label_append" >Append</label>
						</td></tr>
						<tr><td colspan="3" >&nbsp;</td></tr>
						<tr><td colspan="3" align="center" ><button class="prmaxbuttonlarge" type="button" dojoAttachEvent="onClick:_SaveList" dojoAttachPoint="saveNode" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving..." label="Save Results To Existing List"></button></td></tr>
					</table>
				</form>
			</div>
			<div dojoType="dijit.layout.ContentPane" title="Save To New List" style="width:100%;height:385px;padding:5px">
				<br/>
				<form dojoAttachPoint="addform" name="addform"  onSubmit="return false;" dojoType="dijit.form.Form">
					<table width="100%" class="prmaxtable" >
						<tr><td width="30%" align="right" class="prmaxrowtag">New List Name</td><td ><input dojoType="dijit.form.ValidationTextBox" name="listname" dojoAttachPoint="listnamenew" required="true" promptMessage="Please Enter new list name" trim="true" maxlength="45" ></td></tr>
						<tr><td align="right" class="prmaxrowtag" >Client</td><td><select data-dojo-props='name:"clientid",autoComplete:true,searchAttr:"clientname",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="clientid" ></select></td></tr>
						<tr><td align="right" class="prmaxrowtag" valign="top">Save from search</td><td><div name="selection" dojoAttachPoint="source2" dojoType="prmax.common.SelectOptions" ></div></td></tr>
						<tr><td colspan="3" >&nbsp;</td></tr>
						<tr><td colspan="3" align="center" ><button  type="button" class="prmaxbuttonlarge" dojoAttachEvent="onClick:_SaveNewList" dojoAttachPoint="addNode" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving..." label="Save Results To New List"></button></td></tr>
					</table>
				</form>
			</div>
		</div>
	</div>
