<div>
	<form  dojoAttachPoint="private_form" method="post" name="private_form" enctype="multipart/form-data"  onSubmit="return false;">
		<input class="prmaxinput" type="hidden" dojoAttachPoint="private_cache" name="private_cache" value="-1">
		<table width="50%" border="0" cellpadding="0" cellspacing="0" >
			<tr><td class="prmaxrowtag">File Name</td><td><input size="30" class="prmaxinput" type="file" dojoAttachPoint="private_file" name="private_file"></td></tr>
			<tr><td class="prmaxrowtag">Customer</td><td>
			<select name="icustomerid"
				autoComplete="true"
				dojoType="dijit.form.FilteringSelect"
				labelType="html"
				searchAttr="customername"
				dojoAttachPoint="icustomerid"
				search></select></td></tr>
			<tr><td class="prmaxrowtag">Add to existing Outlets</td><td><input type="checkbox" name="no_add_outlet" dojoType="dijit.form.CheckBox"></td></tr>
			<tr><td colspan = "2" >&nbsp;</td></tr>
			<tr><td colspan = "2" ><span dojoAttachPoint="progressNode" style="display:none;"><div dojoType="dijit.ProgressBar" dojoAttachPoint="progressControl" style="width:200px" indeterminate="true"></div></span></td></tr>
			<tr><td colspan="2" align="right"><button class="prmaxbutton"  dojoAttachPoint="saveNode" type="button"  dojoType="dijit.form.Button" label="Upload Private Data" dojoAttachEvent="onClick:_Add"></button></td></tr>
		</table>
	</form>
</div>
