<div><br/>
	<form data-dojo-attach-point="form" data-dojo-type="dijit.form.Form" data-dojo-props='onSubmit:"return false","class":"common_prmax_layout"'>
		<label class="label_2">New Expiry Date:</label><input data-dojo-props='name:"enddate",style:"width:10em",type:"text",required:true' data-dojo-attach-point="enddate" data-dojo-type="dijit.form.DateTextBox"/><br/><br/>
		<button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Close",style:"float:left"'></button>
		<button data-dojo-attach-event="onClick:_update_expiry_date" data-dojo-attach-point="upddatebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Update",style:"float:right"'></button>
	</form><br/>
</div>

