<div>
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='gutters:false'>
		<div data-dojo-attach-point="header_bar" data-dojo-type="prmaxtouch/enquiries/add/headerbar" data-dojo-props='region:"top"'></div>
		<div data-dojo-attach-point="mainpanel" class="main-panel" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='region:"center",gutters:false'>
			<div data-dojo-type="dijit/layout/BorderContainer" class="control-left" data-dojo-props='gutters:false,region:"left"'>
				<div data-dojo-attach-point="backbtn" data-dojo-type="dijit/layout/ContentPane" class="control-single control-bottom-square" data-dojo-props='region:"top"'>
					<button title="Back" data-dojo-attach-event="onMouseDown:_back"><i class="fa fa-arrow-left"></i></button>
				</div>
			
				<div data-dojo-type="dijit/layout/ContentPane" class="control-onethird button-red" data-dojo-props='region:"bottom"'>
					<button title="Clear" data-dojo-attach-event="onMouseDown:_reset"><i class="fa fa-undo"></i></button>
				</div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" class="centre-panel" data-dojo-props='region:"center"'>
				<div class="input-panel pprhidden" data-dojo-type="prmaxtouch/keyboard" data-dojo-attach-point="keyboard"></div>
				<div class="input-panel pprhidden" data-dojo-type="prmaxtouch/datepad" data-dojo-attach-point="datepad"></div>
				<div class="input-panel pprhidden" data-dojo-type="prmaxtouch/itemselector" data-dojo-attach-point="itemselector"></div>
				<table class="form-panel"><tr><td>
					<div class="gradienter"></div>
					<table class="input-area input-card" data-dojo-attach-point="formpanel">
						<tr><td>
							<table>
							<tr><td>&nbsp;&nbsp;Date</td></tr>
							<tr><td><input data-dojo-props='type:"text",trim:true,name:"taken"' maxlength="50" data-dojo-attach-point="taken" data-dojo-attach-event="onFocus:taken_focus,onKeyUp:taken_focus,onMouseDown:taken_focus,onBlur:delay_close" /></td></tr>
						</table>
						<table>
							<tr><td>&nbsp;&nbsp;Taken By</td></tr>
							<tr><td><select data-dojo-props='type:"text",name:"taken_by",autoComplete:true,searchAttr:"name",invalidMessage:"Taken By",labelType:"html", style:"width:98%; margin:5px"' maxlength="255" data-dojo-attach-event="onFocus:taken_by_focus,onKeyUp:taken_by_focus,onMouseDown:taken_by_focus,onBlur:delay_close" data-dojo-attach-point="taken_by" data-dojo-type="dijit/form/FilteringSelect"></select></td></tr>
						</table>
						<table>
							<tr><td>&nbsp;&nbsp;Subject</td></tr>
							<tr><td><input data-dojo-props='type:"text",trim:true,name:"crm_subject"' maxlength="255" data-dojo-attach-point="crm_subject" data-dojo-attach-event="onFocus:crm_subject_focus,onKeyUp:crm_subject_focus,onMouseDown:crm_subject_focus,onBlur:delay_close" /></td></tr>
						</table>
						<table>
							<tr><td>&nbsp;&nbsp;Client</td></tr>
							<tr><td><input data-dojo-props='type:"text",trim:true,name:"clientid", autoComplete:true,searchAttr:"clientname",labelType:"html", style:"width:98%; margin:5px"' maxlength="255" data-dojo-attach-point="clientid" data-dojo-type="dijit/form/FilteringSelect"></input></td></tr>
						</table>
						<table>
							<tr><td>&nbsp;&nbsp;Response</td></tr>
							<tr><td><textarea data-dojo-props='type:"text",trim:true,name:"response"' data-dojo-attach-point="crm_response" data-dojo-attach-event="onFocus:crm_response_focus,onKeyUp:crm_response_focus,onMouseDown:crm_response_focus,onBlur:delay_close" ></textarea></td></tr>
						</table>
						</td></tr>
						<tr height="100%"></tr>
					</table>
				</td></tr>
				</table>
			</div>
			<div data-dojo-type="dijit/layout/BorderContainer" class="control-right" data-dojo-props='gutters:false,region:"right"'>
				<div data-dojo-attach-point="finishbtn" data-dojo-type="dijit/layout/ContentPane" class="button-disabled control-full button-green" data-dojo-props='region:"center"'>
					<button disabled="disabled" data-dojo-attach-point="submitbtn" title="Submit" data-dojo-attach-event="onMouseDown:_submit"><i class="fa fa-check"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
