<div class="header-bar">
	<table>
		<tr>
			<td class="header-logo header-left logo-paypoint">
				<img data-dojo-attach-point="headerimg" class="header-img" src="/prmax_common_s/images/prmax_logo.png" alt="Prmax" />
			</td>
			<td class="header-icon"><i class="fa fa-search fa-fw fa-2x"></i></td>
			<td class="header-main">New Enquiry</td>
			<td data-dojo-attach-point="homebtn">
				<button title="Home" data-dojo-attach-event="onMouseDown:_home"><i class="fa fa-home fa-fw fa-2x"></i></button>
			</td>
			<td data-dojo-attach-point="logoutcell" class="button-black header-right">
				<button title="Logout" data-dojo-attach-point="logoutbtn" data-dojo-attach-event="onMouseDown:_logout"><i class="fa fa-sign-out-alt fa-fw fa-2x"></i></button>
			</td>
		</tr>
	</table>
</div>
