.idea
#*.pyc
#prcommon/build/*
#prcommon/dist/*
#prcommon/prcommon.egg-info/*
#prcommon/prcommon/static/rel/*
#prmax/build/*
#prmax/dist/*
#prmax/buildrelease/*
#prmax/prmax.egg-info/*
#prmax/prmax/static/rel/*
#prmaxapi/build/*
#prmaxapi/dist/*
#prmaxapi/prmaxapi.egg-info/*
#prmaxcollateral/build/*
#prmaxcollateral/dist/*
#prmaxcollateral/prmaxcollateral.egg-info/*
#prmaxcontrol/build/*
#prmaxcontrol/dist/*
#prmaxcontrol/prmaxcontrol.egg-info/*
#prmaxmain/*
#prmaxquestionnaires/build/*
#prmaxquestionnaires/dist/*
#prmaxquestionnaires/prmaxquestionnaires.egg-info/*
#prmaxquestionnaires/sample-prod.cfg
#prmaxresearch/build/*
#prmaxresearch/dist/*
#prmaxresearch/prmaxresearch.egg-info/*
#prmaxresearch/sample-prod.cfg
#prmaxservices/*
#prmaxutilities/build/*
#prmaxutilities/dist/*
#prmaxutilities/prmaxutilities.egg-info/*
#prmaxutilities/prmaxutilties.egg-info/*
#prpublish/build/*
#prpublish/dist/*
#prpublish/prpublish.egg-info/*
#prservices/build/*
#prservices/dist/*
#prservices/prservices.egg-info/*
#deployment/dojo/*
#deployment/dojo/release/*
#ttl/build/*
#ttl/dist/*
#ttl/ttl.egg-info/*
#prpublish/prpublish/static/rel/*
#prmax/buildrelease/dojo-release-1.6.2-src/*
#prmax/prmax/static/dojo.prod/*
#prmax/buildrelease/dojo/*
#prmaxcontrol/prmaxcontrol/static/rel/css/font-awesome/*
#prmaxquestionnaires/prmaxquestionnaires/static/rel/css/font-awesome/*
#prmaxresearch/prmaxresearch/static/rel/css/font-awesome/*
#prmax/prmax/static/dojo.prod/*
#prservices/prservices/primport/usa/utils/check_existing_outlets.py
#prservices/prservices/primport/usa/utils/check_outlets_ping_url.py
#prservices/prservices/primport/usa/utils/check_updated_outlets.py
#prservices/prservices/primport/usa/utils/check_FR_outlets_ping_url.py
#prservices/prservices/primport/usa/utils/check_outlets_ping_url.py
#prservices/prservices/primport/usa/utils/distinct_outlets_ping.py
#prservices/prservices/primport/usa/utils/distinct_outlets_ping_editor2.py
#prservices/prservices/primport/usa/utils/distinct_outlets_ping_editor.py
#prservices/prservices/primport/usa/utils/import_translations2.py
#prservices/prservices/primport/usa/utils/import_translations3.py
#prservices/tmp/*
#prpublish/prpublish/templates/newsroom/existing/*
#prpublish/prpublish/templates/newsroom/cardiff/New folder/*
#prpublish/prpublish/templates/existing/*
#prmaxtouch - Copy
#prmaxapiext/prmaxapiext.egg-info
#prmaxapiext/build
#prmaxapiext/dist
#prmaxtouch/prmaxtouch/*
#prmaxtouch/*