<div data-dojo-attach-event="onMouseDown:hold_focus">
	<table><tr><td height="100%">
		<table>
			<tr data-dojo-attach-point="standard">
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:year_previous" title="Previous Year"><i class="fa fa-backward"></i></button>
				</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:month_previous" title="Previous Month"><i class="fa fa-play fa-flip-horizontal"></i></button>
				</td>
				<td colspan="3" data-dojo-attach-point="month_year" class="label-cell" width="27%">Month Year</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:month_next" title="Next Month"><i class="fa fa-play"></i></button>
				</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:year_next" title="Next Year"><i class="fa fa-forward"></i></button>
				</td>
				<td style="width:18%" colspan="2"></td>
				<td style="width:18%" colspan="2" class="button-purple">
					<button data-dojo-attach-event="onMouseDown:set_today">Today</button>
				</td>
			</tr>
			<tr class="pprhidden" data-dojo-attach-point="extended">
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:year_minus_10" title="-10 Years">-10</button>
				</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:year_previous" title="Previous Year"><i class="fa fa-backward"></i></button>
				</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:month_previous" title="Previous Month"><i class="fa fa-play fa-flip-horizontal"></i></button>
				</td>
				<td colspan="3" data-dojo-attach-point="month_year_extend" class="label-cell" width="27%">Month Year</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:month_next" title="Next Month"><i class="fa fa-play"></i></button>
				</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:year_next" title="Next Year"><i class="fa fa-forward"></i></button>
				</td>
				<td style="width:9%" class="button-large button-orange">
					<button data-dojo-attach-event="onMouseDown:year_plus_10" title="+10 Years">+10</button>
				</td>
				<td style="width:18%" colspan="2" class="button-purple">
					<button class="pprhidden" data-dojo-attach-event="onMouseDown:set_today">Today</button>
				</td>
			</tr>
			<tr class="button-date">
				<td style="width:9%" data-dojo-attach-point="day_1">
					<button data-dojo-attach-point="btn1" data-dojo-attach-event="onMouseDown:press_1">1</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_2">
					<button data-dojo-attach-point="btn2" data-dojo-attach-event="onMouseDown:press_2">2</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_3">
					<button data-dojo-attach-point="btn3" data-dojo-attach-event="onMouseDown:press_3">3</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_4">
					<button data-dojo-attach-point="btn4" data-dojo-attach-event="onMouseDown:press_4">4</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_5">
					<button data-dojo-attach-point="btn5" data-dojo-attach-event="onMouseDown:press_5">5</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_6">
					<button data-dojo-attach-point="btn6" data-dojo-attach-event="onMouseDown:press_6">6</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_7">
					<button data-dojo-attach-point="btn7" data-dojo-attach-event="onMouseDown:press_7">7</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_8">
					<button data-dojo-attach-point="btn8" data-dojo-attach-event="onMouseDown:press_8">8</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_9">
					<button data-dojo-attach-point="btn9" data-dojo-attach-event="onMouseDown:press_9">9</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_10">
					<button data-dojo-attach-point="btn10" data-dojo-attach-event="onMouseDown:press_10">10</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_11">
					<button data-dojo-attach-point="btn11" data-dojo-attach-event="onMouseDown:press_11">11</button>
				</td>
			</tr>		
			<tr class="button-date">
				<td style="width:9%" data-dojo-attach-point="day_12">
					<button data-dojo-attach-point="btn12" data-dojo-attach-event="onMouseDown:press_12">12</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_13">
					<button data-dojo-attach-point="btn13" data-dojo-attach-event="onMouseDown:press_13">13</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_14">
					<button data-dojo-attach-point="btn14" data-dojo-attach-event="onMouseDown:press_14">14</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_15">
					<button data-dojo-attach-point="btn15" data-dojo-attach-event="onMouseDown:press_15">15</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_16">
					<button data-dojo-attach-point="btn16" data-dojo-attach-event="onMouseDown:press_16">16</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_17">
					<button data-dojo-attach-point="btn17" data-dojo-attach-event="onMouseDown:press_17">17</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_18">
					<button data-dojo-attach-point="btn18" data-dojo-attach-event="onMouseDown:press_18">18</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_19">
					<button data-dojo-attach-point="btn19" data-dojo-attach-event="onMouseDown:press_19">19</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_20">
					<button data-dojo-attach-point="btn20" data-dojo-attach-event="onMouseDown:press_20">20</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_21">
					<button data-dojo-attach-point="btn21" data-dojo-attach-event="onMouseDown:press_21">21</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_22">
					<button data-dojo-attach-point="btn22" data-dojo-attach-event="onMouseDown:press_22">22</button>
				</td>
			</tr>		
			<tr class="button-date">
				<td style="width:9%" data-dojo-attach-point="day_23">
					<button data-dojo-attach-point="btn23" data-dojo-attach-event="onMouseDown:press_23">23</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_24">
					<button data-dojo-attach-point="btn24" data-dojo-attach-event="onMouseDown:press_24">24</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_25">
					<button data-dojo-attach-point="btn25" data-dojo-attach-event="onMouseDown:press_25">25</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_26">
					<button data-dojo-attach-point="btn26" data-dojo-attach-event="onMouseDown:press_26">26</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_27">
					<button data-dojo-attach-point="btn27" data-dojo-attach-event="onMouseDown:press_27">27</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_28">
					<button data-dojo-attach-point="btn28" data-dojo-attach-event="onMouseDown:press_28">28</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_29">
					<button data-dojo-attach-point="btn29" data-dojo-attach-event="onMouseDown:press_29">29</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_30">
					<button data-dojo-attach-point="btn30" data-dojo-attach-event="onMouseDown:press_30">30</button>
				</td>
				<td style="width:9%" data-dojo-attach-point="day_31">
					<button data-dojo-attach-point="btn31" data-dojo-attach-event="onMouseDown:press_31">31</button>
				</td>
				<td style="height:21.8%" width="18%" colspan="2" data-dojo-attach-point="day_tfn">
					<button data-dojo-attach-point="tfnbtn" data-dojo-attach-event="onMouseDown:press_tfn">TFN</button>
				</td>
			</tr>		
		</table>
	</td><td class="input-nav">
		<table>
			<tr>
				<td class="button-orange">
					<button title="Previous Input" data-dojo-attach-event="onMouseDown:move_up"><i data-dojo-attach-point="nav_prev" class="fa fa-arrow-circle-up fa-2x"></i></button>
				</td>
			</tr>
			<tr>
				<td class="button-black">
					<button title="Close" data-dojo-attach-event="onMouseDown:_close"><i class="fa fa-times-circle fa-2x"></i></button>
				</td>
			</tr>
			<tr>
				<td class="button-orange">
					<button title="Next Input" data-dojo-attach-event="onMouseDown:move_down"><i data-dojo-attach-point="nav_next" class="fa fa-arrow-circle-down fa-2x"></i></button>
				</td>
			</tr>
		</table>
	</td></tr></table>
</div>