<div>
	<table>
		<tr>
			<td class="inset-price" colspan="3">
				<table><tr><td data-dojo-attach-point="total_display">0</td></tr></table>
			</td>
		</tr>
		<tr>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_7">7</button>
			</td>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_8">8</button>
			</td>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_9">9</button>
			</td>
		</tr>
		<tr>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_4">4</button>
			</td>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_5">5</button>
			</td>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_6">6</button>
			</td>
		</tr>
		<tr>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_1">1</button>
			</td>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_2">2</button>
			</td>
			<td width="33%" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_3">3</button>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="height:16%" class="button-large">
				<button data-dojo-attach-event="onClick:press_0">0</button>
			</td>
			<td width="33%" style="height:16%" class="button-red">
				<button data-dojo-attach-event="onClick:press_del">DEL</button>
			</td>
		</tr>
	</table>
</div>