<div data-dojo-attach-event="onMouseDown:hold_focus">
	<table><tr><td height="100%">
		<table>
			<tbody data-dojo-attach-point="alphakeys">
				<tr>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="q_btn" data-dojo-attach-event="onMouseDown:press_q">q</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="w_btn" data-dojo-attach-event="onMouseDown:press_w">w</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="e_btn" data-dojo-attach-event="onMouseDown:press_e">e</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="r_btn" data-dojo-attach-event="onMouseDown:press_r">r</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="t_btn" data-dojo-attach-event="onMouseDown:press_t">t</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="y_btn" data-dojo-attach-event="onMouseDown:press_y">y</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="u_btn" data-dojo-attach-event="onMouseDown:press_u">u</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="i_btn" data-dojo-attach-event="onMouseDown:press_i">i</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="o_btn" data-dojo-attach-event="onMouseDown:press_o">o</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="p_btn" data-dojo-attach-event="onMouseDown:press_p">p</button>
					</td>
				</tr>
				<tr>
					<td style="width:5%"></td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="a_btn" data-dojo-attach-event="onMouseDown:press_a">a</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="s_btn" data-dojo-attach-event="onMouseDown:press_s">s</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="d_btn" data-dojo-attach-event="onMouseDown:press_d">d</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="f_btn" data-dojo-attach-event="onMouseDown:press_f">f</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="g_btn" data-dojo-attach-event="onMouseDown:press_g">g</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="h_btn" data-dojo-attach-event="onMouseDown:press_h">h</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="j_btn" data-dojo-attach-event="onMouseDown:press_j">j</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="k_btn" data-dojo-attach-event="onMouseDown:press_k">k</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="l_btn" data-dojo-attach-event="onMouseDown:press_l">l</button>
					</td>
					<td style="width:5%"></td>
				</tr>
				<tr>
					<td style="width:10%" colspan="2" class="button-huge button-shift" data-dojo-attach-point="shiftpanelalpha">
						<button data-dojo-attach-point="shiftbtnalpha" data-dojo-attach-event="onClick:press_shift,onDblClick:press_lock">&#8679;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="z_btn" data-dojo-attach-event="onMouseDown:press_z">z</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="x_btn" data-dojo-attach-event="onMouseDown:press_x">x</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="c_btn" data-dojo-attach-event="onMouseDown:press_c">c</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="v_btn" data-dojo-attach-event="onMouseDown:press_v">v</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="b_btn" data-dojo-attach-event="onMouseDown:press_b">b</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="n_btn" data-dojo-attach-event="onMouseDown:press_n">n</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-point="m_btn" data-dojo-attach-event="onMouseDown:press_m">m</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large button-orange">
						<button title="Move left" data-dojo-attach-event="onMouseDown:move_left"><i class="fa fa-arrow-left"></i></button>
					</td>
					<td style="width:10%" colspan="2" class="button-large button-orange">
						<button title="Move right" data-dojo-attach-event="onMouseDown:move_right"><i class="fa fa-arrow-right"></i></button>
					</td>
				</tr>
				<tr>
					<td style="width:10%" colspan="2" class="button-purple">
						<button data-dojo-attach-event="onMouseDown:switch_number">123</button>
					</td>
					<td style="width:10%" colspan="2" class="button-purple">
						<button data-dojo-attach-event="onMouseDown:switch_symbol">#+=</button>
					</td>
					<td style="width:10%" width="60%" colspan="12">
						<button data-dojo-attach-event="onMouseDown:press_space">space</button>
					</td>
					<td style="width:10%" colspan="2">
						<button data-dojo-attach-point="alphareturn" data-dojo-attach-event="onMouseDown:press_return"><i class="fa fa-level-down fa-rotate-90 fa-2x"></i></button>
					</td>
					<td style="width:10%" colspan="2" class=" button-red">
						<button data-dojo-attach-event="onMouseDown:press_del">DEL</button>
					</td>
				</tr>
			</tbody>
			<tbody data-dojo-attach-point="numberkeys" class="pprhidden">
				<tr>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_1">1</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_2">2</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_3">3</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_4">4</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_5">5</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_6">6</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_7">7</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_8">8</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_9">9</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_0">0</button>
					</td>
				</tr>
				<tr>
					<td style="width:5%"></td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_exclaim">!</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_question">?</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_b_open">(</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_b_close">)</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_pound">&pound;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_amp">&amp;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_percent">%</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_minus">-</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_slash">/</button>
					</td>
					<td style="width:5%"></td>
				</tr>
				<tr>
					<td style="width:10%" colspan="2" class="button-huge button-shift" data-dojo-attach-point="shiftpanelnumber">
						<button data-dojo-attach-point="shiftbtnnumber" data-dojo-attach-event="onClick:press_shift,onDblClick:press_lock">&#8679;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_dot">.</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_comma">,</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_colon">:</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_semi">;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_apos">'</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_quote">"</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_at">@</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large button-orange">
						<button title="Move left" data-dojo-attach-event="onMouseDown:move_left"><i class="fa fa-arrow-left"></i></button>
					</td>
					<td style="width:10%" colspan="2" class="button-large button-orange">
						<button title="Move right" data-dojo-attach-event="onMouseDown:move_right"><i class="fa fa-arrow-right"></i></button>
					</td>
				</tr>
				<tr>
					<td style="width:10%" colspan="2" class="button-purple">
						<button data-dojo-attach-event="onMouseDown:switch_alpha">ABC</button>
					</td>
					<td style="width:10%" colspan="2" class="button-purple">
						<button data-dojo-attach-event="onMouseDown:switch_symbol">#+=</button>
					</td>
					<td style="width:10%" width="60%" colspan="12">
						<button data-dojo-attach-event="onMouseDown:press_space">space</button>
					</td>
					<td style="width:10%" colspan="2">
						<button data-dojo-attach-point="numberreturn" data-dojo-attach-event="onMouseDown:press_return"><i class="fa fa-level-down fa-rotate-90 fa-2x"></i></button>
					</td>
					<td style="width:10%" colspan="2" class=" button-red">
						<button data-dojo-attach-event="onMouseDown:press_del">DEL</button>
					</td>
				</tr>
			</tbody>
			<tbody data-dojo-attach-point="symbolkeys" class="pprhidden">
				<tr>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_s_open">[</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_s_close">]</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_c_open">{</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_c_close">}</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_less">&lt;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_more">&gt;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_under">_</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_plus">+</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_times">*</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_equal">=</button>
					</td>
				</tr>
				<tr>
					<td style="width:5%"></td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_grave">`</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_pipe">|</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_acute">&#180;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_not">&#172;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_copy">&copy;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_reg">&reg;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_tilde">~</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_caret">^</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_back">\</button>
					</td>
					<td style="width:5%"></td>
				</tr>
				<tr>
					<td style="width:10%" colspan="2" class="button-huge button-shift" data-dojo-attach-point="shiftpanelsymbol">
						<button data-dojo-attach-point="shiftbtnsymbol" data-dojo-attach-event="onClick:press_shift,onDblClick:press_lock">&#8679;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_euro">&euro;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_dollar">$</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_yen">&yen;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_cent">&cent;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_currency">&curren;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_degree">&deg;</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large">
						<button data-dojo-attach-event="onMouseDown:press_hash">#</button>
					</td>
					<td style="width:10%" colspan="2" class="button-large button-orange">
						<button title="Move left" data-dojo-attach-event="onMouseDown:move_left"><i class="fa fa-arrow-left"></i></button>
					</td>
					<td style="width:10%" colspan="2" class="button-large button-orange">
						<button title="Move right" data-dojo-attach-event="onMouseDown:move_right"><i class="fa fa-arrow-right"></i></button>
					</td>
				</tr>
				<tr>
					<td style="width:10%" colspan="2" class="button-purple">
						<button data-dojo-attach-event="onMouseDown:switch_alpha">ABC</button>
					</td>
					<td style="width:10%" colspan="2" class="button-purple">
						<button data-dojo-attach-event="onMouseDown:switch_number">123</button>
					</td>
					<td style="width:10%" width="60%" colspan="12">
						<button data-dojo-attach-event="onMouseDown:press_space">space</button>
					</td>
					<td style="width:10%" colspan="2">
						<button data-dojo-attach-point="symbolreturn" data-dojo-attach-event="onMouseDown:press_return"><i class="fa fa-level-down fa-rotate-90 fa-2x"></i></button>
					</td>
					<td style="width:10%" colspan="2" class=" button-red">
						<button data-dojo-attach-event="onMouseDown:press_del">DEL</button>
					</td>
				</tr>
			</tbody>
		</table>
	</td><td class="input-nav">
		<table>
			<tr>
				<td class="button-orange">
					<button title="Previous Input" data-dojo-attach-event="onMouseDown:move_up"><i data-dojo-attach-point="nav_prev" class="fa fa-arrow-circle-up fa-2x"></i></button>
				</td>
			</tr>
			<tr>
				<td class="button-black">
					<button title="Close" data-dojo-attach-event="onMouseDown:_close"><i class="fa fa-times-circle fa-2x"></i></button>
				</td>
			</tr>
			<tr>
				<td class="button-orange">
					<button title="Next Input" data-dojo-attach-event="onMouseDown:move_down"><i data-dojo-attach-point="nav_next" class="fa fa-arrow-circle-down fa-2x"></i></button>
				</td>
			</tr>
		</table>
	</td></tr></table>
</div>