<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
<head>
<title>PRmax Licence awaiting Activation</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="AUTHOR" content="Chris Hoy"></meta>
<meta name="COPYRIGHT" content="Prmax System v${prmax['dojoversion']} ${prmax['copyright']}"></meta>
<style type="text/css"  media="screen" >
	@import "/static/${prmax['prodpath']}/css/expiry.css?version=${prmax['dojoversion']}";
</style>
</head>
<body >
	<div id="outerBox"><div id="innerBox">
		<p ><span class="white_text">Your</span><span class="prmax_text"> PRmax!</span><span class="white_text"> Account is Awaiting Activation</span></p>
		<p class="darkblue_text">Please contact sales on </p>
		<p class="darkblue_text">01582 380 199</p>
	</div></div>
</body></html>
