<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
<head>
	<title>Change Password</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="AUTHOR" content="Chris Hoy"></meta>
<meta name="COPYRIGHT" content="Prmax System v${prmax['dojoversion']} ${prmax['copyright']}"></meta>
<style type="text/css"  media="screen" >
	@import "/static/${prmax['prodpath']}/css/expiry.css?version=${prmax['dojoversion']}";
</style>
</head>
<body >
<div id="outerBox">
	<div id="innerBox">
		<p ><span class="white_text">${message1}</span></p>
		<p ><span class="white_text">${message2}</span></p>
		<p style="padding-left:20px">
			<form action="/start" method="POST">
				<table border="0">
					<tr><td><label for="pssw_name">New Password:</label></td><td><input type="password" id="pssw_name" name="pssw_name"/></td></tr>
					<tr><td><label for="pssw_conf">Confirm:</label></td><td><input type="password" id="pssw_conf" name="pssw_conf"/></td></tr>
					<tr><td></td><td><input class="button_class" style="width:180px;float:left;" type="submit" value="Submit"/></td></tr>
				</table>
			</form>
		</p>
	</div>
</div>
</body></html>
