<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
<head>
	<title>Prmax Payment Failed</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"></link>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<meta name="AUTHOR" content="Chris Hoy"></meta>
	<meta name="COPYRIGHT" content="Prmax System v${prmax['dojoversion']} ${prmax['copyright']}"></meta>
</head>
<body>
	<p>Payment Failed</p>
	<form action="/eadmin/payment_restart">
		<input type="submit" value="Try again"/>
	</form>
</body>
</html>
