<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
<head>
<title>PRmax Request a Demo</title>
<xi:include href="../std_header.html" />
<style type="text/css"  media="screen" >
<xi:include href="../std_definitions.css" parse="text" />
@import "/static/${prmax['prodpath']}/css/adept.css?version=${prmax['dojoversion']}";
html, body { width: 100%; height: 100%;overflow: hidden; border: 0; padding: 0; margin: 0;font-family: sArial, Helvetica, Sans-serif;font-size:12pt};

</style>
<script type="text/javascript" >
<xi:include href="../std_definitions.js" parse="text" />
</script>
<script type="text/javascript" src="/static/${prmax['dojopath']}/dojo/dojo.js?version=${prmax['dojoversion']}"></script>
<script type="text/javascript" src="/static/${prmax['dojopath']}/dojo/prmaxnewcustomer.js?version=${prmax['dojoversion']}"></script>
<script type="text/javascript">
dojo.require("prmax.customer.RequestDemo");
</script>
</head>
<body class="soria">
<div dojotype="dijit.layout.BorderContainer" style="width:100%;height:100%" >
	<div dojotype="dijit.layout.ContentPane" region="top" style="width:100%;height:71px" >
		<xi:include href="../marketing/marketing_header_new.html"  />
	</div>
	<div id ="customer_control_pane" dojotype="dijit.layout.ContentPane" region="center"  >
		<div dojotype="prmax.customer.RequestDemo" customertypeid="${customertypeid}" customersourceid="${customersourceid}" style="width:50%;height:100%" ></div>
	</div>
</div>
</body></html>
