<div >
	<div data-dojo-type="dijit.layout.ContentPane"  data-dojo-props='style:"width:650px;height:450px","class":"common_prmax_layout"'>
		<br style="height:1px"/>
		<form data-dojo-attach-point="form" data-dojo-type="dijit.form.Form" data-dojo-props='onSubmit:"return false"'>
			<div style="float:left;width:300px;height:350px">
				<label class="label_2" style="width:275px">User Defined Field 1<input data-dojo-type="dijit.form.CheckBox" data-dojo-attach-point="crm_user_define_1_on" data-dojo-props='"class":"input_field",type:"checkbox",name:"crm_user_define_1_on"' data-dojo-attach-event="onClick:_display_fields" ></label><br/>
				<label data-dojo-attach-point="crm_user_define_1_label" class="prmaxhidden label_2" style="width:50px;float:left">Label</label><input data-dojo-attach-point="crm_user_define_1" data-dojo-props='"class":"prmaxhidden",name:"crm_user_define_1",type:"text",required:false,trim:true,style:"float:left"' data-dojo-type="dijit.form.ValidationTextBox" />
				<br/><br/>
				<div data-dojo-type="prcommon.crm.userdefined" data-dojo-attach-point="crm_user_define_menu_1" data-dojo-props="fieldid:1"></div>
				<label class="label_2" style="width:275px">User Defined Field 2<input data-dojo-type="dijit.form.CheckBox" data-dojo-attach-point="crm_user_define_2_on" data-dojo-props='"class":"input_field",type:"checkbox",name:"crm_user_define_2_on"' data-dojo-attach-event="onClick:_display_fields"></label>
				<label data-dojo-attach-point="crm_user_define_2_label" class="prmaxhidden label_2" style="width:50px;float:left">Label</label><input data-dojo-attach-point="crm_user_define_2" data-dojo-props='"class":"prmaxhidden",name:"crm_user_define_2",type:"text",required:false,trim:true' data-dojo-type="dijit.form.ValidationTextBox" />
				<br/><br/>
				<div data-dojo-type="prcommon.crm.userdefined" data-dojo-attach-point="crm_user_define_menu_2" data-dojo-props="fieldid:2"></div>
			</div>
			<div style="float:left;width:300px;height:350px;margin-left:5px">
				<label class="label_2" style="width:275px">User Defined Field 3<input data-dojo-type="dijit.form.CheckBox" data-dojo-attach-point="crm_user_define_3_on" data-dojo-props='"class":"input_field",type:"checkbox",name:"crm_user_define_3_on"' data-dojo-attach-event="onClick:_display_fields"></label>
				<label data-dojo-attach-point="crm_user_define_3_label" class="prmaxhidden label_2" style="width:50px;float:left">Label</label><input data-dojo-attach-point="crm_user_define_3" data-dojo-props='"class":"prmaxhidden",name:"crm_user_define_3",type:"text",required:false,trim:true' data-dojo-type="dijit.form.ValidationTextBox" />
				<br/><br/>
				<div data-dojo-type="prcommon.crm.userdefined" data-dojo-attach-point="crm_user_define_menu_3" data-dojo-props="fieldid:3"></div>
				<label class="label_2" style="width:275px">User Defined Field 4<input data-dojo-type="dijit.form.CheckBox" data-dojo-attach-point="crm_user_define_4_on" data-dojo-props='"class":"input_field",type:"checkbox",name:"crm_user_define_4_on"' data-dojo-attach-event="onClick:_display_fields"></label>
				<label data-dojo-attach-point="crm_user_define_4_label" class="prmaxhidden label_2" style="width:50px;float:left">Label</label><input data-dojo-attach-point="crm_user_define_4" data-dojo-props='"class":"prmaxhidden",name:"crm_user_define_4",type:"text",required:false,trim:true' data-dojo-type="dijit.form.ValidationTextBox" />
				<br/><br/>
				<div data-dojo-type="prcommon.crm.userdefined" data-dojo-attach-point="crm_user_define_menu_4" data-dojo-props="fieldid:4"></div>
				<br/>
			</div><br/>
			<button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"fa fa-times fa-2x",type:"button",label:"Close",style:"float:left"'></button>
			<button data-dojo-attach-event="onClick:_save" data-dojo-attach-point="savebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='iconClass:"fa fa-2x fa-floppy-o",type:"button",busyLabel:"Please Wait Updating...",label:"Update","class":"btnright",style:"float:right"'></button>
		</form>
	</div>
</div>
