<div>
	<div data-dojo-attach-point="frame" data-dojo-type="dijit.layout.BorderContainer" data-dojo-point='style:"width:580px;height:100%",gutters:false' >
		<div data-dojo-type="dijit.layout.StackContainer" data-dojo-attach-point="display_view" data-dojo-props='region:"center"'>
			<div data-dojo-attach-point="tabcont" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region:'center',splitter:true,'class':'bordered'">
				<div data-dojo-attach-point="details_view"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="iconClass:'fa fa-pencil-square-o',title:'Details',style:'height:100%;width:500px;overflow :auto','class':'bordered scrollpane common_prmax_layout',selected:'selected'">
					<br/>
					<form data-dojo-attach-point="form" data-dojo-type="dijit.form.Form" data-dojo-props='onSubmit:"return false"'>
						<input data-dojo-attach-point="contacthistoryid"  data-dojo-props='name:"contacthistoryid",type:"hidden",value:"-1"' data-dojo-type="dijit.form.TextBox" />

						<input data-dojo-props='name:"outletid",type:"hidden",value:"-1"' data-dojo-attach-point="outletid"  data-dojo-type="dijit.form.TextBox" />
						<input data-dojo-props='name:"employeeid",type:"hidden",value:"-1"' data-dojo-attach-point="employeeid"  data-dojo-type="dijit.form.TextBox" />
						
						<label data-dojo-attach-point="contact_label" class="label_1">Contact</label><div data-dojo-props='name:"contact",placeHolder:"Select contact",required:false,style:"width:388px"' data-dojo-type="prmax.search.PersonSelect2" data-dojo-attach-point="contact"></div><br/><br/>
						
						<label class="label_1">Date</label><input data-dojo-props='type:"text",name:"taken",required:"true","class":"input_field input_date"' data-dojo-attach-point="taken" data-dojo-type="dijit.form.DateTextBox" ><label>Taken By</label><select data-dojo-props='name:"taken_by","class":"prmaxrequired",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Taken By",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="taken_by"></select><br/>
						<div class="prmaxhidden" data-dojo-attach-point="chud1_view" style="width:290px;padding-top:2px;float:left"><label data-dojo-attach-point="chud1_label" class="label_1">User Defined 1</label><select data-dojo-props='name:"chud1id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:140px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud1id"></select></div>
						<div class="prmaxhidden" data-dojo-attach-point="chud3_view" style="width:290px;padding-top:2px;float:left"><label data-dojo-attach-point="chud3_label" class="label_1">User Defined 3</label><select data-dojo-props='name:"chud3id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:140px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud3id"></select></div>
						<div class="prmaxhidden" data-dojo-attach-point="chud6_view"><br/></div>
						<div class="prmaxhidden" data-dojo-attach-point="chud2_view" style="width:290px;padding-top:2px;float:left"><label data-dojo-attach-point="chud2_label" class="label_1">User Defined 2</label><select data-dojo-props='name:"chud2id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:140px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud2id"></select></div>
						<div class="prmaxhidden" data-dojo-attach-point="chud4_view" style="width:290px;padding-top:2px;float:left"><label data-dojo-attach-point="chud4_label" class="label_1">User Defined 4</label><select data-dojo-props='name:"chud4id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:140px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud4id"></select></div>
						<div class="prmaxhidden" data-dojo-attach-point="chud5_view"><br/></div>
						<label class="label_1" data-dojo-attach-point="issue_label_1">Primary Issue</label><select data-dojo-props='"class":"prmaxrequired",name:"issueid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Select",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="issueid" data-dojo-attach-event="onChange:_issue_selected"></select>
						<button data-dojo-attach-event="onClick:_new_issue" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"New",iconClass:"fa fa-plus"'></button><br/>
						<label data-dojo-attach-point="subject_label_1" class="label_1">Subject</label><input data-dojo-props='type:"text",name:"crm_subject",style:"width:388px;margin-bottom:2px"' data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="crm_subject" /><br/>
						<label class="label_1">Call Type</label>
						<select data-dojo-props='"class":"prmaxrequired",name:"contacthistorytypeid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Select",labelType:"html",style:"float:left;width:140px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="contacthistorytypeid"></select>
						<label class="label_1" style="float:left">Status</label>
						<select data-dojo-props='"class":"prmaxrequired",name:"contacthistorystatusid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Status",labelType:"html",style:"float:left;width:140px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="contacthistorystatusid"></select><br/>
						<label class="label_1">Briefing Notes</label><div class="stdframe" style="height:50px;width:95%"><textarea data-dojo-attach-point="details" data-dojo-props='name:"details",trim:true,required:true,style:"width:99%;height:99%"' data-dojo-type="dijit.form.Textarea" ></textarea></div>
						<label class="label_1" data-dojo-attach-point="outcome_label_1">Outcome</label><div class="stdframe" style="height:50px;width:95%"><textarea data-dojo-attach-point="outcome" data-dojo-props='name:"outcome",trim:true,style:"width:99%;height:99%"' data-dojo-type="dijit.form.Textarea" ></textarea></div>

						<button data-dojo-attach-event="onClick:_send_reply" data-dojo-attach-point="sendreplybtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Send Reply","class":"btnleft",iconClass:"fa fa-envelope-o"'></button><br />

						<label class="label_1" >Response</label><div class="stdframe" style="height:50px;width:95%"><textarea data-dojo-attach-point="crm_response" data-dojo-props='name:"crm_response",trim:true,style:"width:99%;height:99%"' data-dojo-type="dijit.form.Textarea" ></textarea></div>
						<label data-dojo-attach-point="client_label" class="label_1">Client</label><select data-dojo-props='name:"clientid",autoComplete:true,searchAttr:"clientname",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="clientid" ></select><button data-dojo-attach-event="onClick:_new_client" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"New",iconClass:"fa fa-plus"'></button><br/>
						<label class="label_1">Document</label><select data-dojo-props='name:"documentid",autoComplete:true,searchAttr:"description",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="documentid" ></select><button data-dojo-attach-event="onClick:_new_document" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"New",iconClass:"fa fa-plus"'></button><br/>
						<label class="label_1">Follow Up<input data-dojo-props='"class":"prmaxdefault",type:"checkbox",name:"follow_up_view_check"' data-dojo-attach-point="follow_up_view_check" data-dojo-type="dijit.form.CheckBox" data-dojo-attach-event="onClick:_follow_up_view_change"/></label><br/>
						<div data-dojo-attach-point="follow_up_view" class="prmaxhidden">
							<label class="label_1">Follow up date</label>
							<input data-dojo-props='type:"text",name:"follow_up_date",required:true,style:"width:140px;float:left"' data-dojo-attach-point="follow_up_date" data-dojo-type="dijit.form.DateTextBox" >
							<label class="label_1">Follow up by</label>
							<select data-dojo-props='"class":"prmaxrequired",name:"follow_up_ownerid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Follow Up Only",labelType:"html",style:"width:140px;float:left"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="follow_up_ownerid"></select><br/>
						</div>
						<div data-dojo-type="prcommon.crm.issues.selectmultiple" data-dojo-props='style:"width:96%",displaytitle:"Other Issues",displayselect:"",name:"extraissues",startopen:false' data-dojo-attach-point="extraissues"></div>
					<button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Close","class":"btnleft",iconClass:"fa fa-close fa-2x"'></button>
						<button data-dojo-attach-event="onClick:_delete" data-dojo-attach-point="deletebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Deleting...",label:"Delete","class":"btnleft",iconClass:"fa fa-trash-o  fa-2x"'></button>
						<button data-dojo-attach-event="onClick:_save" data-dojo-attach-point="savebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Updating...",label:"Update","class":"btnright",iconClass:"fa fa-floppy-o fa-2x"'></button>
					</form>
				
					<div data-dojo-attach-point="person_select_dlg" data-dojo-type="prmax.search.PersonSelect"></div>
					
				</div>
				<div data-dojo-attach-point="history"  data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="iconClass:'fa fa-history',title:'History',style:'height:100%;width:100%;overflow :auto','class':'bordered scrollpanel'">
					<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region: "center"'>
						<div data-dojo-attach-point="history_grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='query:{ },rowsPerPage:30,style:"width:100%;height:100%"' ></div>
					</div>
					<div data-dojo-attach-point="history_view_ctrl" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region: "right",style:"width:70%;height:100%;overflow:auto"'></div>
				</div>
			</div>
			<div data-dojo-attach-point="blank"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'blank',style:'height:100%;width:500px',selected:'selected'"></div>
		</div>
	</div>
	<div data-dojo-attach-point="new_issue_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"New Issue"'>
		<div data-dojo-attach-point="new_issue_ctrl" data-dojo-type="prcommon.crm.issues.add"></div>
	</div>
	<div data-dojo-type="dijit.Dialog" data-dojo-attach-point="client_add_dialog" data-dojo-props='title:"Add New Client",style:"width:700px;height:600px"'>
		<div data-dojo-type="prmax.customer.clients.add" data-dojo-attach-point="client_add_ctrl"></div>
	</div>
	<div data-dojo-attach-point="send_reply_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"Send Reply", style:"width:550px;height:550px"'>
		<div data-dojo-attach-point="send_reply_ctrl" data-dojo-type="prcommon.crm.responses.sendreply"></div>
	</div>

</div>
