<div style="margin:10px">
	<form data-dojo-attach-point="form" onsubmit="return false" data-dojo-type="dijit.form.Form" data-dojo-point='style:"margin:15px"'>
		<p data-dojo-attach-point='message' data-dojo-props='value:""'></p>
		<table width="98%" class="prmaxtable" cellpadding="0" cellspacing="0" border="0">
			<tr><td>&nbsp</td></tr>
			<tr><td align="right" width="20%" class="prmaxrowtag"><label>Email</label></td><td><input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="recovery_email" data-dojo-props='regExpGen:dojox.validate.regexp.emailAddress,invalidMessage:"invalid email address", name:"recovery_email",required:true,trim:true,type:"text",style:"width:320px"'></td></tr>
<!--
			<tr><td align="right" width="20%" class="prmaxrowtag"><label>Phone</label></td><td><input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="recovery_phone" data-dojo-props='name:"recovery_phone",trim:true,type:"text",style:"width:300px"'></input></td></tr>
-->
			<tr><td align="right" width="20%" class="prmaxrowtag"><label>Secret Word</label></td><td><input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="recovery_word" data-dojo-props='name:"recovery_word",trim:true,type:"text",style:"width:150px", required:true'></input></td></tr>

			<tr><td>&nbsp</td></tr>
			<tr><td class="prmaxrowtag" align="left"><button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Close","class":"btnleft",iconClass:"fa fa-close fa-2x"'></button></td>
				<td class="prmaxrowtag" align="right"><button data-dojo-attach-event="onClick:_save" data-dojo-attach-point="savebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='style:"float:right", type:"button",busyLabel:"Please Wait Saving...",label:"Save","class":"btnright",iconClass:"fa fa-floppy-o fa-2x"'></button></td></tr>
		</table>
	</form>

</div>
