<div dojoAttachPoint="containerNode" >
<div style="float:left" dojoAttachPoint="titleNode" class="prmaxrowtag"></div>
<div  style="float:left" ><input name="selection" dojoAttachPoint="allNode" dojoType="dijit.form.RadioButton" dojoAttachEvent="onClick:_Click" checked="checked" type="radio" value="-1" /></div><div  style="float:left" ><label  dojoAttachPoint="allNodeLabel" for="1" class="prmaxlabeltag">All</label></div>
<div  style="float:left" ><input disabled="disabled" name="selection" dojoAttachPoint="selectedNode" dojoType="dijit.form.RadioButton" dojoAttachEvent="onClick:_Click" type="radio" value="1" /></div ><div style="float:left"><label dojoAttachPoint="selectedNodeLabel" for="2" class="prmaxlabeltag">Marked</label></div>
<div  style="float:left" ><input disabled="disabled" name="selection"  dojoAttachPoint="unselectedNode" dojoType="dijit.form.RadioButton" dojoAttachEvent="onClick:_Click" type="radio" value="0" /></div><div  style="float:left" ><label dojoAttachPoint="unselectedNodeLabel" for="3" class="prmaxlabeltag">Un Marked</label></div>
</div>
