<table>
<tr><td colspan="2" align="center"><b><p>Product and Technical Support</p></b></td></tr>
<tr><td colspan="2" >&nbsp;</td></tr>
<tr><td><p>Hours: Monday to Friday 9am to 5pm (Closed Bank Holidays)</p></td></tr>
<tr><td colspan="2" >&nbsp;</td></tr>
<tr><td colspan="2" align="center"><b><p>Training and Technical Support</p></b></td></tr>
<tr><td><p>Tel: 01582 380 198</p></td></tr>
<tr><td><p>Email: <a href="mailto:support@prmax.co.uk?subject=PRmax%20Support%20Issue" >PRmax Support</a></p></td></tr>
<tr><td colspan="2" >&nbsp;</td></tr>
<tr><td colspan="2" align="center"><b><p>Data Feedback</p></b></td></tr>
<tr><td><p>Tel: 01582 380 191</p></td></tr>
<tr><td><p>Email: <a href="mailto:feedback@prmax.co.uk?subject=PRmax%20Support%20Issue">PRmax Data Feedback</a></p></td></tr>
</table>

