<div>
  <form class="prmaxdefault" dojoAttachPoint="form" dojoType="dijit.form.Form" onSubmit="return false;">
    <table style="margin:10px;width:300px" class="prmaxtable" cellspacing="0" cellpadding="0">
      <tr><td width="30%" class="prmaxrowtag" align="right">Offset</td><td><input type="text" name="row_offset" style="width:5em" dojoType="dijit.form.NumberTextBox" value="0" required="true" dojoAttachPoint="row_offset" ></td></tr>
      <tr><td width="30%" class="prmaxrowtag" align="right">Number of Rows</td><td><input type="text" name="row_limit" style="width:5em" dojoType="dijit.form.NumberTextBox" value="500" required="true" dojoAttachPoint="row_limit" ></td></tr>
			<tr><td colspan="2">&nbsp;</td></tr><tr><td colspan="2">&nbsp;</td></tr>
			<tr><td align="left"><button class="prmaxbutton" dojoAttachEvent="onClick:_Close" dojoType="dijit.form.Button" label="Close"></button></td><td align="right"><button type="button" class="prmaxbutton" dojoAttachPoint="okbtn" dojoAttachEvent="onClick:_Mark" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Marking..." label="Mark"></button></td></tr>
    </table>
  </form>
</div>