<div>
	<form  data-dojo-attach-point="collateral_form" method="post" name="collateral_form" enctype="multipart/form-data"  onSubmit="return false;">
		<input class="prmaxinput" type="hidden" data-dojo-attach-point="collateral_cache" name="collateral_cache" value="-1">
		<table width="99%" border="0" cellpadding="0" cellspacing="1" >
			<tr><td width="120px" align="right" class="prmaxrowtag">File Name</td><td><input size="30" class="prmaxinput" type="file" data-dojo-attach-point="collateral_file" name="collateral_file"></td></tr>
			<tr><td align="right" class="prmaxrowtag">Code</td><td><input data-dojo-props='style:"width:98%", "class":"prmaxrequired", name:"collateralcode", type:"text", invalidMessage:"Code field must be filled in", maxLength:20, trim:true, required:true' data-dojo-attach-point="collateral_code" data-dojo-type="dijit.form.ValidationTextBox" /></td></tr>
			<tr><td align="right" class="prmaxrowtag">Description</td><td><input data-dojo-props='style:"width:98%", "class":"prmaxrequired", name:"collateralname", type:"text", maxLength:45, trim:true, required:true, invalidMessage:"Description field must be filled in"' data-dojo-attach-point="collateral_name" data-dojo-type="dijit.form.ValidationTextBox"/></td></tr>
			<tr><td align="right" class="prmaxrowtag">Press Release</td><td><select data-dojo-attach-point="emailtemplateid" data-dojo-props='searchAttr:"emailtemplatename", labelType:"html", style:"width:98%", name:"emailtemplateid"' data-dojo-type="dijit.form.FilteringSelect" /></td></tr>
			<tr><td align="right" class="prmaxrowtag">Client</td><td><select data-dojo-attach-point="clientid" data-dojo-props='searchAttr:"clientname", labelType:"html", style:"width:98%", name:"clientid"' data-dojo-type="dijit.form.FilteringSelect" /></td></tr>
			<tr><td colspan = "2" >&nbsp;</td></tr>
			<tr><td class="prmaxrowtag" valign="top" colspan="2" ><div data-dojo-props='"class":"prmaxhidden", name:"collateral_projects", startopen:true' data-dojo-attach-point="collateral_projects" data-dojo-type="prmax.projects.projectselect"></div></td></tr>
			<tr><td colspan = "2" >&nbsp;</td></tr>
			<tr><td colspan = "2" ><span data-dojo-attach-point="progressNode" style="display:none;"><div data-dojo-type="dijit.ProgressBar" data-dojo-attach-point="progressControl" data-dojo-props='style:"width:200px", indeterminate:true'></div></span></td></tr>
			<tr><td align="left"><button data-dojo-props='"class":"prmaxbutton prmaxhidden", label:"Close", type:"button"' data-dojo-attach-point="clearNode" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_Close"></button></td>
					<td align="right"><button data-dojo-props='"class":"prmaxbutton", type:"button", label:"Add"' data-dojo-attach-point="saveNode" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_Add"></button></td>
			</tr>
		</table>
	</form>
</div>
