[global]
# This is where all of your settings go for your development environment
# Settings that are the same for both development and production
# (such as template engine, encodings, etc.) all go in
# prpublish/config/app.cfg

prmax.web = "http://test.prmax.co.uk/"
prpublish.web = "http://prpublish.test.prmax.co.uk/"
prtwitter.waittime = 60


mako.directories = ['C:\\Projects\\prmax\\development\\prmax\\','C:\\Projects\\prmax\\development\\prcommon']

# DATABASE

# driver://username:password@host:port/database

# pick the form for your database
# sqlalchemy.dburi="postgres://username@hostname/databasename"
# sqlalchemy.dburi="mysql://username:password@hostname:port/databasename"
# sqlalchemy.dburi="sqlite:///relative/path/to/database/file"
# sqlalchemy.dburi="sqlite:////absolute/path/to/database/file"

# If you have sqlite, here's a simple default to get you started
# in development

prmaxcollateral.dburi="postgres://prmaxservice:VVD8MuRF@localhost/prmaxcollateral"

sqlalchemy.dburi="postgresql://prmaxservice:VVD8MuRF@localhost/prmax"
sqlalchemy.convert_unicode=True
sqlalchemy.encoding='utf-8'
sqlalchemy.echo=False
sqlalchemy.server_side_cursors=True

# Some server parameters that you may want to tweak
server.socket_port=1
server.socket_host="127.0.0.1"

base_url_filter.on = True
base_url_filter.use_x_forwarded_host = True


# Enable the debug output at the end on pages.
# log_debug_info_filter.on = False

server.environment="development"

# Auto-Reload after code modification

# Set to True if you'd like to abort execution if a controller gets an
# unexpected parameter. False by default
tg.strict_parameters = False
