<div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"left",style:"width:50%;height:100%"' class="scrollpanel">
		<form  data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-props='onsubmit:"return false;"'>
			<input data-dojo-props='type:"hidden",name:"questionnaireid",value:"-1"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="questionnaireid">
			<table width="100%" cellspacing="1" cellpadding="1">
				<tr>
					<td align="right" class="prmaxrowtag" width="120px">Name</td>
					<td>
						<table style="width:99%;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
							<tr><td class="prmaxrowtag" width="50px">Prefix</td><td class="prmaxrowtag" width="120px">First</td>
										<td class="prmaxrowtag">Surname</td>
								</tr>
							<tr>
								<td><input data-dojo-props='type:"text",trim:true,style:"width: 2em","class":"prmaxinput",name:"prefix"' data-dojo-attach-point="prefix" data-dojo-type="dijit/form/TextBox"></input></td>
								<td><input data-dojo-props= '"class":"prmaxinput",name:"firstname",style:"width: 5em;",type:"text",trim:true' data-dojo-attach-point="firstname" data-dojo-type="dijit/form/TextBox"></input></td>
								<td><input data-dojo-attach-point="familyname" data-dojo-props='name:"familyname", type:"text", trim:true, required:"true",style:"width: 18em"' data-dojo-type="dijit/form/ValidationTextBox"></input></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td align="right" class="prmaxrowtag">Www</td><td><input data-dojo-attach-point="www" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"www",type:"text",maxlength:"120",style:"width:90%",trim:true' /></td></tr>
				<tr><td align="right" class="prmaxrowtag">Blog</td><td><input data-dojo-attach-point="blog" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"blog",type:"text",maxlength:"120",style:"width:90%",trim:true' /></td></tr>
				<tr><td align="right" class="prmaxrowtag">Address</td><td><input data-dojo-attach-point="address1" data-dojo-props='name:"address1",type:"text",trim:true,invalidMessage:"Please enter address",style:"width:70%"' data-dojo-type="dijit/form/ValidationTextBox"></input></td></tr>
				<tr><td align="right" class="prmaxrowtag">Street/District</td><td><input data-dojo-attach-point="address2"data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"address2",type:"text",trim:true,style:"width:70%"'></input></td></tr>
				<tr><td align="right" class="prmaxrowtag">Town/City</td><td><input data-dojo-attach-point="townname" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"townname",type:"text",trim:true,style:"width:70%"'></input></td></tr>
				<tr><td align="right" class="prmaxrowtag">County</td><td><input data-dojo-attach-point="county" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"county",type:"text",trim:true,style:"width:70%"'></input></td></tr>
				<tr><td align="right" class="prmaxrowtag">Post code</td><td><input data-dojo-attach-point="postcode" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"postcode",type:"text",trim:true,style:"width:10em"'></input></td></tr>
				<tr><td align="right" class="prmaxrowtag">Country</td><td><select data-dojo-props='style:"width:90%",name:"countryid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Please select Country Name",labelType:"html"' data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="countryid"></select></td></tr>
				<tr><td align="right" class="prmaxrowtag">Tel</td><td><input data-dojo-attach-point="tel" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"tel",type:"text",maxlength:40,trim:true,style:"width:60%"' /></td></tr>
				<tr><td align="right" class="prmaxrowtag">Mobile</td><td><input data-dojo-attach-point="mobile" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"mobile",type:"text",maxlength:40,trim:true,style:"width:60%"' /></td></tr>
				<tr><td align="right" class="prmaxrowtag">Fax</td><td><input data-dojo-attach-point="fax" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"fax",type:"text",maxlength:40, trim:true,style:"width:60%"'/></td></tr>
				<tr><td align="right" class="prmaxrowtag">Email</td><td><input data-dojo-attach-point="email" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"email",type:"text",pattern:dojox.validate.regexp.emailAddress, trim:true,invalidMessage:"invalid email address",size:20,maxlength:70,style:"width:90%"'></td></tr>
				<tr><td align="right" class="prmaxrowtag">Twitter</td><td><input data-dojo-attach-point="twitter" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='name:"twitter",type:"text",maxlength:80,trim:true,style:"width:90%"'/>
				<tr><td align="right" class="prmaxrowtag">Facebook</td><td><input data-dojo-attach-point="facebook" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"facebook",type:"text",maxlength:80,trim:true,style:"width:90%"'/></td></tr>
				<tr><td align="right" class="prmaxrowtag">Linkedin</td><td><input data-dojo-attach-point="linkedin" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"linkedin",type:"text",maxlength:80,trim:true,style:"width:90%"' /></td></tr>
				<tr><td align="right" class="prmaxrowtag" valign="top">Writes about&nbsp;</td><td data-dojo-attach-point="interests_org"></td></tr>
				<tr><td class="prmaxrowtag" colspan="2" valign="top">Update Writes about - In the box below please add, amend or request deletion of the areas of interest.</td></tr>
				<tr><td></td><td><div class="fixedsmalltextframe"><textarea data-dojo-attach-point="interests" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"interests",style:"width:99%;height:99%",placeHolder:"add, amend or request deletion of the areas of interest"'></textarea></div></td></tr>
		</table>
		</form>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"right",style:"width:50%;height:100%"' class="scrollpanel">
		<div style="border:1px solid black;text-align: center;vertical-align: middle; margin: auto;margin: 5%;font-size:1.1em;padding:4px">
			<p style="text-align:center"><b>Welcome to the PRmax freelancer update</b></p>
			<p style="text-align:center">Please check the information in the fields and amend as necessary.</p>
			<p style="text-align:center">You can save any amendments made at anytime by selecting the "Save" button in the bottom right hand corner of the screen.</p>
			<p style="text-align:center">The deadline for each update is given in the top right hand corner of the screen. In total you will receive two reminders to update your listing before the deadline passes.</p>
			<p style="text-align:center">When your update is complete press the Save button and close the browser tab or page.</p>
			<p style="text-align:center">If you have any questions please email the Research team at <a data-dojo-attach-point="support_email_address" target="_blank" href="mailto:updatesh@prmax.co.uk">updates@prmax.co.uk</a></p>
		</div>
		<br/>
		<p style="text-align:center" class="prmaxrowtag">Profile</p>
		<div class="stdtextframe2"><textarea data-dojo-attach-point="editorialprofile" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"editorialprofile",style:"width:99%;height:99%;font-family:sans-serif;font-size:10pt"' ></textarea></div>
	</div>
</div>
