<div >
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='style:"width:50%;height:100%",splitter:true,region:"left",gutters:true'>
		<div data-dojo-attach-point="outlet_contact_grid_view" data-dojo-type="dijit/layout/ContentPane" data-dojo-props='splitter:false,region:"center"'></div>
		<div data-dojo-props='region:"bottom",style:"width:100%;height:44px"' data-dojo-type="dijit/layout/ContentPane" >
				<table style="width:100%;border-collapse:collapse;" border="0">
					<tr>
						<td align="left"><button data-dojo-attach-event="onClick:_show_add" data-dojo-type="dijit/form/Button" data-dojo-props='type:"button",label:"Add Journalist"'></button></td>
						<td><p>Click on a name to edit the details of the journalist</p></td>
					</tr>
				</table>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/StackContainer" data-dojo-attach-point="contact_edit_container" data-dojo-props='region:"center",splitter:true' >
		<div data-dojo-props='title:"blank_cont_view"' data-dojo-attach-point="blank_cont_view" data-dojo-type="dijit/layout/ContentPane" ></div>
		<div data-dojo-props='title:"contact_edit"' data-dojo-attach-point="contact_edit_view" data-dojo-type="dijit/layout/BorderContainer">
			<div data-dojo-props='title:"contact_edit","class":"scrollpanel",region:"center"' data-dojo-attach-point="contact_edit" data-dojo-type="dijit/layout/ContentPane">
				<form  data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-props='onsubmit:"return false;"'>
					<input data-dojo-props='type:"hidden",name:"objectid",value:"-1"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="objectid">
					<input data-dojo-props='type:"hidden",name:"questionnaireid",value:"-1"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="questionnaireid">
					<input data-dojo-props='type:"hidden",name:"typeid",value:"E"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="typeid">
					<p class="prmaxrowdisplaylarge" style="text-align:center" data-dojo-attach-point="contact_mode"></p>
					<table style="width:100%;border-collapse:collapse;" cellspacing="1" cellpadding="1" border="0">
						<tr>
							<td align="right" class="prmaxrowtag" width="120px">Contact</td>
							<td>
								<table style="width:99%;border-collapse:collapse;" cellspacing="0" cellpadding="0" border="0">
									<tr><td class="prmaxrowtag" width="50px" >Prefix</td><td class="prmaxrowtag" width="120px" >First</td>
												<td class="prmaxrowtag">Surname</td>
										</tr>
									<tr>
										<td><input data-dojo-props='type:"text",trim:true,style:"width: 2em","class":"prmaxinput",name:"prefix"' data-dojo-attach-point="prefix" data-dojo-type="dijit/form/TextBox" ></input></td>
										<td><input data-dojo-props= '"class":"prmaxinput",name:"firstname",style:"width: 5em;",type:"text",trim:true' data-dojo-attach-point="firstname" data-dojo-type="dijit/form/TextBox" ></input></td>
										<td><input data-dojo-attach-point="familyname" data-dojo-props='name:"familyname", type:"text", trim:true, required:"true",style:"width: 18em"' data-dojo-type="dijit/form/ValidationTextBox" ></input></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td align="right" class="prmaxrowtag">Job Title</td><td><input data-dojo-attach-point="job_title" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='name:"job_title",type:"text",maxlength:80,trim:true,required:true,style:"width:90%"'/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Direct Tel</td><td><input data-dojo-attach-point="tel" data-dojo-props='"class":"prmaxinput",name:"tel",type:"text",size:25,maxlength:40' data-dojo-type="dijit/form/TextBox"/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Fax</td><td><input data-dojo-attach-point="fax" data-dojo-type="dijit/form/TextBox" data-dojo-props='"class":"prmaxinput",name:"fax",type:"text",size:25,maxlength:40' /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Mobile</td><td><input data-dojo-props='"class":"prmaxinput",name:"mobile",type:"text",size:25,maxlength:40' data-dojo-attach-point="mobile" data-dojo-type="dijit/form/TextBox"/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Email</td><td ><input data-dojo-attach-point="email"  data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"email",type:"text",pattern:dojox.validate.regexp.emailAddress,trim:true,invalidMessage:"invalid email address",style:"width:90%",maxlength:70'></td></tr>
						<tr><td align="right" class="prmaxrowtag">Twitter</td><td><input data-dojo-attach-point="twitter" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='name:"twitter",type:"text",maxlength:80,trim:true,style:"width:70%"'/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Facebook</td><td><input data-dojo-attach-point="facebook" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"facebook",type:"text",maxlength:80,trim:true,style:"width:90%"'/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Linkedin</td><td><input data-dojo-attach-point="linkedin" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"linkedin",type:"text",maxlength:80,trim:true,style:"width:90%"' /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Instagram</td><td><input data-dojo-attach-point="instagram" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"instagram",type:"text",maxlength:80,trim:true,style:"width:90%"' /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Different Address</td><td><input data-dojo-props='name:"alt_address",type:"checkbox"' data-dojo-attach-point="no_address"  data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onClick:_address_show" /><p style="display:inline;padding:0px;margin:0px">&nbsp;(If a journalist has a different address to the outlet tick the box)</p></td></tr>
						<tr data-dojo-attach-point="addr1" class="prmaxhidden" ><td align="right" class="prmaxrowtag">Address1</td><td><input data-dojo-attach-point="address1" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='style:"margin-left:10px","class":"prmaxinput",name:"address1",type:"text",trim:true,invalidMessage:"Please enter address",style:"width:90%"'></input></td></tr>
						<tr data-dojo-attach-point="addr2" class="prmaxhidden" ><td align="right" class="prmaxrowtag">Address2</td><td><input data-dojo-attach-point="address2" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='style:"margin-left:10px","class":"prmaxinput",name:"address2",type:"text",trim:true,style:"width:90%"'></input></td></tr>
						<tr data-dojo-attach-point="addr3" class="prmaxhidden" ><td align="right" class="prmaxrowtag">Town</td><td><input data-dojo-attach-point="townname" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"townname",type:"text",trim:true,style:"width:90%"' ></input></td></tr>
						<tr data-dojo-attach-point="addr4" class="prmaxhidden" ><td align="right" class="prmaxrowtag">County</td><td><input data-dojo-attach-point="county" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"county",type:"text",trim:true,style:"width:90%"' ></input></td></tr>
						<tr data-dojo-attach-point="addr5" class="prmaxhidden" ><td align="right" class="prmaxrowtag">Post Code</td><td><input data-dojo-attach-point="postcode" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"postcode",type:"text",trim:true,style:"width:10em"' ></input></td></tr>
						<tr><td align="right" class="prmaxrowtag" valign="top" >Writes about&nbsp;</td><td data-dojo-attach-point="interests_org"></td></tr>
						<tr><td class="prmaxrowtag" colspan="2" valign="top" >Update Writes about - In the box below please add, amend or request deletion of the areas of interest.</td></tr>
						<tr><td></td><td><div class="fixedsmalltextframe" ><textarea data-dojo-attach-point="interests" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"interests",style:"width:99%;height:99%",placeHolder:"add, amend or request deletion of the areas of interest"'  ></textarea></div></td></tr>
					</table>
				</form>
			</div>
			<div data-dojo-props='region:"bottom",style:"width:100%;height:50px"' data-dojo-type="dijit/layout/ContentPane">
				<table style="width:100%;border-collapse:collapse;" border="0">
					<tr>
						<td align="left"><button data-dojo-attach-point="removebtn" data-dojo-attach-event="onClick:_remove_contact" data-dojo-type="dojox/form/BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Removing Journalist...",label:"Remove Journalist"'></button></td>
						<td align="right"><button data-dojo-attach-point="updatebtn" data-dojo-attach-event="onClick:_save_contact" data-dojo-type="dojox/form/BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Saving ...",label:"Save Journalist"'></button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
