include start-prmaxresearch.py
include *.cfg
include prmaxresearch/config/*.cfg
recursive-include prmaxresearch/templates *.html
recursive-include prmaxresearch/templates *.mak
recursive-include prmaxresearch/static *
