<div class="prmaxhidden">
	<form  data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" onsubmit="return false;" style="width:100%;height:100%">
		<br/>
		<input type="hidden" name="outletid" value="-1" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="outletid">
		<input type="hidden" name="advancefeatureid" value="-1" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="advancefeatureid">
		<table style="width:97%" cellpadding="1" cellspacing="0">
			<tr><td align="right" class="prmaxrowtag" width="120px">Editorial Date</td><td><input data-dojo-props='type:"text",style:"width:25em",name:"editorial",required:false' data-dojo-attach-point="editorial_date" data-dojo-type="prcommon2/date/DateExtended" /></td></tr>
			<tr><td align="right" class="prmaxrowtag">Cover Date</td><td><input data-dojo-props='style:"width:25em",name:"cover",required:true' data-dojo-type="prcommon2/date/DateExtended" data-dojo-attach-point="cover_date"></td></tr>
			<tr><td align="right" class="prmaxrowtag">Publication Date</td><td><input data-dojo-props='style:"width:25em",name:"publicationdate",required:true' data-dojo-type="prcommon2/date/DateExtended" data-dojo-attach-point="publication_date"></td></tr>
			<tr><td align="right" class="prmaxrowtag">Summary</td><td><input data-dojo-props='maxLength:120,required:true,style:"width:95%",name:"feature",type:"text"' data-dojo-attach-point="feature" data-dojo-type="dijit/form/ValidationTextBox" ></td></tr>
			<tr><td align="right" class="prmaxrowtag">Contact</td><td><select data-dojo-props='style:"width:100%",name:"employeeid","class":"prmaxinput",autoComplete:true,searchAttr:"displayname",labelAttr:"displayname",labelType:"html",maxlength:80' data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="employeeid" ></select></td></tr>
			<tr><td align="right" class="prmaxrowtag">Feature Details</td><td>&nbsp;	</td></tr>
			<tr><td colspan="2"><div class="stdframe" style="height:200px;margin-left:10px"><textarea data-dojo-attach-point="featuredescription" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"featuredescription",required:true,style:"height:300px;width:99%"'></textarea></div></td></tr>
<!--
			<tr><td align="right" class="prmaxrowtag" valign="top" >Feature Interest</td><td><div data-dojo-attach-point="interests" data-dojo-type="prcommon2/interests/Interests" data-dojo-props='"name":"interests",selectonly:true,size:6,displaytitle:"",startopen:"",restrict:0,keytypeid:-1,title:"Select"'></div></td></tr>
			<tr><td align="right" class="prmaxrowtag" >Reason Code</td><td ><select data-dojo-attach-point="reasoncodeid" data-dojo-type ="dijit/form/Select" data-dojo-props='name:"reasoncodeid",searchAttr:"name",labelType:"html",class:"prmaxrequired"'  /></td></tr>
-->
			<tr><td align="right" colspan="2"><br/><button data-dojo-attach-point="savenode" data-dojo-type="dojox/form/BusyButton" data-dojo-props='type:"button","class":"prmaxbutton",busyLabel:"Please Wait Saving...",label:"Save",iconClass:"fa fa-floppy-o fa-2x"' data-dojo-attach-event="onClick:_save"></button></td></tr>
		</table>
	</form>
</div>
