<div>
	<div data-dojo-props='region:"top",style:"width:100%;height:30px","class":"prmaxrowdisplaytitle"' data-dojo-attach-point="blank_cont_view" data-dojo-type="dijit/layout/ContentPane" >
		<p style="color:white;padding:0px;margin:0px;text-align:middle" data-dojo-attach-point="outlet_details_view"></p>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='style:"overflow:auto;overflow-x:hidden",region:"center"' >
		<form  data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-props='onsubmit:"return false;"'>
		<br/>
			<input data-dojo-props='type:"hidden",name:"outletid",value:"-1"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="outletid">
			<table width="98%" cellspacing="0" cellpadding="0">
				<tr><td align="right" class="prmaxrowtag">Media Channel</td><td class="prmaxrowdisplay"><select data-dojo-props='style:"width:90%","class":"prmaxrequired",name:"prmax_outlettypeid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Please select outlet type",labelType:"html"' data-dojo-type="dijit/form/FilteringSelect"  data-dojo-attach-point="prmax_outlettypeid"></select></td></tr>
			</table>
		</form>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"bottom",style:"width:100%;height:3em;padding-right:3px;"'>
		<table width="99%" cellspacing="0" cellpadding="0">
			<tr><td align="right"><button data-dojo-attach-point="updatebtn" data-dojo-attach-event="onClick:_update" data-dojo-type="dojox/form/BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Saving Outlet...",label:"Save"'></button></td></tr>
		</table>
	</div>
</div>
