<div>
	<div data-dojo-attach-point="frame" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='gutters:false,style:"width:100%;height:100%"' >
		<div data-dojo-type="dijit.layout.StackContainer" data-dojo-attach-point="display_view" data-dojo-props='region:"center"'>
			<div title="blank" data-dojo-attach-point="blank" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='selected:"selected",style:"width:100%;height:100%"'></div>
			<div data-dojo-attach-point="tabcont" data-dojo-type="dijit.layout.TabContainer" data-dojo-props='region:"center",splitter:true,style:"width:100%;height:100%"'>
				<div data-dojo-attach-point="details"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="iconClass:'fa fa-tasks',title:'Task',style:'height:100%;width:500px;overflow :auto','class':'bordered scrollpane',selected:'selected'">
					<form data-dojo-attach-point="form_update"  data-dojo-props='onsubmit:"return false"' data-dojo-type="dijit.form.Form">
						<input data-dojo-props='type:"hidden",name:"taskid"' data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="taskid">
						<table width="99%" class="prmaxtable" cellspacing="0" cellpadding="0" border="0" style="padding-top:5px">
						<tr><td align="right" valign="top" class="prmaxrowtag" width="120px" >Contact</td><td><input data-dojo-props='type:"text",name:"contact",style:"width:20em;color:black",readOnly:"readonly"' data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="contact" ></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag" width="120px" >Outlet</td><td><input data-dojo-props='type:"text",name:"outlet",style:"width:20em;color:black", readOnly:"readonly"'  data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="outlet" ></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag" width="120px" >Task</td><td><textarea data-dojo-props='name:"outcome",style:"width:33em"' data-dojo-type="dijit.form.Textarea" data-dojo-attach-point="outcome" ></textarea></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag" width="120px" >Subject</td><td><input data-dojo-props='type:"text",required:true,name:"description",style:"width:30em"' data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="description" ></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag">Type</td><td><select data-dojo-props='name:"tasktypeid",autoComplete:true,labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="tasktypeid" ></select></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag">Status</td><td><select data-dojo-props='name:"taskstatusid",autoComplete:true,labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="taskstatusid" ></select></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag">Due Date</td><td><input data-dojo-props='style:"width:8em",type:"text",required:false,name:"due_date"' data-dojo-attach-point="due_date" data-dojo-type="dijit.form.DateTextBox"></td></tr>
						<tr><td align="right" valign="top" class="prmaxrowtag">Owner</td><td><select data-dojo-props='"class":"prmaxrequired",required:true,name:"assigntoid",autoComplete:true,style:"width:15em",labelType:"html",searchAttr:"user_name",labelAttr:"user_name"' data-dojo-attach-point="assigntoid" data-dojo-type="dijit.form.FilteringSelect"></select></td></tr>
						<tr><td colspan="2"><br/></td></tr>
						<tr>
							<td colspan="2" align="right"><button data-dojo-type="dojox.form.BusyButton" data-dojo-attach-point="updbtn" data-dojo-props='iconClass:"fa fa-floppy-o fa-2x",busyLabel:"Updating ...",label:"Update"' data-dojo-attach-event="onClick:_update_task"></button></td>
						</tr>
						</table>
					</form>
				</div>
				<div data-dojo-attach-point="source_view" data-dojo-type="dijit.layout.StackContainer" data-dojo-props="iconClass:'fa fa-user',title:'Engagement',style:'height:100%;width:100%;overflow :auto','class':'bordered scrollpanel'">
					<div data-dojo-attach-point="source" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="style:'height:100%;width:580px;overflow :auto','class':'bordered scrollpanel'"></div>
					<div data-dojo-attach-point="ch_update" data-dojo-type="prcommon.crm.update" data-dojo-props="show_close:false,style:'height:100%;width:100%;overflow :auto','class':'bordered scrollpanel'"></div>
				</div>
			</div>
		</div>
	</div>
</div>
