<div >
	<form data-dojo-attach-point="form" data-dojo-props='onsubmit:"return false","class":"common_prmax_layout"' data-dojo-type="dijit.form.Form">
		<br/>
		<label class="label_1 label_right">Client</label><select data-dojo-props='autoComplete:true,searchAttr:"clientname",labelType:"html",style:"width:8em",placeHolder:"No Selection"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="clientid"></select><br/>
		<p class="spacer">&nbsp;</p>
		<label class="label_1 label_right">Date Range</label><div data-dojo-type="prcommon.date.daterange" data-dojo-attach-point="drange" data-dojo-props='value:"",name:"drange"'></div><br/>
		<p class="spacer">&nbsp;</p>
		<label class="label_1 label_right" data-dojo-attach-point="issue_label_1">Issue</label><select data-dojo-props='name:"issueid",autoComplete:true,searchAttr:"name",invalidMessage:"Select",labelType:"html",placeHolder:"No Selection"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="issueid"></select></br>
		<p class="spacer">&nbsp;</p>
		<label class="label_1 label_right">Outlet</label><select data-dojo-props='name:"outletid",autoComplete:true,searchAttr:"outletname",required:true,placeHolder:"No Selection",pageSize:20,required:false' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="outletid"></select></br>
		<p class="spacer">&nbsp;</p>
		<label class="label_1 label_right">Text</label><input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="textid" data-dojo-props='type:"text",name:"textid"' ></input><br/>
		<p class="spacer_large">&nbsp;</p>
		<div data-dojo-attach-event="onClick:_do_clear" data-dojo-type="dijit.form.Button" data-dojo-props='label:"Clear","class":"btnleft"'></div>
		<div data-dojo-attach-event="onClick:_do_search" data-dojo-type="dijit.form.Button" data-dojo-props='label:"Search","class":"btnright"'></div><br/><br/>
	</form>
</div>

