<div>
	<div style="width:100%">
	<select data-dojo-type="dijit.form.FilteringSelect" data-dojo-props='style:"margin-right:5px;float:left;width:80px","class":"pprrowdate",autocomplete:false' data-dojo-attach-point="option" data-dojo-attach-event="onChange:_option_changed"></select>
	<input data-dojo-attach-point="from_date_box" data-dojo-props='style:"margin-right:5px;float:left;width:94px","class":"pprhidden pprrowdate",type:"text"' data-dojo-type="dijit.form.DateTextBox" data-dojo-attach-event="onChange:_date_changed">
	<div data-dojo-attach-point="to_box_label" style="float:left;margin-right:7px;margin-top:4px;vertical-align:bottom" class="pprhidden"> and </div>
	<input data-dojo-attach-point="to_date_box" data-dojo-props='style:"float:left;width:94px","class":"pprhidden pprrowdate",type:"text"' data-dojo-type="dijit.form.DateTextBox" data-dojo-attach-event="onChange:_date_changed" >
	</div>
</div>
