<div>
	<div data-dojo-attach-point="dlg" data-dojo-type="dijit.Dialog" title="Set Expire Date">
		<form data-dojo-attach-point="form"  onsubmit="return false" data-dojo-type="dijit.form.Form">
			<input data-dojo-props='type:"hidden", name:"icustomerid"' data-dojo-attach-point="icustomerid" data-dojo-type="dijit/form/TextBox">
			<input data-dojo-props='type:"hidden", name:"taskid"'  data-dojo-attach-point="taskid" data-dojo-type="dijit/form/TextBox">
			<table style="width:400px;border-collapse:collapse;" cellpadding="0" cellspacing="0">
			<tr><td width="15%"></td><td class="prmaxrowtag" >Start Date</td><td class="prmaxrowtag" >Expire Date</td></tr>
			<tr><td align="right" class="prmaxrowtag" width="25%">Media</td>
				<td><input data-dojo-props='type:"text",required:true,name:"licence_start_date",style:"width:8em"' data-dojo-attach-point="licence_start_date"  data-dojo-type="dijit/form/DateTextBox" ></td>
				<td><input data-dojo-props='type:"text",required:true,name:"licence_expire",style:"width:8em"' data-dojo-attach-point="licence_expire" data-dojo-type="dijit/form/DateTextBox"></td>
			</tr>
			<tr data-dojo-attach-point="view1"><td align="right" class="prmaxrowtag">Features</td>
				<td><input data-dojo-props='type:"text",name:"advance_licence_start",style:"width:8em"' data-dojo-attach-point="advance_licence_start" data-dojo-type="dijit/form/DateTextBox"></td>
				<td><input data-dojo-props='type:"text",name:"advance_licence_expired",style:"width:8em"' data-dojo-attach-point="advance_licence_expired" data-dojo-type="dijit/form/DateTextBox"></td>
			</tr>
			<tr data-dojo-attach-point="view2"><td align="right" class="prmaxrowtag">Monitoring</td>
				<td><input data-dojo-props='type:"text",name:"updatum_start_date",style:"width:8em"' data-dojo-attach-point="updatum_start_date" data-dojo-type="dijit/form/DateTextBox"></td>
				<td><input data-dojo-props='type:"text",name:"updatum_end_date",style:"width:8em"' data-dojo-attach-point="updatum_end_date" data-dojo-type="dijit/form/DateTextBox"></td>
			</tr>
			<tr><td align="right" valign="top" class="prmaxrowtag">Reason</td>
				<td colspan="2"><div data-dojo-props='"class":"stdframe prmaxrequired",style:"height:150px;"'>
								<textarea data-dojo-props='"class":"prmaxrequired",name:"reason",trim:true,required:true,style:"width:99%;height:80%",rows:"5",cols:"50"' data-dojo-attach-point="reason" data-dojo-type="dijit/form/SimpleTextarea"></textarea></div></td></tr>
			<tr><td colspan="3"><br/></td></tr>
			<tr><td><button data-dojo-props='type:"button",label:"Close"' data-dojo-attach-event="onClick:_Close" data-dojo-type="dijit/form/Button"></button></td>
				<td colspan="2" align="right"><button data-dojo-props='type:"button",label:"Set Expire Date"' data-dojo-attach-event="onClick:_Update" data-dojo-type="dijit/form/Button"></button></td></tr>
			</table>
		</form>
	</div>
</div>