<div>
	<table width="100%" class="prmaxtable" cellpadding="0" cellspacing="0" style="border-style:collapsed">
		<tr><td width="14%" class="prmaxrowtag" dojoAttachPoint="displayname_node">${displaytitle}</td><td width="5%" align="left" ><img height="16px" width="16px" src="/static/images/toopen.gif" class="toggleselect" dojoAttachPoint="tglbtn" dojoAttachEvent="onclick:_Expand"></img></td><td width="75%"></td></tr>
	</table>
	<div style="display:none;padding:0px;margin:0px;padding-left:10px" class="prmaxrowdisplay" dojoAttachPoint="inner_panel"></div>
</div>
