.scrollpanel
{
	overflow:auto;
	overflow-x:hidden;
}

.scrollpanelforce
{
	overflow:auto !important;
}



.bordered
{
	border:1px solid black;
}

.prmaxhidden
{
	display:none !important;
}

.prmaxvisible
{
	display:block;
}
