<div style="border: 1px solid black">
<form  data-dojo-props='onsubmit:"return false","class":"prmaxdefault"' data-dojo-attach-point="form" data-dojo-type="dijit/form/Form">
	<input data-dojo-props='name:"deletionhistoryid",type:"hidden",value:-1'  data-dojo-attach-point="deletionhistoryid" data-dojo-type="dijit/form/TextBox"/>
		<table cellspacing="0" cellpadding="0" width="400px">
		<tr><td >&nbsp;</td></tr>
		<tr><td align="right" class="prmaxrowtag">Date</td><td colspan="2"><input data-dojo-props='"class":"prmaxbutton",type:"text",name:"deletiondate"' data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="deletiondate" ></input></td></tr>
		<tr><td align="right" class="prmaxrowtag">Description</td><td colspan="2"><input data-dojo-props='"class":"prmaxinput",name:"deletionhistorydescription",type:"text",trim:true,required:true,style:"width:90%"'  data-dojo-attach-point="deletionhistorydescription" data-dojo-type="dijit/form/TextBox" ></input></td></tr>
		<tr><td align="right" class="prmaxrowtag">Outletname</td><td colspan="2"><input data-dojo-props='"class":"prmaxinput",name:"outletname",type:"text",trim:true,style:"width:90%"' data-dojo-attach-point="outletname" data-dojo-type="dijit/form/TextBox" ></input></td></tr>
		<tr><td align="right" class="prmaxrowtag">Firstname</td><td colspan="2"><input data-dojo-props='"class":"prmaxinput",name:"firstname",type:"text",trim:true,style:"width:90%"' data-dojo-attach-point="firstname" data-dojo-type="dijit/form/TextBox" ></input></td></tr>
		<tr><td align="right" class="prmaxrowtag">Surname</td><td colspan="2"><input data-dojo-props='"class":"prmaxinput",name:"familyname",type:"text",trim:true,style:"width:90%"' data-dojo-attach-point="familyname" data-dojo-type="dijit/form/TextBox" ></input></td></tr>
		<tr><td align="right" class="prmaxrowtag">Domain</td><td colspan="2"><input data-dojo-props='"class":"prmaxinput",name:"domain",type:"text",trim:true,style:"width:90%"' data-dojo-attach-point="domain" data-dojo-type="dijit/form/TextBox" ></input></td></tr>


		<tr><td align="right" class="prmaxrowtag">Project</td><td colspan="2"><select data-dojo-attach-point="researchprojectid" data-dojo-props='name:"researchprojectid",autoComplete:true,style:"width:90%",searchAttr:"researchprojectname",required:false,placeHolder:"No Selection"' data-dojo-type="dijit/form/FilteringSelect"></select></td></tr>


		<tr><td align="right" class="prmaxrowtag">Reason</td><td ><select data-dojo-attach-point="reasoncodeid" data-dojo-type ="dijit/form/FilteringSelect" data-dojo-props='name:"reasoncodeid",searchAttr:"name",labelType:"html",style:"width:90%","class":"prmaxrequired"'/></td></tr>
		<tr><td align="right" class="prmaxrowtag">Type</td><td ><select data-dojo-attach-point="deletionhistorytypeid" data-dojo-type ="dijit/form/FilteringSelect" data-dojo-props='name:"deletionhistorytypeid",searchAttr:"name",labelType:"html",style:"width:90%","class":"prmaxrequired"'/></td></tr>
		<tr><td align="right" class="prmaxrowtag">User</td><td colspan="2"><select data-dojo-attach-point="iuserid" data-dojo-props='name:"iuserid",autoComplete:"true",style:"width:90%",labelType:"html",required:true' data-dojo-type="dijit/form/FilteringSelect"></td></tr>
		<tr><td >&nbsp;</td></tr>
		<tr>
			<td data-dojo-attach-point="close_button"><button data-dojo-type="dijit/form/Button" data-dojo-props='type:"button",label:"Close"' data-dojo-attach-event="onClick:_close"></button></td>
			<td data-dojo-props="'class':'prmaxhidden'"data-dojo-attach-point="delete_button"><button data-dojo-type="dijit/form/Button" data-dojo-props='type:"button",label:"Delete"' data-dojo-attach-event="onClick:_delete"></button></td>
			<td align="right"><button data-dojo-attach-event="onClick:_add_deletionhistory" data-dojo-attach-point="savenode" data-dojo-type="dojox/form/BusyButton" type="button" busyLabel="Please Wait Saving..." label="Save"></button></td></tr>
	</table>
</form>
</div>
