<div style="margin:5px">
	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"center",style:"width:100%;height:100%"' >
		<p data-dojo-attach-point="message_point" ></p>
	</div><br /><br />
	<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"bottom",style:"width:100%;height:10%"' >
		<button data-dojo-attach-event="onClick:_retry" data-dojo-type="dijit.form.Button" data-dojo-props='style:"float:left",type:"button",label:"Retry"'></button>
		<button data-dojo-attach-event="onClick:_continue" data-dojo-type="dijit.form.Button" data-dojo-props='style:"float:right",type:"button",label:"Continue"'></button>
	</div>
</div>
