<div>
<span class="common_prmax_layout"><br/>
    <form data-dojo-attach-point="form_output" data-dojo-type="dijit.form.Form" data-dojo-props='onSubmit:"return false"'>
        <p>Remove members: </p></br></br>      
        <label><input data-dojo-attach-point="option0" data-dojo-props="name:'option',value:'0',type:'radio',checked:'checked'" data-dojo-type="dijit.form.RadioButton">&nbsp;Selected</label></br>
        <label><input data-dojo-attach-point="option1" data-dojo-props="name:'option',value:'1',type:'radio'" data-dojo-type="dijit.form.RadioButton">&nbsp;Non Selected</label></br></br>
        <button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Close","class":"btnleft"'></button>
        <button data-dojo-attach-event="onClick:_remove" data-dojo-attach-point="removebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Remove","class":"btnright"'></button>
        <br/><br/>
    </form>
</span>

</div>

