<div class="dijit dijitReset dijitInline dijitLeft">
	<div style="width:100%" class="dijit dijitReset daterange">
		<select data-dojo-type="dijit/form/Select" data-dojo-props='style:"margin-right:5px;float:left;width:80px",autocomplete:false,"class":"dijit dijitReset"' data-dojo-attach-point="option" data-dojo-attach-event="onChange:_option_changed"></select>
		<input data-dojo-attach-point="from_date_box" class="prmaxhidden dijit dijitReset" data-dojo-props='style:"margin-right:5px;float:left;width:94px",type:"text"' data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-event="onChange:_date_changed"/>
		<label data-dojo-attach-point="to_box_label" style="height:100%;float:left;margin-right:7px;vertical-align:center" class="dijit dijitReset prmaxhidden and_label">&nbsp;and&nbsp;</label>
		<input data-dojo-attach-point="to_date_box" class="prmaxhidden dijit dijitReset" data-dojo-props='style:"float:left;width:94px",type:"text"' data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-event="onChange:_date_changed" />
	</div>
</div>

