<div>
	<div data-dojo-attach-point="borderCtrl" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='style:"width:100%;height:100%",gutters:false'  >
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"top",style:"height:42px;width:100%;overflow:hidden","class":"searchresults"'>
			<div style="height:40px;width:100%;overflow:hidden" class="searchresults">
				<div style="height:100%;width:200px;float:left;" class="prmaxrowdisplaylarge">Manage Exclusion List</div>
			</div>
		</div>
		<div data-dojo-attach-point="tabcont" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region:'center'">
			<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='title:"Exclusion",style:"width:100%;height:100%"' >
				<div data-dojo-attach-point="grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='rowsPerPage:50,style:"width:100%;height:100%"'></div>
			</div>
			<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='title:"Unsubscribe",style:"width:100%;height:100%"' >
				<div data-dojo-attach-point="unsub_grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='rowsPerPage:50,style:"width:100%;height:100%"'></div>
			</div>
	</div>
</div>
