<div class="banner_body">
<div style="float:left;width:100%">
	<p style="float:left" class="mb_details_large">Your update for&nbsp;<span data-dojo-attach-point="title_text"></span></p>
	<p style="float:right" class="mb_details_large">The deadline for this update is: <span data-dojo-attach-point="deadline_text"></span></p>
</div>
	<ul class="main-menu" style="float:right;text-align:right">
		<li data-dojo-attach-event="onclick:_show_title" data-dojo-attach-point="title_view" class="first selected"><a title="1. Name &amp; Address" >1.Name &amp; Address</a></li>
		<li data-dojo-attach-event="onclick:_show_journalists" data-dojo-attach-point="journalists_view" class="std"><a title="2. Journalists">2. Journalists</a></li>
		<li data-dojo-attach-event="onclick:_show_related_outlets" data-dojo-attach-point="related_outlets_view" class="last"><a title="3. Your Details">3. Your Details</a></li>
	</ul>
</div>
