<div>
	<div dojoAttachPoint="select_view"><input name="contacttype"  value="N" dojoAttachEvent="onClick:_ContactMode"dojoAttachPoint="nocontactNode" dojoType="dijit.form.RadioButton"> </input><label dojoAttachPoint="nocontactlabel">No Person</label>
		<input name="contacttype"  value="S" checked dojoAttachEvent="onClick:_ContactMode" dojoAttachPoint="selectContactNode" dojoType="dijit.form.RadioButton"> </input><label dojoAttachPoint="selectcontactlabel">Select Person</label>
	</div>
	<div dojoAttachPoint="selectContactForm" class="prmaxvisible prmaxdefault" >
		<table style="width:100%" class="prmaxtable" cellspacing="0" cellpadding="0">
			<tr><td class="prmaxrowtag" dojoAttachPoint="displayname">Person</td><td>
				<select name="contactid"
					dojoAttachPoint="contactlist"
					 autoComplete="false"
					 searchAttr="contactname"
					 labelAttr="contactname"
					 dojoType="dijit.form.FilteringSelect"
					 pageSize="20"
					 required="${required}"
					 labelType="html"
					style="width:20em">
					</select></td>
				<td><button dojoAttachPoint="newbutton" type="button" dojoType="dijit.form.Button" label="New Person" dojoAttachEvent="onClick:_AddContactShow"><td>
			</tr>
		</table>
	</div>
	<div dojoAttachPoint="addContactForm" class="prmaxhidden" >
		<div dojoAttachPoint="addContactControl" dojoType="prmax.dataadmin.employees.EmployeeNew"></div>
	</div>
</div>
