<div class="searchform">
	<div class="paddingcell" >
		<form data-dojo-props='"class":"prmaxdefault",name:"std_search_employee",cellspacing:"0",cellpadding:"0",formid:"std_search_employee_form",onsubmit:"return false"' data-dojo-type="ttl/Form2" data-dojo-attach-point="form_name">
			<input data-dojo-props='type:"hidden",value:"employee",name:"search_type"' data-dojo-type="dijit/form/TextBox" />
			<div class="paddingrow">&nbsp;</div>
			<div data-dojo-props='usepartial:true,search:"std_search_employee",displayname:"Surname",keytypeid:10,name:"employee_searchname"' data-dojo-type="prcommon2/search/standard"></div>
			<hr/>
			<input type="submit" style="display:none"/>
		</form>
	</div>
</div>