<div class="searchform">
	<div class="paddingcell" >
		<form data-dojo-props='"class":"prmaxdefault",name:"std_search_employee",cellspacing:"0",cellpadding:"0",formid:"std_search_employee_form",onsubmit:"return false"' data-dojo-type="ttl/Form2" data-dojo-attach-point="form_name">
			<input data-dojo-props='type:"hidden",value:"employee",name:"search_type"' data-dojo-type="dijit/form/TextBox" />
			<div class="paddingrow">&nbsp;</div>
			<div data-dojo-props='usepartial:true,search:"std_search_employee",keytypeid:133,name:"employee_searchname_ext"' data-dojo-type="prcommon2/search/person"></div>
			<hr/>
			<div  data-dojo-props='search:"std_search_employee",keytypeid:120 ,name:"employee_roles",style:"width:99%",showdefaultoption:false' data-dojo-type="prcommon2/search/SearchRoles" ></div>
			<hr/>
			<div data-dojo-props='search:"std_search_employee",style:"width:99%",keytypeid:7,name:"employee_interests"' data-dojo-type="prcommon2/interests/Interests"></div>
			<hr/>
			<div data-dojo-props='search:"std_search_employee",style:"width:99%",keytypeid:121,name:"employee_outlettypes"' data-dojo-type="prcommon2/search/PrmaxOutletTypes"></div>
			<hr/>
			<div data-dojo-props='search:"std_search_employee",style:"width:99%",keytypeid:27,name:"employee_countryid"' data-dojo-type="prcommon2/search/Countries"></div>
			<hr/>
			<input type="submit" style="display:none"/>
		</form>
	</div>
</div>
