<div class="searchform">
	<div class="paddingcell" >
		<form data-dojo-props='"class":"prmaxdefault",name:"std_search_freelance",cellspacing:"0",cellpadding:"0",onsubmit:"return false",formid:"search_freelance"' data-dojo-attach-point="form_name" data-dojo-type="ttl/Form2" >
			<input type="hidden" value="freelance"  name="search_type" data-dojo-type="dijit/form/TextBox" />
			<div class="paddingrow">&nbsp;</div>
			<div data-dojo-props='usepartial:true,search:"std_search_freelance",keytypeid:136,name:"freelance_searchname_ext"' data-dojo-type="prcommon2/search/person"></div>
			<hr/>
			<div data-dojo-props='search:"std_search_freelance",displayname:"Email",keytypeid:113,name:"freelance_email"' data-dojo-type="prcommon2/search/standard"></div>
			<hr/>
			<div data-dojo-props='search:"std_search_freelance",displayname:"Tel",keytypeid:112,name:"freelance_tel"' data-dojo-type="prcommon2/search/standard"></div>
			<hr/>
			<div data-dojo-props='search:"std_search_freelance",style:"width:99%",keytypeid:14, name:"freelance_interests"' data-dojo-type="prcommon2/interests/Interests"></div>
			<hr/>
			<div data-dojo-props='search:"std_search_freelance",displayname:"Profile",keytypeid:115,name:"freelance_profile"' data-dojo-type="prcommon2/search/standard"></div>
			<hr/>
			<input data-dojo-props='type:"hidden",name:"searchtypeid",value:1' data-dojo-attach-point="searchtypeid" data-dojo-type="dijit/form/TextBox"/>
			<input type="submit" style="display:none"/>
		</form>
	</div>
</div>