<div class="searchform">
	<div class="paddingcell" >
		<form data-dojo-props='onsubmit:"return false","class":"prmaxtable",name:"std_search_outlet",formid:"std_search_outlet_form"' data-dojo-attach-point="form_name" data-dojo-type="ttl/Form2" >
		<input data-dojo-props='type:"hidden",value:"outlet",name:"search_type"' data-dojo-type="dijit/form/TextBox" />
		<div  data-dojo-props='usepartial:true,displayname:"Outlet Name",keytypeid:1,name:"outlet_searchname",value:""' data-dojo-attach-point="std_search_outlet_outlet_name" data-dojo-type="prcommon2/search/standard"></div>
		<input data-dojo-props='type:"hidden",name:"searchtypeid",value:1' data-dojo-attach-point="searchtypeid" data-dojo-type="dijit/form/TextBox"/>
		<input type="submit" style="display:none"/>
		</form>
	</div>
</div>