<p style="${style['sheader']}">Bank Details</p>
<br/>
<table width="100%" cellspacing="0" cellpadding="0">
<tr><td style="width:200px" ><p style="${style['p']}">Account Name:</p></td><td ><p style="${style['p']}">PRMAX LTD</p></td></tr>
<tr><td style="width:200px" ><p style="${style['p']}">Sort code:</p></td><td ><p style="${style['p']}">30-91-97</p></td></tr>
<tr><td style="width:200px" ><p style="${style['p']}">Account Number:</p></td><td ><p style="${style['p']}">02521457</p></td></tr>
</table>
<br/>