<p style="${style['psmall']}">Accounts Department:</p>
<p style="${style['psmall']}">PRmax Ltd, Suite F, Diss Business Park, Hopper Way, Diss IP22 4GT</p>
<p style="${style['psmall']}">Email:<a href="mailto:accounts@prmax.co.uk">accounts@prmax.co.uk</a> Tel: 01582 380194</p>
<p style="${style['psmall']}">PRmax Ltd is registered in England & Wales</p>
<p style="${style['psmall']}">Registered Company No. 6166158.</p>
<p style="${style['psmall']}">Registered Office: 18 Burywick, Harpenden, AL5 2AH</p>
<p style="${style['psmall']}">Sales Department:</p>
<p style="${style['psmall']}">Email:<a href="mailto:sales@prmax.co.uk">sales@prmax.co.uk</a> Tel: 01582 380199</p>
<p style="${style['psmall']}">Support Department:</p>
<p style="${style['psmall']}">Email:<a href="mailto:support@prmax.co.uk">support@prmax.co.uk</a> Tel: 01582 380198</p>
<br/>