<img height="46px" width="637px" src="/static/images/prmax/header.png" alt="PRmax Header"></img>
<p style="${style['pheader']}">Welcome to PRmax</p>
% if c.orderpaymentmethodid in (2,3):
<p style="${style['p']}">Thank you for ordering PRmax. Please find below details confirming your subscription package and advise us of any changes within 3 days. An invoice will be emailed to this address shortly.</p>
% else:
<p style="${style['p']}">Thank you for ordering PRmax. Please find below details confirming your subscription package and advise us of any changes within 3 days.</p>
% endif
<br/>