<div >
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"top",style:"width:100%;height:3em"'>
		<div style="height:40px;width:100%;overflow:hidden" class="searchresults">
			<div style="height:100%;width:45%;float:left;" class="prmaxrowdisplaylarge prmaxHeadingStyle">Add Research Freelance</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='style:"overflow:auto;overflow-x:hidden",region:"center"' >
	<form  data-dojo-props='"class":"prmaxdefault"' data-dojo-attach-point="requirednode" data-dojo-type="dijit/form/Form">
	<table style="width:100%" class="prmaxtable" border="0" cellspacing="0" cellpadding="0">
	<tr><td width="9em" align="right" class="prmaxrowtag">Person</td><td><div data-dojo-type="research/employees/EmployeeSelect" data-dojo-attach-point="selectcontact" data-dojo-props='displayname:"",mustexists:true,required:true,invalidMessage:"Person Must be selected"'></div></td></tr>
	<tr><td class="prmaxrowtag" align="right" >Country</td><td><select data-dojo-props='style:"width:200px","class":"prmaxrequired",name:"countryid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Please select Country Name",labelType:"html" ' data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="countryid"></select></td></tr>
	<tr><td align="right" class="prmaxrowtag">Address 1</td><td><input data-dojo-attach-point="address1" data-dojo-props='name:"address1",type:"text",size:40,required:false,style:"width:24em"' data-dojo-type="dijit/form/TextBox" /></td></tr>
	<tr><td align="right" class="prmaxrowtag">Address 2</td><td><input data-dojo-attach-point="address2" data-dojo-type="dijit/form/TextBox" data-dojo-props='name:"address2",type:"text",size:40,maxlength:80,style:"width:24em"'/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Town</td>	<td><input data-dojo-attach-point="townname" data-dojo-props='name:"townname",type:"text",size:"30"' data-dojo-type="dijit/form/TextBox"/></td></tr>
	<tr><td align="right" class="prmaxrowtag">County</td><td><input data-dojo-attach-point="county" data-dojo-props='name:"county",type:"text"' data-dojo-type="dijit/form/TextBox"/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Postcode</td><td><input data-dojo-attach-point="postcode" data-dojo-type="dijit/form/TextBox" data-dojo-props='name:"postcode",type:"text",size:"20",maxlength:"10",style:"width:10em"'/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Www</td><td><input data-dojo-attach-point="www" data-dojo-type="dijit/form/TextBox" data-dojo-props='name:"www",type:"text",size:"40",maxlength:"120",trim:true,style:"width:30em"'/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Email</td><td><input data-dojo-attach-point="email" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='name:"email",type:"text",size:40,maxlength:80,trim:true,pattern:dojox.validate.regexp.emailAddress,trim:true,invalidMessage:"invalid email address",size:"40",maxlength:"70",style:"width:24em"'/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Tel</td><td><input data-dojo-attach-point="tel" data-dojo-props='name:"tel",type:"text",size:"25",maxlength:"40"' data-dojo-type="dijit/form/TextBox"/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Fax</td><td><input data-dojo-attach-point="fax" data-dojo-props='name:"fax",type:"text",size:"25",maxlength:"40"' data-dojo-type="dijit/form/TextBox"/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Mobile</td><td><input data-dojo-attach-point="mobile" data-dojo-props='name:"mobile",type:"text",size:"25",maxlength:"40"' data-dojo-type="dijit/form/TextBox"/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Twitter</td><td><input data-dojo-attach-point="twitter" data-dojo-props='"class":"prmaxinput",name:"twitter",type:"text",maxlength:"80",pattern:dojox.validate.regexp.url,trim:true,style:"width:90%"' data-dojo-type="dijit/form/ValidationTextBox"/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Facebook</td><td><input data-dojo-attach-point="facebook" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"facebook",type:"text",maxlength:80,pattern:dojox.validate.regexp.url,trim:true,style:"width:90%"'/></td></tr>
	<tr><td align="right" class="prmaxrowtag">Linkedin</td><td><input data-dojo-attach-point="linkedin" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"linkedin",type:"text",maxlength:80,pattern:dojox.validate.regexp.url,trim:true,style:"width:90%"' /></td></tr>
	<tr><td align="right" class="prmaxrowtag">Instagram</td><td><input data-dojo-attach-point="instagram" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"instagram",type:"text",maxlength:80,pattern:dojox.validate.regexp.url,trim:true,style:"width:90%"' /></td></tr>

	<tr><td align="right"  valign="top" class="prmaxrowtag">Keywords</td><td><div  data-dojo-attach-point="interests" data-dojo-type="prcommon2/interests/Interests" data-dojo-props='name:"interests",title:"",startopen:true,restrict:0,selectonly:true,keytypeid:6,displaytitle:""'></div></td></tr>
	<tr><td align="right"  valign="top" class="prmaxrowtag">Profile</td><td><div class="dialogprofileframelarge"><textarea data-dojo-attach-point="profile" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"profile",style:"width: 100%; height:100%"' ></textarea></div></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td class="prmaxrowtag" colspan="2" align="center" valign="top">Reason </td></tr>
	<tr><td align="right" class="prmaxrowtag" >Code</td><td ><select data-dojo-attach-point="reasoncodeid" data-dojo-type ="dijit/form/FilteringSelect" data-dojo-props='name:"reasoncodeid",searchAttr:"name",labelType:"html",style:"width:98%","class":"prmaxrequired"' /></td></tr>
	<tr><td align="right" class="prmaxrowtag" valign="top">Description</td><td ><div class="reasonframe" ><textarea data-dojo-attach-point="reason" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"reason",required:true,style:"width:99%;height:80%"'  ></textarea></div></td></tr>
</table>
</form>
</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"bottom",style:"width:100%;height:3em;padding-right:3px;"'>
		<table style="width:100%;border-style:collapsed"><tr><td align="right">
			<button data-dojo-attach-point="savenode"  data-dojo-type="dojox/form/BusyButton" data-dojo-props='"class":"prmaxbutton",type:"button",busyLabel:"Please Wait Saving...",label:"Add Freelancer"' data-dojo-attach-event="onClick:_save"></button>
			</td></tr></table>
	</div>
</div>
