.seo_cust_view
{
 background-color::#336799;
}

.seo_cust_view .dijitToolbar
{
	background:#336799;
	background-color:#336799;
}

.seo_cust_view .background_color
{
	background-color:#336799;
}

.seo_cust_view .message
{
	color:white;
}
