.soria .searchresults
{
	background-color:#81a6c3;
	color:white;
	padding:0px;
	margin: 0px;
}

.soria .searchresults .dijitToolbarTop {
	border-bottom: 1px solid #ccc;
	background:#81a6c3 url("/static/images/theme/resultsBar.png") repeat-x top left;
	background-color:#81a6c3;
	padding:0px;
	margin: 0px;
}

.soria .searchresults .prmaxrowdisplaylarge
{
	padding:0px;
	margin: 0px;
	color:#094b88;
	font-size:12pt;
	font-weight:bold;
	background-color:#81a6c3;
}

.soria .searchresults .prmaxrowdisplaylarge2
{
	padding-right:1px;
	padding-left:1px;
	padding-top:6px;
	padding-bottom:1px;
	margin: 0px;
	color:white;
	valign:top;
	v-align:top;
	font-size:1.5em;
}