<div>
	<form target="_newtab" action="/payment/payment_dd_csv" data-dojo-attach-event="onsubmit:_create_csv" >
		<table width="700px" cellpadding="0" cellpadding="0" >
			<tr>
				<td colspan="2">
					<div class="prmaxrowdisplaylarge" style="text-align:center;display:inline">Create DD Csv </div>
				</td>
			</tr>
			<tr>
				<td class="prmaxrowlabel" align="right" >DD Day</td>
				<td>
					<select data-dojo-props='"class":"prmaxrequired",required:"true",name:"pay_montly_day",autoComplete:"true",style:"width:3em"' data-dojo-attach-point="pay_montly_day" data-dojo-type="dijit/form/FilteringSelect" >
						<option value="1">1</option>
						<option value="8">8</option>
						<option value="15">15</option>
						<option value="22">22</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><br/><br/><br/></td>
			</tr>
			<tr>
				<td>
					<button data-dojo-props='type:"button",label:"Reset Monthly Figures"' data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:_clear_down" ></button>
				</td>
				<td class="prmaxrowlabel" align="left">
					<button type="submit" data-dojo-type="dijit/form/Button" label="Create DD Csv" ></button>
				</td>
			</tr>
		</table>
	</form>



	<br/><br/><br/>
	<table width="700px" cellpadding="0" cellpadding="0" >
		<tr>
			<td>
				<form target="_newtab" action="/payment/payment_dd_csv_draft" method="post" data-dojo-attach-event="onsubmit:_draft_invoices" >
					<input data-dojo-props='"class":"prmaxhidden", name:"tmp_cache" ' data-dojo-attach-poin="tmp_cache" data-dojo-type="dijit/form/TextBox" />
					<input type="hidden"  data-dojo-attach-poin="pay_montly_day2" name = "pay_montly_day" data-dojo-type="dijit/form/TextBox" />
					<button type="submit" data-dojo-type="dijit/form/Button" label="See Draft List" ></button>
				</form>
			</td>
		</tr>
	</table>
</div>
