<div>
    <div  data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='region:"center", gutters:false' data-dojo-attach-point="optionsview" >
        <div data-dojo-type="dijit/layout/TabContainer" data-dojo-props='region:"center", style:"width:99%;height:100%"' data-dojo-attach-point="options_tab">
            <div data-dojo-type="control/customer/options/details" data-dojo-props='style:"width:99%;height:100%", title:"Details"' data-dojo-attach-point="options_tab_details"></div>
            <div data-dojo-type="control/customer/options/PrmaxDataSets" data-dojo-props='style:"width:99%;height:100%", title:"Data Sets"' data-dojo-attach-point="datasets"></div>
<!--
            <div data-dojo-type="control/customer/options/clippings/view" data-dojo-props='style:"width:99%;height:100%", title:"Clippings Order"' data-dojo-attach-point="clippings"></div>
-->
            <div data-dojo-type="control/customer/options/extendedsettings" data-dojo-props='style:"width:99%;height:100%", title:"Extended Settings"' data-dojo-attach-point="extendedsettings"></div>
            <div data-dojo-type="control/customer/options/emailserver" data-dojo-props='style:"width:99%;height:100%", title:"Email Server"' data-dojo-attach-point="emailserver"></div>
        </div>
    </div>
</div>

