<div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"center"'>
		<div data-dojo-attach-point="view_demo_to_live" class="common_prmax_layout prmaxhidden" style="width:450px">
			<h1>Demo to Live</h1>
			<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="demo_to_live_form" data-dojo-props='onsubmit:"return false;"'>
				<input data-dojo-attach-point="demo_to_live_customerid" name="icustomerid" type="hidden" data-dojo-type="dijit/form/TextBox" >
				<label class="label_size_1 label_tag label_align_r">Start Date</label><input data-dojo-props='type:"text",name:"startdate",required:true,style:"width:8em"' data-dojo-attach-point="startdate" data-dojo-type="dijit/form/DateTextBox" ><br/>
				<label class="label_size_1 label_tag label_align_r">End Date</label><input data-dojo-props='type:"text",name:"enddate",required:true,style:"width:8em"' data-dojo-attach-point="enddate" data-dojo-type="dijit/form/DateTextBox" ><br/>
				<button data-dojo-attach-point="demo_to_live_btn" data-dojo-type="dojox/form/BusyButton" data-dojo-attach-event="onClick:_demo_to_live" class="btnright" style="float:right" data-dojo-props='busyLabel:"Please Wait Updating...",label:"Demo Account to Live"'></button>
			</form>
		</div>
		<div data-dojo-attach-point="view_extended_licence" class="common_prmax_layout prmaxhidden" style="width:450px">
			<h1>Extended Licence</h1>
			<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="extended_licence_form" data-dojo-props='onsubmit:"return false;"'>
				<input data-dojo-attach-point="extended_licence_customerid" name="icustomerid" type="hidden" data-dojo-type="dijit/form/TextBox" >
				<label class="label_size_2 label_tag label_align_r">Nbr Logins</label><input data-dojo-type="dijit/form/NumberTextBox" type="text" name="maxnbrofusersaccounts" required="true" value="3" data-dojo-props="constraints:{min:1,max:11,places:0},invalidMessage:'Please enter a numeric value.',rangeMessage:'Invalid elevation.',style:'width:2em'" data-dojo-attach-point="extended_licence_maxnbrofusersaccounts"/><br/>
				<label class="label_size_2 label_tag label_align_r">Concurrent Users</label><input data-dojo-type="dijit/form/NumberTextBox" type="text" name="logins" required="true" value="1" data-dojo-props="constraints:{min:1,max:5,places:0},invalidMessage:'Please enter a numeric value.',rangeMessage:'Invalid elevation.',style:'width:2em'" data-dojo-attach-point="extended_licence_logins"/><br/>
				<label class="label_size_2 label_tag label_align_r">Features</label><input data-dojo-attach-point="extended_licence_advancefeatures" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxinput",name:"advancefeatures",value:"1"'/></br>
				<label class="label_size_2 label_tag label_align_r">End Date</label><input data-dojo-props='type:"text",name:"enddate",required:true,style:"width:8em"' data-dojo-attach-point="extended_licence_enddate" data-dojo-type="dijit/form/DateTextBox" ><br/>
				<button data-dojo-attach-point="extended_licence_btn" data-dojo-type="dojox/form/BusyButton" data-dojo-attach-event="onClick:_extended_licence" class="btnright" style="float:right" data-dojo-props='busyLabel:"Please Wait Updating...",label:"Extended Licence"'></button>
			</form>
		</div>
	</div>
</div>

