<div>
	<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-props='"class":"common_prmax_layout",onsubmit:"return false;"'>
		<input data-dojo-attach-point="iuserid" name="iuserid" type="hidden" data-dojo-type="dijit/form/TextBox" value="" />
		<p data-dojo-attach-point="display_details" class="heading"></p><br/>
		<label class="label_size_1 label_align_r">Password</label><input data-dojo-attach-point="password" name="password" type="password" size="20" maxlength="20" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='required:true,trim:true,invalidMessage:"Must be entered",style:"width:10em"'/><br/><br/>
		<button class="btnright" data-dojo-attach-event="onClick:_update_user_password" data-dojo-attach-point="update_ctrl_btn" data-dojo-type="dojox/form/BusyButton" data-dojo-props='busyLabel:"Please Wait Saving...",type:"button",label:"Save"'></button><br/>
	</form>
</div>

