<div role="application">
<div dojoType="dijit.form.DropDownButton" class="tooltipLink" >
	<span>More Info?</span>
	<div dojoType="dijit.TooltipDialog" dojoAttachPoint="tooltipHelpDlg" title="${title}" style="width:350px" >
		<div class="buttonLink" style="float:right;font-size:x-small" title="close" tabindex="0" dojoAttachEvent="onClick: _Close" dojoAttachPoint="closebutton" dojoType="dijit.form.Button">[close]
		</div>
		<div style="margin-top:1em" dojoAttachPoint="helpText" >
		</div>
	</div>
</div>
</div>