.clear-fix {
  clear: both; }

.float-right {
  float: right; }

.mt20 {
  margin-top: 20px; }

.ml20 {
  margin-left: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mr20 {
  margin-right: 20px; }

.color-blue {
  color: #2e74b5; }

body {
  font-family: "Lato", sans-serif;
  background-color: #e8e8e8;
  padding: 0 0 50px 0;
  margin: 0; }

body.cardiff {
  font-family: "Lato", sans-serif;
  background-color: #AE1A2A;
  padding: 0 0 50px 0;
  margin: 0; }
  
body div {
  box-sizing: border-box; }

body a {
  text-decoration: none;
  color: #2e74b5; }

.trail .selected{
  font-weight:bold;
}

.trail a:hover{
  font-weight:bold;
}

.text-link {
  color: #2e74b5; }
  .text-link:hover {
    color: #7ca7de; }

.prmax-btn {
  outline: none;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 4px rgba(88, 88, 88, 0.1); }
  .prmax-btn a {
    color: white; }
  .prmax-btn:disabled, .prmax-btn.disabled {
    pointer-events: none;
    background: #b5b5b5;
    color: gainsboro;
    border-color: transparent; }

.prmax-btn.dark-btn {
  border-color: #2b4b7c;
  background-color: #2b4b7c; }
  .prmax-btn.dark-btn:hover {
    border-color: #2e74b5;
    background-color: #2e74b5; }
  .prmax-btn.dark-btn:disabled, .prmax-btn.dark-btn.disabled {
    pointer-events: none;
    background: #b5b5b5;
    color: gainsboro;
    border-color: transparent; }

.prmax-btn.light-btn {
  background-color: #2e74b5;
  border-color: #2e74b5; }
  .prmax-btn.light-btn:hover {
    background-color: #7ca7de;
    border-color: #7ca7de; }
  .prmax-btn.light-btn:disabled, .prmax-btn.light-btn.disabled {
    pointer-events: none;
    background: #b5b5b5;
    color: gainsboro;
    border-color: transparent; }

.prmax-btn.white-btn {
  background-color: #f4f4f4;
  color: #2e74b5;
  border-color: #dedede; }
  .prmax-btn.white-btn:hover {
    border-color: #7ca7de;
    background-color: #7ca7de;
    color: white; }
    .prmax-btn.white-btn:hover a {
      color: white; }
  .prmax-btn.white-btn a {
    color: #2e74b5; }
  .prmax-btn.white-btn:disabled, .prmax-btn.white-btn.disabled {
    pointer-events: none;
    background: #b5b5b5;
    color: gainsboro;
    border-color: transparent; }

.default-input, .default-textarea {
  background-color: #ececec;
  border: 1px solid #dedede;
  border-radius: 5px;
  outline: none;
  padding: 0 5px;
  font-size: 13px;
  color: #6c6c6c; }
  .default-input:hover, .default-input:active, .default-input:focus, .default-textarea:hover, .default-textarea:active, .default-textarea:focus {
    border-color: #cdcdcd;
    outline: none; }

.default-input {
  height: 24px; }

.default-textarea {
  height: 80px;
  padding: 5px; }

label {
  color: #959595;
  font-size: 14px; }

select {
  background-color: #ececec;
  border: 1px solid #dedede;
  border-radius: 5px;
  height: 24px;
  padding: 0 5px; }
  select:hover, select:active, select:focus {
    border-color: #cdcdcd;
    outline: none; }

.load-more {
  text-align: center;}

.content-width {
  width: 990px;
  margin: 0 auto;}

.top-bar-content-width{
  width: 990px;
  padding: 20px;}

.content {
  padding-bottom: 60px; }

.pages-holder {
  background-color: white; }

.main-header-cardiff {
  background-color: #e8e8e8;
  z-index: 5000;
  width: 100%;
  top: 0;
  left: 0; 
  }
  .main-header-cardiff .top-bar-newsroom-cardiff {
    font-size: 15px;
    background-color:#AE1A2A;}
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes {
      height:85px;
      width: 30px;
      color: black;
      line-height:70px;
      padding-right:100px;}
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes-first {
      height:85px;
      width: 30px;
      color: black;
      line-height:70px;
      padding-right: 100px;
      padding-left:10px;}
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes-last {
      height:85px;
      width: 30px;
      color: black;
      line-height:70px;
      margin-right:0px;}
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes a, 
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes-first a, 
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes-last a{
      display:inline; 
      color: white;
    }
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes a:hover, 
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes-first a:hover, 
    .main-header-cardiff .top-bar-newsroom-cardiff .menu-boxes-last a:hover{
      color: #1c1c1c;
    }
    .main-header-cardiff .top-bar-newsroom-cardiff .twitter {
      width: 35px;
      height: 45px;
      background-image: url(/static/images/tw.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      cursor: pointer; }
    .main-header-cardiff .top-bar-newsroom-cardiff .facebook {
      width: 35px;
      height: 45px;
      background-image: url(/static/images/fb.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      cursor: pointer; }
  .main-header-cardiff .second-top-bar-newsroom-cardiff {
    background-image: url(/static/images/cardifflogo.png);
    background-color:#AE1A2A;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 140px;}
  .main-header-cardiff .second-top-bar-newsroom-welsh {
    background-image: url(/static/images/welshlogo.png);
    background-color:#AE1A2A;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 140px;}

.main-header {
  background-color: #e8e8e8;
  z-index: 5000;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 10px; 
  }
  .main-header .top-bar {
    background-color: #2e74b5;
    color: white;
    height: 45px;
    font-size: 12px;
    font-weight: lighter; }
    .main-header .top-bar .logo {
      width: 108px;
      height: 45px;
      float: left;
      display: block;
      background-image: url(/static/images/logo2.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 95px 30px;
      cursor: pointer; }
    .main-header .top-bar .date {
      margin-right: 20px;
      padding-top: 15px; }
    .main-header .top-bar .twitter {
      width: 35px;
      height: 45px;
      background-image: url(/static/images/tw.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 25px 25px;
      cursor: pointer; }
  .main-header .prmax-link {
    height: 30px;
    text-align: right;
    color: black;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    padding-top: 9px;
    position: relative;
    padding-right: 50px; }
    .main-header .prmax-link a {
      position: absolute;
      right: 0;
      top: 5px;
      display: block;
      height: 20px;
      width: 43px;
      background-image: url(/static/images/prmax.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 43px 20px;
      cursor: pointer; }
  .main-header .main-title {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    color: #2b4b7c;
    text-align: center;
    margin-bottom: 27px; }
  .main-header .search-bar .latest-news, .main-header .search-bar .search-menu-bar {
    float: left;
    height: 40px; }
  .main-header .search-bar .latest-news {
    width: 145px;
    margin-right: 10px;
    font-size: 16px;
    padding-left: 35px;
    background-image: url(/static/images/clock.svg);
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 20px 20px; }
  .main-header .search-bar .search-menu-bar {
    background-color: white;
    border-radius: 3px;
    width: 835px;
    padding: 7px 30px;
    box-shadow: 0px 2px 4px 4px rgba(88, 88, 88, 0.1); }
    .main-header .search-bar .search-menu-bar .search {
      width: 235px;
      padding-right: 30px;
      float: left;
      margin-right: 20px;
      background-image: url(/static/images/search.svg);
      background-position: right 7px center;
      background-repeat: no-repeat;
      background-size: 20px 20px; }
    .main-header .search-bar .search-menu-bar .detailed-search {
      float: left;
      margin-right: 60px; }
    .main-header .search-bar .search-menu-bar .menu-trigger {
      float: left;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: lighter;
      color: #2e74b5;
      padding-top: 4px;
      padding-right: 15px;
      background-image: url(/static/images/arrow.svg);
      background-position: right top 12px;
      background-repeat: no-repeat;
      background-size: 10px 7px;
      cursor: pointer;
      position: relative; }
      .main-header .search-bar .search-menu-bar .menu-trigger:hover {
        color: #7ca7de; }
        .main-header .search-bar .search-menu-bar .menu-trigger:hover .menu-categories {
          display: block;}
      .main-header .search-bar .search-menu-bar .menu-trigger .menu-categories {
        display: none;
        position:relative;
        z-index:9999;        
        width: 220px;
        border-radius: 5px;
        color: #2e74b5;
        position: absolute;
        top: 20px;
        right: 0;
        background-color: white;
        height: 320px;
        overflow-y: auto;
        box-shadow: 0px 5px 10px 5px rgba(88, 88, 88, 0.25); }
        .main-header .search-bar .search-menu-bar .menu-trigger .menu-categories .menu-item {
          padding: 5px 10px;
          font-size: 13px;}
          .main-header .search-bar .search-menu-bar .menu-trigger .menu-categories .menu-item:hover{
            color: white;
            background-color: #2e74b5;
            display: block; }
          .main-header .search-bar .search-menu-bar .menu-trigger .menu-categories .menu-item:hover a {
            color: white;}
  .main-header .top-bar-newsroom {
    height: 90px;
    font-size: 12px;
    font-weight: lighter;}
  .main-header .top-bar-newsroom a {
    color: white;
    font-size: 18px;}

.page-content {
  padding: 180px 0 0 0; }

.footer {
  text-align: center;
  width: 100%;
  background-color: #2e74b5;
  height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 5px 0; }
  .footer .content-width {
    text-align: center; }
    .footer .content-width .links {
      margin: 0 auto;
      display: inline-block; }
  .footer a {
    color: white;
    font-weight: lighter;
    font-family: "Raleway", sans-serif;
    font-size: 11px;
    display: block;
    float: left;
    border-right: 1px solid white;
    padding: 0 10px;
    cursor: pointer; }
    .footer a:hover {
      color: lightgrey; }
    .footer a:last-child {
      border-right: none; }
  .footer .copyright {
    font-size: 9px;
    color: lightgrey;
    margin-top: 1px; }

.news-list {
  padding: 30px 0 30px 2px;
  overflow-y: auto;
  width: 990px; }
  .news-list .news-box {
    width: 227px;
    height: 350px;
    background-color: white;
    padding: 16px 16px 10px 16px;
    float: left;
    border-right: 2px solid #e1e1e1;
    border-bottom: 2px solid #e1e1e1;
    position: relative;
    margin: 0 10px 25px 10px; }
    .news-list .news-box .news-box-content {
      font-size: 13px;
      line-height: 18px;
      color: #6c6c6c;
      height: 290px;
      overflow: hidden; }
      .news-list .news-box .news-box-content .news-box-title {
        color: #2e74b5;
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        margin-bottom: 10px;
        line-height: 20px;
        display: block;
        cursor: pointer; }
        .news-list .news-box .news-box-content .news-box-title:hover {
          color: #7ca7de; }
      .news-list .news-box .news-box-content img {
        width: auto;
        height: auto;
        margin: 7px 0; }
    .news-list .news-box .news-box-date {
      text-align: right;
      border-top: 1px solid #f1f5f7;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30px;
      padding: 0 20px;
      font-size: 12px;
      color: #2e74b5;
      line-height: 25px; }
.single-news-content {
  background-color: white;
  width: 990px;
  padding: 30px 330px 30px 90px;
  position: relative;
  margin-top: 15px; 
  min-height:1000px;}
  .single-news-content .title{
    font-family: "Lato", sans-serif;
    font-size: 24px;}
  .single-news-content .single-news-text {
    padding-left: 40px;
    color: #737373;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 19px; }
  .single-news-content .single-news-text .contacts{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: black;
    padding-top:30px;
    line-height: 25px; 
    }

  .single-news-content .single-news-text .contacts .name{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: bold;}
  .single-news-content .single-news-text .contacts .jobtitle{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 18px;}
  .single-news-content .single-news-text .contacts .email{
    color: blue;
    font-family: "Lato", sans-serif;
    font-size: 18px;}
  .single-news-content .single-news-text .contacts .email .title{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: bold;}
  .single-news-content .single-news-text .contacts .tel{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 18px;}
  .single-news-content .single-news-text .contacts .tel .title{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: bold;}
    .single-news-content .single-news-text .news-title {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      color: #2e74b5;
      margin-bottom: 50px;
      line-height: 30px; }
    .single-news-content .single-news-text img {
      max-width: 100%; }
    .single-news-content .single-news-text .news-title-newsroom{
      margin-bottom: 10px;}
    .single-news-content .single-news-text .news-title-newsroom a{
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      color: #2e74b5;}    
    .single-news-content .single-news-text .newsroom-synopsis{
      min-height: 120px;
      padding-bottom:50px;}    
  .single-news-content .single-news-text .empty{
    width: 200px;
    height: 200px;
    background-color:white;
    margin-top: 15px; 
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #2e74b5;}
  .single-news-content .single-news-text .odd{
    padding-left:10px;
    background-color:#F2F5F9;}
  .single-news-content .single-news-text .odd td{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
    padding:1px;}
    .single-news-content .single-news-text .odd td a:hover{
      color: #7ca7de; }
  .single-news-content .single-news-text  .even{
    background-color:white;}
  .single-news-content .single-news-text  .even td{
    border-bottom-width: 2px;
    border-bottom-color: #ececec;
    border-bottom-style: solid;}      
    .single-news-content .single-news-text  .even td a:hover{
       color: #7ca7de; }
  .single-news-content .back {
    position: absolute;
    left: 15px;
    top: 25px;
    color: #2e74b5;
    font-size: 14px;
    font-weight: "Raleway", sans-serif;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 50px;
    padding-left: 20px;
    background-image: url(/static/images/back.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 20px; }
    .single-news-content .back:hover {
      color: #2b4b7c; }
  .single-news-content .news-date {
    position: absolute;
    top: 115px;
    left: 0;
    width: 90px;
    height: 60px;
    background-color: #2e74b5;
    color: white;
    font-family: "Raleway", sans-serif; }
    .single-news-content .news-date .day {
      font-size: 36px;
      font-weight: 400;
      text-align: center; }
    .single-news-content .news-date .month {
      text-transform: uppercase;
      text-align: center;
      font-size: 12px; }
    .single-news-content .news-date .year {
      margin-top: 5px;
      color: #2e74b5;
      text-align: right; }
  .single-news-content .single-news-links {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 250px; }
    .single-news-content .single-news-links .news-contact, .single-news-content .single-news-links .news-category {
      min-height: 100px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; }
      .single-news-content .single-news-links .news-contact .title, .single-news-content .single-news-links .news-category .title {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: #2e74b5; }
    .single-news-content .single-news-links .latest-tweets {
      height: 300px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; 
      color:black;
      overflow: scroll;}
    .single-news-content .single-news-links .facebook {
      height: 400px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; 
      color:black;
      overflow: hidden;}
    .single-news-content .single-news-links .news-contact {
      background-color: #ececec;
      margin-bottom: 20px;
      position: relative;
      font-size: 14px;
      color: #2e74b5;
      padding-top: 40px; }
      .single-news-content .single-news-links .news-contact a {
        color: #2e74b5; }
        .single-news-content .single-news-links .news-contact a:hover {
          color: #7ca7de; }
      .single-news-content .single-news-links .news-contact .title {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 25px;
        background-color: #2e74b5;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 10px;
        line-height: 25px; }
    .single-news-content .single-news-links .news-category {
      background-color: white; }
      .single-news-content .single-news-links .news-category .title {
        margin-bottom: 10px; }
      .single-news-content .single-news-links .news-category .category-item {
        color: #838383;
        font-size: 12px;
        border-bottom: 1px solid #dedede;
        border-left: 1px solid #dedede;
        padding: 5px 0 5px 10px; }
  .single-news-content .content-title{
    font-size: 24px; 
    color: #1c1c1c;
    padding-bottom:35px;
  }
  .single-news-content .socialmedia-title{
    font-size: 20px; 
    color: #1c1c1c;
    padding-bottom:4px;
  }  
.single-news-content-cardiff {
  background-color: white;
  width: 990px;
  padding: 60px 60px 60px 10px;
  position: relative;
  margin-top: 15px; 
  min-height:1000px;}
  .single-news-content-cardiff .single-news-text {
    padding-left: 40px;
    color: #2F4F4F;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 19px; }
    .single-news-content-cardiff .single-news-text .news-title {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      color: black;
      font-weight: bold;      
      margin-bottom: 50px;
      line-height: 30px; }
    .single-news-content-cardiff .single-news-text img {
      max-width: 100%; }
    .single-news-content-cardiff .single-news-text .news-title-newsroom{
      margin-bottom: 10px;}
    .single-news-content-cardiff .single-news-text .news-title-newsroom a{
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      color: black;
      font-weight: bold;}    
    .single-news-content-cardiff .single-news-text .newsroom-synopsis{
      min-height: 120px;
      padding-bottom:50px;}    
  .single-news-content-cardiff .single-news-text .empty{
    width: 200px;
    height: 200px;
    background-color:white;
    margin-top: 15px; 
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #2e74b5;}
  .single-news-content-cardiff .back {
    position: absolute;
    left: 15px;
    top: 25px;
    color: #2F4F4F;
    font-size: 14px;
    font-weight: "Raleway", sans-serif;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 50px;
    padding-left: 20px;
    background-image: url(/static/images/back-cardiff.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 12px 20px; }
    .single-news-content-cardiff .back:hover {
      color: #2F4F4F; }
  .single-news-content-cardiff .single-news-links {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 250px; }
    .single-news-content-cardiff .single-news-links .news-contact, .single-news-content-cardiff .single-news-links .news-category {
      min-height: 100px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; }
      .single-news-content-cardiff .single-news-links .news-contact .title, .single-news-content-cardiff .single-news-links .news-category .title {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: #2e74b5; }
  .single-news-content-cardiff .content-title{
    font-size: 24px; 
    color: #1c1c1c;
    padding-bottom:35px;
  }
  .single-news-content-cardiff .socialmedia-title{
    font-size: 20px; 
    color: #1c1c1c;
    padding-bottom:4px;
  }  
.news-content-cardiff {
  background-color: white;
  width: 990px;
  padding: 30px 300px 60px 10px;
  position: relative;
  margin-top: 15px; 
  min-height:1000px;}
  .news-content-cardiff .single-news-text {
    padding-left: 40px;
    color: #2F4F4F;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 19px; }
    .news-content-cardiff .single-news-text .news-title {
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      color: black;
      font-weight: bold;
      margin-bottom: 50px;
      line-height: 30px; }
    .news-content-cardiff .single-news-text img {
      max-width: 100%; }
    .news-content-cardiff .single-news-text .news-title-newsroom{
      margin-bottom: 10px;}
    .news-content-cardiff .single-news-text .news-title-newsroom a{
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      color: black;
      font-weight: bold;}    
    .news-content-cardiff .single-news-text .news-title-newsroom a:hover{
      color: #a1a1a1;}    
    .news-content-cardiff .single-news-text .newsroom-synopsis{
      min-height: 120px;
      padding-bottom:50px;}    
  .news-content-cardiff .single-news-text .empty{
    width: 200px;
    height: 200px;
    background-color:white;
    margin-top: 15px; 
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: #2e74b5;}
  .news-content-cardiff .single-news-links {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 250px; }
    .news-content-cardiff .single-news-links .news-contact, .news-content-cardiff .single-news-links .news-category {
      min-height: 100px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; }
      .news-content-cardiff .single-news-links .news-contact .title, .news-content-cardiff .single-news-links .news-category .title {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: #2e74b5; }
    .news-content-cardiff .single-news-links .latest-tweets {
      height: 300px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; 
      color:black;
      overflow: scroll;}
    .news-content-cardiff .single-news-links .facebook {
      height: 400px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; 
      color:black;
      overflow: hidden;}
  .news-content-cardiff .content-title{
    font-size: 24px; 
    color: #1c1c1c;
    padding-bottom:35px;
  }
  .news-content-cardiff .socialmedia-title{
    font-size: 20px; 
    color: #1c1c1c;
    padding-bottom:4px;
  }  
.empty-state {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0; }
  .empty-state .logo {
    width: 100%;
    height: 80px;
    background-image: url(/static/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 100px; }
  .empty-state .large-number {
    color: #2e74b5;
    font-size: 80px; }
  .empty-state .message {
    color: #b4b4b4;
    font-size: 24px;
    margin-top: 20px;
    font-weight: 400; }

.empty-page {
  background-color: white;
  width: 988px;
  padding: 30px;
  position: relative;
  margin-top: 15px; 
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #2e74b5; }

.plain-page {
  background-color: white;
  width: 990px;
  padding: 30px;
  position: relative;
  margin-top: 15px; }
  .plain-page .plain-page-title {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: #2e74b5;
    margin-bottom: 60px;
    width: calc(100% - 220px); }
  .plain-page .plain-page-content {
    padding: 0 30px 60px 40px;
    color: #838383;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 19px; }

    .plain-page .plain-page-content .newsroom-contact {
      min-height: 100px;
      border-radius: 5px;
      border: 1px solid #dedede;
      padding: 5px 10px 20px 10px;
      font-family: "Lato", sans-serif; }
      .plain-page .plain-page-content .newsroom-contact .title {
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        color: #2e74b5; }
  .plain-page .plain-page-logo {
    position: absolute;
    right: 60px;
    top: 20px;
    width: 200px;
    height: 80px;
    background-image: url(/static/images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px 67px; }
  .plain-page .contact-box {
    width: 30%;
    float: left; }
    .plain-page .contact-box b {
      display: block; }

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50010; }
  .search-modal .overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3; }
  .search-modal .modal {
    position: fixed;
    width: 400px;
    padding-bottom: 20px;
    background-color: white;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: 25%;
    border-radius: 5px; }
    .search-modal .modal .modal-header {
      background-color: #2e74b5;
      color: white;
      padding: 10px;
      border-radius: 5px 5px 0 0; }
    .search-modal .modal .modal-form {
      padding: 20px; }
      .search-modal .modal .modal-form textarea {
        resize: none;
        width: 250px; }
      .search-modal .modal .modal-form input {
        width: 250px;
        margin-bottom: 15px; }
      .search-modal .modal .modal-form label {
        display: inline-block;
        width: 80px; }
      .search-modal .modal .modal-form select {
        margin-top: 15px;
        width: 262px; 
        color: #2e74b5;}
      .search-modal .modal .modal-form option {
        color: #2e74b5;
        font-family: "Lato", sans-serif;}
    .search-modal .modal .prmax-btn {
      margin: 0 5px; }

@media only screen and (max-width: 990px) {
  .content-width, .news-list, .single-news-content, single-news-content-cardiff, .plain-page{
    width: 100%; }

  .content-width {
    padding: 0 20px; }

  .page-content {
    padding: 180px 20px 0 20px; }

  .empty-page {
    width: 98%;}
  .main-header .search-bar .search-menu-bar {
    width: calc(100% - 160px);
    padding: 7px 10px; }
    .main-header .search-bar .search-menu-bar .detailed-search {
      margin-right: 20px; }

  .news-list .news-box {
    width: 31%;
    margin: 0 7px 25px 7px; } }
@media only screen and (max-width: 860px) {
  .plain-page.contact .plain-page-content .contact-box {
    width: 100%; } }
@media only screen and (max-width: 800px) {
  .single-news-content {
    padding: 30px 50px 30px 90px; }
    .single-news-content .single-news-links {
      width: 100%;
      position: static;
      padding-left: 50px; } 
  .single-news-content-cardiff {
    padding: 30px 50px 30px 90px; } }
@media only screen and (max-width: 775px) {
  .news-list .news-box {
    width: 47%; } }
@media only screen and (max-width: 680px) {
  .main-header .search-bar .latest-news {
    width: 47px;
    background-position: center center; }
    .main-header .search-bar .latest-news span {
      display: none; }
  .main-header .search-bar .search-menu-bar {
    width: calc(100% - 57px); }
    .main-header .search-bar .search-menu-bar .search {
      width: 150px; }
    .main-header .search-bar .search-menu-bar .menu-trigger .menu-categories .menu-item {
      padding: 7px 10px;
      font-size: 16px; }

  .plain-page .empty-page{
    padding: 20px; }
    .plain-page .plain-page-content {
      padding: 0; }
    .plain-page .plain-page-title {
      width: calc(100% - 120px); }
    .plain-page .plain-page-logo {
      width: 100px;
      height: 60px;
      right: 20px;
      top: 0;
      background-size: 100px 40px; } }
@media only screen and (max-width: 575px) {
  .page-content {
    padding: 215px 20px 0 20px; }

  .news-list .news-box {
    width: 100%; }

  .menu-boxes {
    width: 100%;}
  .footer {
    height: 70px; }
    .footer .links a {
      font-size: 13px;
      margin: 8px 0; }
    .footer .copyright {
      display: none; }

  body {
    padding: 0 0 100px 0; } }
@media only screen and (max-width: 490px) {
  .page-content {
    padding: 165px 20px 0 20px; }

  .main-header .main-title {
    font-size: 20px;
    margin-bottom: 15px; }

  .news-list .news-box {
    width: 100%;
    margin: 0 0 25px 0; }

  .main-header .search-bar .search-menu-bar .menu-trigger {
    width: 25px;
    height: 25px;
    background-image: url(/static/images/filter.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px 25px; }
    .main-header .search-bar .search-menu-bar .menu-trigger span {
      display: none; }

  .single-news-content {
    padding: 30px; }
    .single-news-content .news-date, .single-news-content .back {
      display: none; }
    .single-news-content .single-news-text {
      padding-left: 0; }
    .single-news-content .single-news-links {
      padding-left: 0; }
  .single-news-content-cardiff {
    padding: 30px; }
    .single-news-content-cardiff .back {
      display: none; }
    .single-news-content-cardiff .single-news-text {
      padding-left: 0; }
  .search-modal .modal {
    width: calc(100% - 20px); } }
@media only screen and (max-width: 420px) {
  .page-content {
    padding: 165px 10px 0 10px; }
    .page-content .news-list .news-box .news-box-content {
      font-size: 16px;
      line-height: 21px; }
    .page-content .news-list .news-box .news-box-title {
      font-size: 20px;
      line-height: 24px; }
  .main-header .search-bar .search-menu-bar .search {
    width: 100px; }
  .single-news-content {
    padding: 25px; }
    .single-news-content .single-news-text {
      font-size: 16px;
      line-height: 21px; }
  .single-news-content-cardiff {
    padding: 25px; }
    .single-news-content-cardiff .single-news-text {
      font-size: 16px;
      line-height: 21px; }
  .single-news-content .single-news-links .news-contact, .single-news-content .single-news-links .news-category .category-item {
    font-size: 16px; }
  .search-modal .modal {
    top: 10%; } }
@media only screen and (max-width: 370px) {
  .main-header .main-title {
    display: none; }
  .main-header .search-bar .search-menu-bar .search {
    width: 85px;
    margin-right: 10px; }
  .main-header .search-bar .search-menu-bar .detailed-search {
    margin-right: 10px; }

  .content-width {
    padding: 0 10px; }

  .page-content {
    padding-top: 130px; }

  .news-list {
    padding: 10px 0 30px 0; } }
@media only screen and (max-width: 340px) {
  .footer {
    height: 70px; }

  body {
    padding: 0 0 120px 0; }

  .page-content .plain-page .plain-page-logo .empty-page{
    width: 80px;
    height: 50px;
    right: 20px;
    top: 0;
    background-size: 80px 40px; } }

/*# sourceMappingURL=output.css.map */


