body {
	margin:0;
	padding:0;
	border:0;
	overflow:auto;
	height:100%;
	max-height:100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	background-color:#d9e4ed;
}
.totalframe {
	width:954px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	position:inherit;
	overflow:hidden;
	padding:5px;
	background-color:white
}
.headercontent {
	top:0;
	left:0;
	width:100%;
	height:140px;
	overflow:hidden;
	background-color:#6699cc;
	background-image: url(../images/header.png);
	background-repeat:no-repeat;
	background-position:left top;
	color:white;
	padding:5px;
	margin:0px
}
.headercontent h1 {
	padding:0px;
	margin:0px;
	padding-bottom:5px
}

.headercontent_nr {
	top:0;
	left:0;
	width:99%;
	height:140px;
	overflow:hidden;
	color:white;
	padding:5px;
	margin:0px
}
.maincontent {
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	width:100%;
	padding:0px;
	margin:0px
}
.innertube {
	margin:0px;
	margin-top:2px;
}

.innertube_newsroom {
	width:74%;
	float:left;
}

.innertube .release {
	height:105px;
	margin:0px;
	padding:0px;
	border-style:solid;
	border-width:1px;
	border-color:#ccc;
	padding:5px;
}
.innertube .release .image_frame {
	float:left;
	width:15%;
	height:100px;
	margin:0px;
	padding:0px
}
.innertube .release .details_frame {
	float:left;
	width:85%;
	margin:0px;
	padding:0px
}

.details_newsroom
{
	position:relative;
	float:right;
	width:25%;
	margin:0px;
	padding:0px;
	padding-left:4px;
}

.details_newsroom .client_name_header{
	font-size: 2em;
	font-weight:bold;
	padding:3px;
	text-align:center;
}
.details_newsroom a
{
	font-size:1.1em;
}




.details_frame .headline {
	font-size: 14px;
	font-weight:bold;
	color: #336699;
	padding-left:80px;
}
.details_frame .synopsis {

}
.innertube .release p {
	margin:1px;
	padding:1px
}
.innertube .release .synopsis {
	margin:0px;
	padding-left:60px
}
.innertube .release .headline {
	margin:0px;
	padding-left:60px
}
.innertube .release .link {
	float:right;
	margin-right:5px
}
.maincontent {
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
	width:100%
}
.maincontent .column1 {
	width:75%;
	float:left;
	overflow:auto
}
.maincontent .column2 {
	width:24%;
	float:right;
	overflow:hidden;
}
.maincontent .column2 .heading {
	background-color:grey;
	color:white
}
.maincontent .column2 p {
	padding:1px;
	margin:1px;
	font-size:10pt
}
.maincontent .notfound {
	font-size:14pt;
	text-align:center;
	font-weight:bold;
	width:74%;
	float:left;
}
.footer {
}
.footer .link {
	width:230px;
	float:left
}
.categories {
}
.categories .link {
	width:314px;
	float:left;
	padding:1px;
	border:0px
}
.trail {
	padding-bottom:1px;
	height:25px;
	margin:0px
}
.trail p {
	padding:0px;
	margin:0px
}
.trail .showing {
	text-align:right;
	float:right
}
.trail .bread {
	text-align:right;
	float:left
}
.trail .bread a {
	color: #45688a;
	font-weight:bold;
	text-decoration: none;
	padding-right:1px;
}

.trail .bread .selected {
	font-size:1.1em;

}


.search_form {
}
.search_form label {
	text-align:right;
	padding-right:5px;
	width:150px;
	color:blue;
	float:left
}
a {
	color: #45688a;
	font-weight:bold;
	text-decoration: none;
	}

a:hover {
	color: #99ccff;
	text-decoration: none;
}

a.sidelinks {
	color: #fff;
	font-weight:bold;
	text-decoration: none;
	background-image: url(../images/linkbg.png);
	background-repeat:no-repeat;
	background-position:top left;
	width:120px;
	height:32px;
	padding-left:0px;
	padding-top:10px;
	text-align:center
}

a:hover {
	color: #99ccff;
	text-decoration: none;
}
a.toplinks {
	color: #fff;
	text-decoration: none;
	background-image:none;
}
a.bottlinks {
	color: #000;
	text-decoration: none;
	background-image:none;
}

.pageheadline {
	font-size: 14px;
	font-weight:bold;
	color: #336699;
}

.copyright {
	font-size: 10px;
	font-weight:normal;
	color: #666666;
}

.innertube_collateral {
	width:74%;
	float:left;
}

.innertube_newsroom .header
{
	text-align:center;
	font-size:2em;
	font-style:bold;
}

.innertube_collateral .heading
{
	text-align:center;
	font-size:2em;
	font-style:bold;
	padding:10px 0px 0px 0px;
	margin:0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeddcc;

}

.innertube_collateral .odd
{
	padding-left:10px;
	background-color:#F2F5F9;
}
.innertube_collateral .odd td
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eeddcc;
	padding:1px;
}
.innertube_collateral .even
{
	background-color:white;
}

.innertube_collateral .even td
{
	border-bottom-width: 1px;
	border-bottom-color: #eeddcc;
	border-bottom-style: solid;
}