<div>
	<table style="width:100%;border-style:collapsed" cellpadding="0" cellspacing="0">
		<tr>
			<td><input style="width:100px" dojoAttachPoint="text_box" type="text" dojoType="dijit.form.TextBox"></td>
			<td><input  style="width:80px" dojoAttachPoint="date_box" class="prmaxbutton" type="text"  dojoType="dijit.form.DateTextBox" ></td>
			<td><label dojoAttachPoint="label_box" >Month Only</label></td>
			<td><input dojoAttachPoint="month_checkbox" type="checkbox" value="1" dojoType="dijit.form.CheckBox"></td>
		</tr>
	</table>
</div>
