<div class="outlettype">
	<table width="100%" class="prmaxtable" cellpadding="0" cellspacing="0" >
		<tr><td width="20%"   class="prmaxrowtag">Media Type</td>
				<td width="5%" ><img height="16px" width="16px" data-dojo-attach-point="togglectrl" data-dojo-attach-event="onclick:_toggle" src="/prmax_common_s/images/toopen.gif" class="toggleselect"></img>
				<td align="right" valign="top" ><div data-dojo-attach-point="countnode" data-dojo-type="prcommon2/search/SearchCount"></div></td>
		</tr>
	</table>
	<div style="border 2px solid black">
		<div data-dojo-attach-point="selectarea" style="display:none" >
			<table width="100%" class="prmaxtable">
				<tr>
					 <td width="2%"><input data-dojo-attach-point="node1" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:1' /></td><td width="8%"><label data-dojo-attach-point="node1label" class="labeltag" >National Newspapers</label></td>
					<td width="2%"><input data-dojo-attach-point="node2" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:2' /></td><td width="8%"><label data-dojo-attach-point="node2label" class="labeltag" >Regional Newspapers</label></td>
					<td width="2%"><input data-dojo-attach-point="node4" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:4' /></td><td width="8%"><label data-dojo-attach-point="node4label" class="labeltag" >B2B Magazines</label></td>
					<td width="2%"><input data-dojo-attach-point="node5" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:5' /></td><td width="8%"><label data-dojo-attach-point="node5label" class="labeltag" >Consumer Magazines</label></td>
				</tr>
				<tr>
				  <td width="2%"><input data-dojo-attach-point="node6" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:6'  /></td><td width="8%"><label class="labeltag" data-dojo-attach-point="node6label" >Radio</label></td>
				  <td width="2%"><input data-dojo-attach-point="node7" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:7'  /></td><td width="8%"><label class="labeltag" data-dojo-attach-point="node7label" >Tv</label></td>
				  <td width="2%"><input data-dojo-attach-point="node8" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:8'  /></td><td width="8%"><label class="labeltag" data-dojo-attach-point="node8label" >New Media</label></td>
				  <td width="2%"><input data-dojo-attach-point="node9" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:9'  /></td><td width="8%"><label class="labeltag" data-dojo-attach-point="node9label" >Other</label></td>
				</tr>
				<tr>
					<td width="2%"><input data-dojo-attach-point="node11" data-dojo-attach-event="onClick:outlet_select" data-dojo-type="dijit/form/CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:1'  /></td><td width="8%"><label class="labeltag" data-dojo-attach-point="node11label" >Other Newspapers</label></td>
				</tr>
			</table>
		</div>
	</div>
</div>

