<div>
	<table width="99%" class="prmaxtable" cellpadding="0" cellspacing="0" >
		<tr><td width="20%" class="prmaxrowtag">Publisher</td>
				<td width="75%" ><select data-dojo-attach-point="select" data-dojo-type ="dijit/form/FilteringSelect" data-dojo-props='name:"publisherid",autoComplete:true,searchAttr:"publishername",required:false,labelType:"html",placeholder:"All",value:-1' data-dojo-attach-event="onChange:_changed" ></td>
				<td width="5%"align="right" valign="top" ><div data-dojo-attach-point="countnode" data-dojo-type="prcommon2/search/SearchCount"></div></td>
		</tr>
	</table>
</div>
