<div  class="block panelfooter">
	<div class="defaultsettings" style="float:left;width:320px;" >
	<p class="titletext_1" style="padding-bottom:4px">PRmax recommends:</p>
	<a href="http://www.prmoment.com" target="blank" ><img src="/static/images/banner_pr_jobs.gif" height="65px" width="103px" alt="PRMoment" ></img></a>
	<div style="height:65px;width;103px;display:inline">
	<a height="65px" width="103px" href="http://www.freshawards.co.uk" target="blank" ><span class="titletext_1">The Fresh Awards</span></a><br/>
	</div>
	</div>
	<div class="defaultsettings" style="float:left;margin-left:20px;margin-top:20px;width:255px"  ><div style="width:250px"><a href="/eadmin/newaccountform"><p class="titletext4">Buy Now</p></a></div></div>
	<div class="defaultsettings" style="float:right;text-align:left" ><p class="titletext_1">SALES HOTLINE<span class="titletext_2">01582 380199</span></p><p class="titletext_1">SALES Email<span class="titletext_2"><a style="color:white" href="mailto:sales@prmax.co.uk">Sales@prmax.co.uk</a></span></p><br/><br/><p class="tiny">web site designed by Milnes Design</p></div>
</div>

