<div  style="height:60px;width:950px" class="block mheader" >
<div style="float:left;width:140px;padding-top:2px;">
<a href="/" style="float:left"><img style="border:0px;" width="126px" height="43px" src="/static/images/prmax.gif" alt="The UK's best media directory on the web"></img></a>
</div>
<img style="float:left" height="50px" width="12px" src="/static/images/prmax_spacer.gif"></img>
<a href="/marketing/productinfo" style="float:left;padding-top:8px" class="page_link">Product Information</a>
<img style="float:left" height="50px" width="12px" src="/static/images/prmax_spacer.gif"></img>
<a href="/marketing/aboutus" class="page_link" style="float:left" title="About Us">About us</a>
<img style="float:left" height="50px" width="12px" src="/static/images/prmax_spacer.gif"></img>
<a href="/marketing/pricing" class="page_link" style="float:left">Pricing</a>
<img style="float:left" height="50px" width="12px" src="/static/images/prmax_spacer.gif"></img>
<a href="/marketing/contactus" class="page_link" style="float:left">Contact us</a>
<img style="float:left" height="50px" width="12px" src="/static/images/prmax_spacer.gif"></img>
<a href="${prmax.url}login"  class="page_link"  style="float:left">Customer Login</a>
<img style="float:left" height="50px" width="12px" src="/static/images/prmax_spacer.gif"></img>
<div style="float:right;width:130px;padding-top:2px;">
<a href="/" style="float:right"><img style="border:0px;" width="126px" height="43px" src="/static/images/prmax.gif" alt="The UK's best media directory on the web"></img></a>
</div>
</div>