<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
<head>
<title>PRmax</title>
<xi:include href="std_css.html"/>
<xi:include href="marketing_common_1.html"/>
<meta name="description" content="PRmax Media Contact Information PR Press Release"></meta>
<meta name="keywords" content="PRmax, Media, Contact, Information, PR, Press, Release"></meta>
</head>
<body >
<xi:include href="marketing_header.html"/>
<div  class="block">
<br/><br/>
		<p style="font-size:18px;padding-left:100px"><b>Email Address has been unsubscribed</b></p>
<br/><br/>
</div>
<xi:include href="marketing_footer.html"/>
</body></html>
