<div>
<form class="prmaxdefault" dojoType="dijit.form.Form" onsubmit="return false" dojoAttachPoint="addForm">
<table width="100%" class="prmaxtable">
  <tr>
  <td width="20%" class="prmaxrowtag">New Tag</td>
  <td width="80%" ><input  class="prmaxinput" dojoType="dijit.form.ValidationTextBox" name="interestname" dojoAttachPoint="interestname" required="true" trim="true" maxlength="45" style="width:100%" promptMessage="Enter new tag name" type="text"></td></tr>
 <tr><td colspan="2" align="right"><button dojoType="dojox.form.BusyButton" dojoAttachPoint="addTag"  iconClass="dijitPrmaxIcon dijitPrmaxAdd" dojoAttachEvent="onClick:_Save" busyLabel="Please Wait Adding Tag..." >Add Tag</button></td></tr></table>
</form></div>