<div>
	<table data-dojo-attach-point="waitbar" width="100%" cellpadding="0" cellspacing="0">
		<tr><td align="left" valign="middle" style="padding:0px 3px;width:100%;vertical-align:middle" class="square_button_red">
			<button data-dojo-props='type:"button",title:"Cancel"' data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:stop" data-dojo-attach-point="cancelbtn"><i class="fa fa-times fa-lg"></i>&nbsp;&nbsp;Cancel</button>
		</td>
		<td align="right" valign="middle" style="padding:5px 3px;vertical-align:'middle'">
			<i class="fa fa-spinner fa-2x fa-pulse" style="color:#4296d0"></i>
		</td><td width="180px" nowrap valign="middle" style="padding: 6px 8px 6px 4px;vertical-align:'middle';">
			Please wait while synchronise series members...
		</td></tr>
	</table>
</div>


