<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<body>
<div class="outletdisplay">
	<table style="table-layout: fixed;border-collapse: collapse;" width="100%" >
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplaylarge" py:content="outlet.outletname"></td>
			<td py:if="outlet.profileimageurl!=None"><img src="${outlet.profileimageurl}" /></td>
		</tr>
		<span py:if="outlet.www" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-link fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.www}" target="_newtab" py:content="outlet.www"></a></td>
		</tr>
		</span>
		<span py:if="outlet.email" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></td>
			<td class="${outlet.emailflag and 'prmaxoverride' or 'prmaxrowdisplay'}"><a py:attrs="{'href':'mailto:%s'%outlet.email}" target="blank" py:content="outlet.email"></a></td>
		</tr>
		</span>
		<span py:if="outlet.tel" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></td>
			<td py:content="outlet.tel" class="${outlet.telflag and 'prmaxoverride' or 'prmaxrowdisplay'}" ></td>
		</tr>
		</span>
	</table>
	<table style="table-layout: fixed;border-collapse: collapse;" width="100%" >
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile" py:content="prmaxoutlettypedisplay"></td>
		</tr>		
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile2" py:content="newprofile['editorialprofile']"></td>
		</tr>		
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile" py:content="addressdisplay"></td>
		</tr>		
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile" py:content="publisherdisplay"></td>
		</tr>		
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile2" py:content="interestsdisplay"></td>
		</tr>		
	</table>
</div>
</body>
</html>
