<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<body>
  <div class="outletdisplay">
	<table style="table-layout: fixed;border-collapse: collapse;" width="100%" >
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplaylarge" py:content="outlet.outletname"></td>
			<td width="100px" py:if="outlet.profileimageurl!=None"><img src="${outlet.profileimageurl}" /></td>
		</tr>
  		<span py:if="outlet.www" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-link fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.www}" target="_newtab" py:content="outlet.www"></a></td>
		</tr>
		</span>
		<span py:if="outlet.email" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></td>
			<td class="${outlet.emailflag and 'prmaxoverride' or 'prmaxrowdisplay'}"><a py:attrs="{'href':'mailto:%s'%outlet.email}" target="blank" py:content="outlet.email"></a></td>
		</tr>
		</span>
		<span py:if="outlet.tel" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></td>
			<td py:content="outlet.tel" class="${outlet.telflag and 'prmaxoverride' or 'prmaxrowdisplay'}" ></td>
		</tr>
		</span>
		<span py:if="outlet.fax" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-fax fa-2x" aria-hidden="true"></i></td>
			<td py:content="outlet.fax" class="${outlet.faxflag and 'prmaxoverride' or 'prmaxrowdisplay'}"></td>
		</tr>
		</span>
		<span py:if="outlet.twitter" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.twitter}" target="_newtab" py:content="outlet.twitter"></a></td>
		</tr>
		</span>
		<span py:if="outlet.facebook" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.facebook}" target="_newtab" py:content="outlet.facebook"></a></td>
		</tr>
		</span>
		<span py:if="outlet.instagram" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.instagram}" target="_newtab" py:content="outlet.instagram"></a></td>
		</tr>
		</span>
		<span py:if="outlet.linkedin" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.linkedin}" target="_newtab" py:content="outlet.linkedin"></a></td>
		</tr>
		</span>
		<span py:if="newprofile.web_profile_link" py:strip="">
		<tr>
			<td class="prmaxrowtag"><i class="fa fa-user fa-2x" aria-hidden="true"></i></td>
			<td class="prmaxrowdisplay"><a py:attrs="{'href':newprofile.web_profile_link}" target="_newtab" py:content="newprofile.web_profile_link"></a></td>
		</tr>
		</span>
	</table>
	<table style="table-layout: fixed;border-collapse: collapse; margin-top:15px" width="100%" >
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile2" py:content="addressdisplay"></td>
		</tr>		
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile2" py:content="interestsdisplay"></td>
		</tr>		
		<tr>
			<td width="50"></td>
			<td width="auto" class="prmaxrowdisplay_profile2" py:content="coveragedisplay"></td>
		</tr>		
	</table>
  </div>
</body></html>
