<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<body>
<div class="outletdisplay">
  <table class="prmaxtable" width="100%">
    <tr><td class="prmaxrowtag" width="14%">Name</td><td  width="86%" class="prmaxrowdisplay" py:content="outlet.outletname"></td></tr>
    <tr><td class="prmaxrowtag">Web</td><td class="prmaxrowdisplay" ><a py:attrs="{'href':outlet.www}" target="blank" py:content="outlet.www"></a></td></tr>
    <tr><td class="prmaxrowtag">Address</td><td class="${outlet.addressflag and 'prmaxoverride' or 'prmaxrowdisplay'}" py:content="outlet.address"></td></tr>
    <tr><td class="prmaxrowtag">Email</td><td class="${outlet.emailflag and 'prmaxoverride' or 'prmaxrowdisplay'}" ><a py:attrs="{'href':'mailto:%s'%outlet.email}" target="blank" py:content="outlet.email"></a></td></tr>
    <tr><td class="prmaxrowtag">Tel</td><td class="${outlet.telflag and 'prmaxoverride' or 'prmaxrowdisplay'}" py:content="outlet.tel"></td></tr>
    <tr><td class="prmaxrowtag">Fax</td><td class="${outlet.faxflag and 'prmaxoverride' or 'prmaxrowdisplay'}" py:content="outlet.fax"></td></tr>
<span py:if="outlet.twitter" py:strip="">
	<tr><td class="prmaxrowtag">Twitter</td><td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.twitter}" target="_newtab" py:content="outlet.twitter"></a></td></tr>
</span>
<span py:if="outlet.facebook" py:strip="">
	<tr><td class="prmaxrowtag">Facebook</td><td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.facebook}" target="_newtab" py:content="outlet.facebook"></a></td></tr>
</span>
<span py:if="outlet.linkedin" py:strip="">
	<tr><td class="prmaxrowtag">Linkedin</td><td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.linkedin}" target="_newtab" py:content="outlet.linkedin"></a></td></tr>
</span>
<span py:if="outlet.instagram" py:strip="">
	<tr><td class="prmaxrowtag">Instagram</td><td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.instagram}" target="_newtab" py:content="outlet.instagram"></a></td></tr>
</span>
<span py:if="outlet.blog" py:strip="">
	<tr><td class="prmaxrowtag">Blog</td><td class="prmaxrowdisplay"><a py:attrs="{'href':outlet.blog}" target="_newtab" py:content="outlet.blog"></a></td></tr>
</span>
	<tr><td width="20%" valign="top" class="prmaxrowtag">Keywords</td><td>
		<span py:for="interest in interests" py:strip="True"><span class="prmaxrowdisplay" py:content="interest.interestname"></span>,&nbsp;</span>
	</td></tr>
</table>
</div>
</body></html>
