<div>
	<form  class="prmaxdefault" dojoAttachPoint="requiredNode" onSubmit="return false" dojoType="dijit.form.Form">
		<input type="hidden" dojoType="dijit.form.TextBox" dojoAttachPoint="advancefeatureslistid" name="advancefeatureslistid" >
		<table width="100%" class="prmaxtable" cellpadding="0" cellpadding="0">
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td class="prmaxrowtag" valign="top">Selection</td><td><div name="deleteoptions" dojoAttachPoint="source" dojoType="prmax.common.SelectOptions" i></td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2" align="right"><button class="prmaxbutton" iconClass="dijitPrmaxIcon dijitPrmaxDelete"  type="button" dojoAttachEvent="onClick:_SubmitForm" dojoAttachPoint="saveNode" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Deleteing ..." label="Delete"></button></td></tr>
		</table>
	</form>
</div>