<div>
	<div  dojoAttachPoint="borderCtrl" dojotype="dijit.layout.BorderContainer" style="width:100%;height:100%" >
		<div  dojoAttachPoint="tabController" dojotype="dijit.layout.TabContainer" style="width:100%;height:100%">
			<div dojoAttachPoint="savetolisttab" dojoType="dijit.layout.ContentPane" title="Existing Media List" style="width:100%;height:385px;padding:5px">
				<form class="prmaxdefault" dojoAttachPoint="requiredNode" onSubmit="return false" dojoType="dijit.form.Form">
					<input type="hidden" dojoType="dijit.form.TextBox" dojoAttachPoint="advancefeatureslistid" name="advancefeatureslistid" >
					<table width="100%" class="prmaxtable" cellpadding="0" cellpadding="0">
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr><td class="prmaxrowtag" valign="top">Selection</td><td><div name="selection" dojoAttachPoint="source" dojoType="prmax.common.SelectOptions" ></td></tr>
						<tr><td class="prmaxrowtag" width="20%" >List Name</td><td><div dojoType="dijit.form.FilteringSelect"
								name="listid" dojoAttachPoint="lists" required="true" pageSize="20" autoComplete="true" labelAttr="listname" searchAttr="listname"
				        promptMessage="Please Select a list"
								missingMessage="A Standling List is Required"></div></td></tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr>
							<td align="left"><button class="prmaxbutton" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_Cancel" >Cancel</button></td>
							<td align="right"><button class="prmaxbutton" type="button" dojoAttachEvent="onClick:_DoSave" dojoAttachPoint="saveNode" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving To..." label="Add to Existing Media List"></button></td></tr>
					</table>
				</form>
			</div>
			<div dojoType="dijit.layout.ContentPane" title="New Media List" style="width:100%;height:385px;padding:5px">
				<form class="prmaxdefault" dojoAttachPoint="formNew" dojoType="dijit.form.Form" onsubmit="return false">
					<input type="hidden" dojoType="dijit.form.TextBox" dojoAttachPoint="advancefeatureslistid2" name="advancefeatureslistid" >
					<table class="prmaxtable" width="100%">
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr><td class="prmaxrowtag" valign="top">Selection</td><td><div name="selection" dojoAttachPoint="source2" dojoType="prmax.common.SelectOptions" ></td></tr>
						<tr><td class="prmaxrowtag">New Media List Name</label></td><td><input dojoAttachPoint="listname" dojoType="dijit.form.ValidationTextBox" name="listname" required="true" trim="true" maxlength="45" promptMessage="Enter new list name" type="text"></td></tr>
						<tr><td colspan="2">&nbsp;</td></tr>
						<tr>
								<td align="left"><button class="prmaxbutton" dojoType="dijit.form.Button" type="button" dojoAttachEvent="onClick:_Cancel" >Cancel</button></td>
								<td align="right"><button class="prmaxbutton" dojoAttachEvent="onClick:_SaveNew" dojoAttachPoint="saveNewNode" dojoType="dojox.form.BusyButton" type="button" >Add to New Media List</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>