<div class="common_prmax_layout">
<br/>
	<form data-dojo-attach-point="form" data-dojo-type="dijit.form.Form" data-dojo-props='onSubmit:"return false","class":"common_prmax_layout"'>
		<input data-dojo-attach-point="customerid" data-dojo-props='name:"icustomerid",type:"hidden"' data-dojo-type="dijit.form.TextBox" />
		<label class="label_3"><input data-dojo-attach-point="search_show_job_roles" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"search_show_job_roles",type:"checkbox"'/> Job Title Search</label><br/>
		<label class="label_3"><input data-dojo-attach-point="search_show_coverage" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"search_show_coverage",type:"checkbox"'/> Coverage Search</label><br/>
		<label class="label_3"><input data-dojo-attach-point="search_show_profile" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"search_show_profile",type:"checkbox"'/> Profile Search</label><br/>
		<label class="label_3"><input data-dojo-attach-point="search_show_smart" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"search_show_smart",type:"checkbox"'/> Smart Search</label><br/>
		<label class="label_3"><input data-dojo-attach-point="view_outlet_results_colours" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"view_outlet_results_colours",type:"checkbox"'/> Outlet Results Colours </label><br/>
		<label class="label_3"><input data-dojo-attach-point="no_distribution" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"no_distribution",type:"checkbox"'/> No Distribution </label><br/>
		<label class="label_3"><input data-dojo-attach-point="distributionistemplated" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"distributionistemplated",type:"checkbox"'/> Distribution is Templated</label><br/>
		<label class="label_3"><input data-dojo-attach-point="no_export" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"no_export",type:"checkbox"'/> No Export (Excel)</label><br/>
		<label class="label_3"><input data-dojo-attach-point="has_clickthrought" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"has_clickthrought",type:"checkbox"'/> Click Through Release</label><br/>
		<label class="label_3"><input data-dojo-attach-point="cla" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"cla",type:"checkbox",value:"2"'/> CLA Licence</label><br/>
		<label class="label_3"><input data-dojo-attach-point="nla" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"nla",type:"checkbox",value:"3"'/> NLA Licence</label><br/>
		<label class="label_3"><input data-dojo-attach-point="extended_security" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"extended_security",type:"checkbox"'/> Extended Security</label><br/>
		<label class="label_3"><input data-dojo-attach-point="required_client" data-dojo-type="dijit.form.CheckBox" data-dojo-props='name:"required_client",type:"checkbox"'/> Required Client</label><br/><br/><br/>
		<br/><br/>
		<label class="label_2">IP Restrictions</label><input data-dojo-props='type:"text",name:"valid_ips"' data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="valid_ips" ><br/>
		<br/><br/>
		<button data-dojo-attach-event="onClick:_update" data-dojo-attach-point="updatebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Updating ...",label:"Update",'></button><br/><br/>
	</form>
</div>
