<div >
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='style:"overflow:auto;overflow-x:hidden",region:"center"' >
		<form  data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-props='onsubmit:"return false;"'>
			<input data-dojo-props='type:"hidden",name:"outletid",value:"-1"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="outletid">
			<table width="98%" cellspacing="1" cellpadding="1">
				<tr><td align="right" class="prmaxrowtag">Supplement of</td><td><div data-dojo-type="prcommon2/outlet/OutletSelect" data-dojo-attach-point="supplementofid" data-dojo-props='name:"supplementofid"'></div></td><tr>
				<tr><td align="right" class="prmaxrowtag" valign="top">Outlet Supplements</td><td><div data-dojo-type="prcommon2/outlet/SelectMultipleOutlets" data-dojo-attach-point="supplements" data-dojo-props='value:"",name:"supplements"'></div></td><tr>
				<tr><td align="right" class="prmaxrowtag">Series Parent</td><td><div data-dojo-type="prcommon2/outlet/OutletSelect" data-dojo-attach-point="seriesparentid" data-dojo-props='name:"seriesparentid"'></div></td><tr>
				<tr id='serieschildren_tr'><tr>
				<tr><td align="right" class="prmaxrowtag">Media Channel</td><td class="prmaxrowdisplay"><select data-dojo-props='style:"width:90%","class":"prmaxrequired",name:"prmax_outlettypeid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Please select outlet type",labelType:"html"' data-dojo-type="dijit/form/FilteringSelect"  data-dojo-attach-point="prmax_outlettypeid"></select></td></tr>
				<tr><td align="right" class="prmaxrowtag" valign="top">Keywords</td><td ><div data-dojo-type="prcommon2/interests/Interests" data-dojo-attach-point="interests" data-dojo-props='name:"interests",selectonly:true,size:6,displaytitle:"",startopen:true,restrict:0,keytypeid:6,title:"Select"'></div></td></tr>
				<tr><td align="right" class="prmaxrowtag" valign="top">Geo. Coverage</td><td ><div data-dojo-attach-point="coverage" data-dojo-type="prcommon2/geographical/Geographical" data-dojo-props='name:"coverage",selectonly:true,size:6,displaytitle:"",startopen:true,title:"Select"'></div></td></tr>
			</table>
		</form>
	</div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"bottom", style:"width:100%;height:40px;padding:5px"' >
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td align="left"><button data-dojo-attach-event="onClick:_delete" data-dojo-type="dijit/form/Button" data-dojo-props='type:"button",label:"Delete Outlet"'></button></td>
				<td><label class="prmaxrowtag">Reason</label><select data-dojo-attach-point="reasoncodeid" data-dojo-type ="dijit/form/FilteringSelect" data-dojo-props='name:"reasoncodeid",searchAttr:"name",labelType:"html","class":"prmaxrequired",style:"width:120px"'></select></td>
				<td><button data-dojo-attach-event="onClick:_update_coding" data-dojo-attach-point="savenode" data-dojo-type="dojox/form/BusyButton" data-dojo-props='style:"float:right",type:"button",busyLabel:"Please Wait Saving...",label:"Save"'></button></td>
			</tr>
		</table>
	</div>
	<div data-dojo-attach-point="outlet_delete_dlg" data-dojo-type="dijit/Dialog" data-dojo-props='title:"Delete Outlet"'>
		<div data-dojo-attach-point="outlet_delete_ctrl" data-dojo-type="research/outlets/OutletDelete"></div>
	</div>
</div>
