<div>
	<div  data-dojo-attach-point="expframe"  data-dojo-type="dojox/layout/ExpandoPane" data-dojo-props='title:"Results",region:"left",style:"width:50%;height:100%;overflow: hidden;border:1px solid black",splitter:true'>
		<div data-dojo-type="research/search" data-dojo-props='style:"width:100%;height:100%",gutters:false'></div>
	</div>
	<div data-dojo-type="dijit/layout/StackContainer" data-dojo-attach-point="controls" data-dojo-props='region:"center",splitter:true,gutters:false'>
		<div data-dojo-props='title:"blank"' data-dojo-attach-point="blank" data-dojo-type="dijit/layout/ContentPane"></div>
		<div data-dojo-props='style:"width:100%;height:100%;border:1px solid black",title:"outlet"' data-dojo-attach-point="outletedit" data-dojo-type="research/outlets/OutletEdit" ></div>
		<div data-dojo-props='title:"freelance",style:"width:100%;height:100%;border:1px solid black"' data-dojo-attach-point="freelanceedit" data-dojo-type="research/freelance/FreelanceEdit" ></div>
		<div data-dojo-props='title:"internaltional",style:"width:100%;height:100%;border:1px solid black"' data-dojo-attach-point="internationaledit" data-dojo-type="research/international/Edit" ></div>
	</div>
</div>
