<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
<title>Integrated Login to PRmax Failed</title>
<style type="text/css"  media="screen" >
	@import "/static/${prmax['prodpath']}/css/expiry.css?version=${prmax['dojoversion']}";
</style>
</head>
<body >
<div id="outerBox"><div id="innerBox">
		<p >Login to PRmax Failed</p>
	</div></div>
</body></html>
