<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" lang="en">
<head>
	<title>Password Request</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png"></link>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="AUTHOR" content="Chris Hoy"></meta>
<meta name="COPYRIGHT" content="Prmax System v${prmax['dojoversion']} ${prmax['copyright']}"></meta>
<style type="text/css"  media="screen" >
	@import "/static/${prmax['prodpath']}/css/expiry.css?version=${prmax['dojoversion']}";
	.submitbtn{
		color:#4e9cd8;
		background-color:#b9cde5;
		font-weight:bold;
		font-size: 18px;
		margin:10px;
		padding:10px;}
	.input{
		color:black;
		background-color:#b9cde5;
		font-weight:bold;
		font-size: 18px;
		margin:10px;
		width:150px;}
</style>

</head>
<body >
<div id="outerBox">
	<div id="innerBox">
		<form method="POST">
			<p><span class="white_text">${message}</span></p>
			<p><span>New Password:</span><span><input class="input" type="password" id="password" name="password" value="" required/></span></p>
			<p><span>Confirm Password:</span><span><input class="input" type="password" id="confirm" name="confirm" value="" required"/></span></p>
			<p><span><input class="submitbtn" type="submit" name="ok" value="OK"/></span></p>
		</form>
	</div>
</div>
</body></html>
