<div>
	<div data-dojo-attach-point="frame" data-dojo-type="dijit.layout.BorderContainer" data-dojo-point='style:"width:680px;height:100%",gutters:false' >
		<div data-dojo-type="dijit.layout.StackContainer" data-dojo-attach-point="display_view" data-dojo-props='region:"center"'>
			<div data-dojo-attach-point="tabcont" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region:'center',splitter:true,'class':'bordered'">
				<div data-dojo-attach-point="details_view" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Details',style:'height:100%;width:500px;overflow :auto','class':'bordered scrollpane common_prmax_layout',selected:'selected'">
					<br/>
					<form data-dojo-attach-point="form" data-dojo-type="dijit.form.Form" data-dojo-props='onSubmit:"return false"'>
						<input data-dojo-attach-point="contacthistoryid"  data-dojo-props='name:"contacthistoryid",type:"hidden",value:"-1"' data-dojo-type="dijit.form.TextBox" />

						<input data-dojo-props='name:"outletid",type:"hidden",value:"-1"' data-dojo-attach-point="outletid"  data-dojo-type="dijit.form.TextBox" />
						<input data-dojo-props='name:"employeeid",type:"hidden",value:"-1"' data-dojo-attach-point="employeeid"  data-dojo-type="dijit.form.TextBox" />
						<table width="550px" class="prmaxtable">
						<tr>
							<td rowspan="2"><span data-dojo-props='name:"contact",placeHolder:"Select contact <br/><br/><br/>",required:false,style:"width:230px;height:75px;float:left"' data-dojo-type="prmax.search.PersonSelect2" data-dojo-attach-point="contact"></span></td>
							<td><span><input data-dojo-props='placeHolder:"Date", type:"text",name:"taken",required:"true","class":"input_field input_date noborders prmax-padding-left-small prmaxdate"' data-dojo-attach-point="taken" data-dojo-type="dijit.form.DateTextBox" ></span></td>
							<td><span class="prmax-padding-left-small"><select data-dojo-props='style:"width:150px",placeHolder:"Taken By", name:"taken_by","class":"prmaxrequired prmaxinputselect",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Taken By",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="taken_by"></select></span></td>
						</tr>
						<tr>
							<td><span class="prmax-padding-left-small">
								<select data-dojo-props='"class":"prmaxinputselect", style:"width:150px", placeHolder:"Client", name:"clientid",autoComplete:true,searchAttr:"clientname",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="clientid" ></select>
							</span></td>
							<td><span class="prmax-padding-left-small">
								<select data-dojo-props='"class":"prmaxinputselect", style:"width:150px",placeHolder:"Issue", "class":"prmaxrequired",name:"issueid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Select",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="issueid" data-dojo-attach-event="onChange:_issue_selected"></select>
							</span></td>
						</tr>
						<tr><td colspan="3"><span class="prmax-padding-left-large">
							<input data-dojo-props='"class":"prmaxinput", placeHolder:"Subject", type:"text",name:"crm_subject",style:"width:450px;margin-top:10px;margin-bottom:2px"' data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="crm_subject" />
						</span></td></tr>
						<tr><td colspan="3"><span class="prmax-padding-left-large">
							<textarea placeHolder="Briefing Notes" data-dojo-attach-point="details" name="details" required style="width:450px;margin-top:10px;min-height:70px;"></textarea>
						</span></td></tr>
						<tr><td colspan="3"><span class="prmax-padding-left-large">
							<textarea placeHolder="Details" data-dojo-attach-point="outcome" name="outcome" style="width:450px;min-height:70px;margin-top:10px;"></textarea>
						</span></td></tr>
						<tr><td colspan="3"><span class="prmax-padding-left-large" style="float:left">
							<input data-dojo-attach-event="onClick:_send_reply" data-dojo-attach-point="sendreplybtn" data-dojo-type="dijit.form.Button" data-dojo-props='"class":"prmax-padding-left-large",type:"button",label:"Send Reply","class":"btnleft",disabled:"disabled"'><br />
						</span></td></tr>
						
						<tr><td colspan="3"><span class="prmax-padding-left-large">
							<textarea placeHolder="Response Details" name="crm_response" style="width:450px;margin-top:10px;min-height:70px;" data-dojo-attach-point="crm_response"></textarea>
						</span></td></tr>
						
						<tr data-dojo-attach-point="chud5_view" class="prmaxhidden">
							<td data-dojo-attach-point="chud1_view" class="prmaxhidden"><span class="prmax-padding-left-large">
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"User Define 1", name:"chud1id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:150px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud1id"></select>
							</span></td>
							<td data-dojo-attach-point="chud2_view" class="prmaxhidden" colspan="2"><span class="prmax-padding-left-verylarge">
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"User Define 2", name:"chud2id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:150px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud2id"></select>
							</span></td>
						</tr>						
						<tr data-dojo-attach-point="chud6_view" class="prmaxhidden">
							<td data-dojo-attach-point="chud3_view" class="prmaxhidden"><span class="prmax-padding-left-large">
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"User Define 3", name:"chud3id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:150px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud3id"></select>
							</span></td>
							<td data-dojo-attach-point="chud4_view" class="prmaxhidden" colspan="2"><span class="prmax-padding-left-verylarge">
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"User Define 4", name:"chud4id",autoComplete:true,searchAttr:"description",required:false,invalidMessage:"User Defined",labelType:"html",style:"width:150px"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="chud4id"></select>
							</span></td>
						</tr>						
						<tr><td colspan="3" ><span>
								<label style="padding-left:50px !important" class="label_1">Document</label>
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"Document", style:"width:150px",name:"documentid",autoComplete:true,searchAttr:"description",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="documentid" ></select>
								<button class="prmaxbutton" data-dojo-attach-point="previewbtn" data-dojo-attach-event="onClick:_preview" data-dojo-type="dijit.form.Button">View</button>
								<button data-dojo-attach-event="onClick:_new_document" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"New"'></button>
							</span></td>
						</tr>						
						<tr><td colspan="3">
							<div data-dojo-type="prcommon.crm.issues.selectmultiple" data-dojo-props='style:"width:4;padding-left:50px",displaytitle:"Other Issues",displayselect:"",name:"extraissues",startopen:false' data-dojo-attach-point="extraissues">
							</div></td>
						</tr>						




						<tr><td><span>
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"Call Type","class":"prmaxrequired",name:"contacthistorytypeid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Select",labelType:"html",style:"width:100px;float:left;"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="contacthistorytypeid"></select>
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"Status","class":"prmaxrequired",name:"contacthistorystatusid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Status",labelType:"html",style:"width:100px;float:left;"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="contacthistorystatusid"></select><br/>
							</span></td>
						    <td colspan="2"><span>
								<input data-dojo-props='"class":"prmaxdate", placeHolder:"Deadline",type:"text",name:"follow_up_date",required:true,style:"width:120px;float:right"' data-dojo-attach-point="follow_up_date" data-dojo-type="dijit.form.DateTextBox" >
								<select data-dojo-props='"class":"prmaxinputselect", placeHolder:"Task Owner","class":"prmaxrequired",name:"follow_up_ownerid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Follow Up Only",labelType:"html",style:"width:120px;float:right"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="follow_up_ownerid"></select><br/>
							</span></td>
						</tr>						

						<tr><td>&nbsp</td></tr>
						<tr><td>&nbsp</td></tr>
						<tr><td>
							<button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Close","class":"btnleft"'></button>
							<button data-dojo-attach-event="onClick:_delete" data-dojo-attach-point="deletebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Deleting...",label:"Delete","class":"btnleft"'></button>
						</td>
						<td colspan="2" align="right">
							<button data-dojo-attach-event="onClick:_save" data-dojo-attach-point="savebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Updating...",label:"Update"'></button><br/><br/>
						</td>
						</table><br/><br/>
					
					</form>

					<div data-dojo-attach-point="person_select_dlg" data-dojo-type="prmax.search.PersonSelect"></div>

				</div>
				<div data-dojo-attach-point="history"  data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="title:'History',style:'height:100%;width:100%;overflow :auto','class':'bordered scrollpanel'">
					<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region: "center"'>
						<div data-dojo-attach-point="history_grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='query:{ },rowsPerPage:30,style:"width:100%;height:100%"' ></div>
					</div>
					<div data-dojo-attach-point="history_view_ctrl" data-dojo-type="dijit.layout.ContentPane" data-dojo-props='"class":"prmaxrowdisplay_profile", region: "right",style:"width:70%;height:100%;overflow:auto"'></div>
				</div>
			</div>
			<div data-dojo-attach-point="blank"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'blank',style:'height:100%;width:500px',selected:'selected'"></div>
		</div>
	</div>
	<div data-dojo-attach-point="new_issue_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"New Issue"'>
		<div data-dojo-attach-point="new_issue_ctrl" data-dojo-type="prcommon.crm.issues.add"></div>
	</div>
	<div data-dojo-type="dijit.Dialog" data-dojo-attach-point="client_add_dialog" data-dojo-props='title:"Add New Client",style:"width:700px;height:600px"'>
		<div data-dojo-type="prmax.customer.clients.add" data-dojo-attach-point="client_add_ctrl"></div>
	</div>
	
	<div data-dojo-attach-point="send_reply_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"Send Reply", style:"width:550px;height:580px"'>
		<div data-dojo-attach-point="send_reply_ctrl" data-dojo-type="prcommon.crm.responses.sendreply"></div>
	</div>
	
	<div data-dojo-attach-point="text_view_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"Add Notes"'>
		<div data-dojo-attach-point="text_view_ctrl" data-dojo-type="prcommon.common.ExpandedText" data-dojo-props='style:"width:600px;height:500px"'></div>
	</div>
	<div data-dojo-attach-point="addctrl" data-dojo-type="prcommon.documents.adddialog"></div>
</div>
