<div>
	<div data-dojo-attach-point="dialog_ctrl" data-dojo-type="dijit.Dialog" data-dojo-props='title:"Private Notes",style:"width:500px;height:400px"'>
		<div style="width:99%;height:320px">
			<textarea data-dojo-attach-point="profile" data-dojo-type="dijit.form.Textarea" data-dojo-props='name:"profile",style:"width:99%;height:99%"'></textarea>
		</div>
		<button type="button" data-dojo-type="dijit.form.Button" data-dojo-props='label:"Close"' data-dojo-attach-event="onClick:_Close"></button>
		<button class="prmaxbuttongreybutton" data-dojo-attach-event="onClick:_Update" data-dojo-attach-point="savenode" data-dojo-type="dojox.form.BusyButton" data-dojo-props='style:"float:right",type:"button",busyLabel:"Please Wait Saving...",label:"Save"'></button>
	</div>
</div>
