<div>
	<form data-dojo-attach-point="form" data-dojo-type="dijit.form.Form" data-dojo-props='"onSubmit":"return false", style:"margin:5px"'>
		<table width="100%" class="prmaxtable" >
			<tr><td align="left" width="85px" class="prmaxrowtag"><label>Statement: </label></td>
				<td><select data-dojo-props='name:"statementid",autoComplete:true,labelType:"html", style:"width:300px"' data-dojo-type="dijit.form.Select" data-dojo-attach-point="statementid" ></select></td>
			</tr>  
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2" align="right"><button data-dojo-attach-event="onClick:_select" data-dojo-attach-point="selectbtn" data-dojo-type="dijit.form.Button" data-dojo-props='"class":"prmaxdefault", label:"Select"'></button></td></tr>
		</table>
	</form>
</div>
