<div>
	<div data-dojo-attach-point="borderControl" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='style:"width:100%;height:100%",gutters:false' >
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"top", style:"height:42px;width:100%;overflow:hidden", "class":"std_menu_view"'>
			<div style="height:38px;width:100%;overflow:hidden" class="std_menu_view">
				<div data-dojo-type="dijit.Toolbar" data-dojo-props='"class":"dijitToolbarTop", style:"float:left:height:94%;width:400px"' >
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_AddStatement" data-dojo-attach-point="addbutton" data-dojo-props='label:"New Statement", iconClass:"fa fa-plus fa-3x",showLabel:true'></div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_deleteStatement" data-dojo-attach-point="deletebutton"  data-dojo-props='label:"Delete", iconClass:"fa fa-trash fa-3x",showLabel:true'></div>
				</div>
			</div>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='style:"width:50%;height:100%", region:"center", splitter:true'>
			<div data-dojo-attach-point="grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='query:{ }, rowsPerPage:30' ></div>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='style:"width:50%;height:100%", region:"right", splitter:true'>
			<div data-dojo-attach-point="tabcont" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region:'center',splitter:true,'class':'bordered'">
				<div data-dojo-attach-point="details"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Edit',style:'height:100%;width:500px;overflow :auto','class':'bordered scrollpane',selected:'selected'">
					<span class="common_prmax_layout">
			

						<div style="padding:2px" data-dojo-attach-point ="display_pane" class="prmaxhidden">
			
							<form data-dojo-attach-point="update_form" data-dojo-props='"class":"prmaxdefault", onsubmit:"return false"' data-dojo-type="dijit.form.Form">
								<input data-dojo-attach-point="statementid" data-dojo-props='name:"statementid", type:"hidden", value:"-1"' data-dojo-type="dijit.form.TextBox" >
								<table class="prmaxtable" width="500px" >
									<tr><td colspan="2" align="center" class="prmaxrowdisplaylarge" > Statement Details</td></tr>
									<tr><td class="prmaxrowtag" >Description</td><td class="prmaxrowdisplay" width="76%"><input data-dojo-props='invalidMessage:"Description field must be filled in", style:"width:98%", "class":"prmaxrequired", name:"statementdescription", type:"text", maxlength:80, trim:true, required:true' data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="statementdescription"/></td></tr>
									<tr><td class="prmaxrowtag" >Client</td><td class="prmaxrowdisplay" width="76%" ><select data-dojo-attach-point="clientid" data-dojo-type ="dijit.form.FilteringSelect" data-dojo-props='name:"clientid", searchAttr:"clientname", labelType:"html", style:"width:98%" '/></td></tr>
									
									<tr><td class="prmaxrowtag" >Issue</td><td class="prmaxrowdisplay" width="76%"><select data-dojo-attach-point="issueid" data-dojo-type ="dijit.form.FilteringSelect" data-dojo-props='name:"issueid", searchAttr:"name", labelType:"html", style:"width:98%" '/></td></tr>
								
									<tr><td class="prmaxrowtag" >Output</td><td class="prmaxrowdisplay" width="76%"><div data-dojo-type="dijit.Editor" data-dojo-attach-point="output" data-dojo-props='name:"output",style:"border:1px solid gray"'  extraPlugins="[{name:'dijit._editor.plugins.FontChoice', command:'fontName', generic:false},'fontSize','createLink','viewsource','preview','mergefields']"></div></td>
										<td valign="top"><button data-dojo-attach-event="onClick:_LoadWord" data-dojo-attach-point="uploaddocbtn" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"fa fa-upload",type:"button","class":"prmaxdefault", title:"Upload document"'></button><br/></td>						
									</tr>
									<tr><td colspan = "2" align="right"><button data-dojo-props='"class":"prmaxbutton", type:"button", label:"Update", busyLabel:"Please Wait Updating" ' data-dojo-type="dojox.form.BusyButton" data-dojo-attach-event="onClick:_Update" data-dojo-attach-point="update_form_btn"></button></td></tr>
								</table>
							</form>
			
						</div>
					</span>
				</div>
			
				<div data-dojo-attach-point="engagements"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Engagements',style:'height:100%;width:500px;overflow :auto','class':'bordered scrollpane'">
					<div data-dojo-attach-point="engagements_grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='query:{ }, rowsPerPage:30' ></div>
				</div>
				<div data-dojo-attach-point="clippings" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="title:'Clips',style:'height:100%;width:500px;overflow:auto','class':'bordered scrollpane'">
					<div data-dojo-attach-point="clippings_grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='query:{ }, rowsPerPage:30, region:"center"' ></div>
					<div data-dojo-type="dijit.layout.StackContainer" data-dojo-attach-point="clippings_view" data-dojo-props='region:"bottom",style:"width:100%;height:50%",splitter:true' >
						<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="blank_view" data-dojo-props='style:"width:100%;height:100%"'></div>
						<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="clipping_view" data-dojo-props='style:"width:100%;height:100%"'></div>
					</div>							
				</div>
			</div>
		</div>
	</div>
	<div>
		<div data-dojo-attach-point="add_statement_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"New Statement", style:"width:600px;height:500px"'>
		<div data-dojo-attach-point="addstatementctrl" data-dojo-type="prcommon.crm.responses.add" style="width:600px;height:500px"></div>
	</div>	
	<div data-dojo-type="dijit.Dialog" data-dojo-attach-point="upload_doc_dlg" data-dojo-props='title:"Upload document",style:"width:450px;height:260px"'>
		<div data-dojo-type="prcommon.documents.upload" data-dojo-attach-point="upload_doc_ctrl"></div><br/>
		<div data-dojo-attach-event="onClick:_close_dlg" data-dojo-type="dijit.form.Button" data-dojo-props='label:"Close",style:"float:left;padding-right:20px"'></div>
	</div>		
</div>


