<div>
	<form data-dojo-attach-point="update_privatechannel_form" data-dojo-type="dijit.form.Form" data-dojo-props='"onSubmit":"return false", name:"update_privatechannel_form", style:"margin:5px"'>
		<input data-dojo-attach-point="prmax_outlettypeid" data-dojo-props='prmax_outlettypeid", type:"hidden", value:"-1"' data-dojo-type="dijit.form.TextBox" >
		<table class="prmaxtable" width="700px" >
			<tr><td colspan="2" align="center" class="prmaxrowdisplaylarge" > Private Media Channel Details</td></tr>
			<tr><td class="prmaxrowtag" >Description</td><td class="prmaxrowdisplay" width="86%"><input data-dojo-props='invalidMessage:"Description field must be filled in", style:"width:98%", "class":"prmaxrequired", name:"prmax_outlettypename", type:"text", maxlength:80, trim:true, required:true' data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="prmax_outlettypename"/></td></tr>
			<tr><td colspan = "2" align="right"><button data-dojo-props='"class":"prmaxbutton", type:"button", label:"Update", busyLabel:"Please Wait Updating" ' data-dojo-type="dojox.form.BusyButton" data-dojo-attach-event="onClick:_Update" data-dojo-attach-point="update_form_btn"></button></td></tr>
		</table>
	</form>
</div>
