<div>
	<form  data-dojo-attach-point="private_form" method="post" name="private_form" enctype="multipart/form-data"  onSubmit="return false;">
		<input class="prmaxinput" type="hidden" data-dojo-attach-point="private_cache" name="private_cache" value="-1"></input>
		<table width="50%" border="0" cellpadding="0" cellspacing="0" >
			<tr>
				<td class="prmaxrowtag">File Name</td>
				<td>
					<input size="30" class="prmaxinput" type="file" data-dojo-attach-point="private_file" name="private_file"></input>
				</td>
			</tr>
			
			<tr><td class="prmaxrowtag">Customer</td><td><select data-dojo-type="dijit/form/FilteringSelect" data-dojo-props='name:"icustomerid",autoComplete:true,labelType:"html",searchAttr:"customername"' data-dojo-attach-point="icustomerid"></select></td></tr>
			<tr><td class="prmaxrowtag">Add to existing Outlets</td><td><input type="checkbox" name="no_add_outlet" data-dojo-type="dijit/form/CheckBox"></td></tr>
			<tr><td colspan = "2" >&nbsp;</td></tr>
			<tr><td colspan = "2" ><span data-dojo-attach-point="progressNode" style="display:none;"><div data-dojo-type="dijit/ProgressBar" data-dojo-attach-point="progressControl" data-dojo-props='style:"width:200px", indeterminate:"true"'></div></span></td></tr>
			<tr><td colspan="2" align="right"><button class="prmaxbutton"  data-dojo-attach-point="saveNode" type="button"  data-dojo-type="dijit/form/Button" label="Upload Private Data" data-dojo-attach-event="onClick:_Add"></button></td></tr>
		</table>
	</form>
</div>
