<div>
	<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"top",style:"height:150px;width:100%"'>
		<form data-dojo-type="dijit/form/Form" data-dojo-attach-event='onsubmit:_ReturnFalse' data-dojo-attach-point="form">
			<table width="550px" cellspacing="0" cellpadding="0" style="border-collapse: collapse" >
				<tr><td>&nbsp;</td></tr>
				<tr><td class="prmaxrowtag" align="right" width="250px" >Name:</td><td colspan="2"><input data-dojo-props='style:"width:300px","class":"prmaxrequired",name:"researchprojectname",type:"text",maxlength:"80",trim:true,required:true' data-dojo-attach-point="researchprojectname" data-dojo-type="dijit/form/ValidationTextBox"/></td></tr>
				<tr><td class="prmaxrowtag" align="right">User:</td><td colspan="2"><select data-dojo-attach-point="iuserid" data-dojo-props='name:"iuserid",autoComplete:"true",style:"width:15em",labelType:"html"' data-dojo-type="dijit/form/FilteringSelect"></td></tr>
				<tr><td class="prmaxrowtag" align="right">Is Monthly</td><td colspan="2"><input data-dojo-attach-point="ismonthly" data-dojo-props='name:"ismonthly",type:"checkbox"' data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:_is_monthly"></td></tr>
				<tr data-dojo-attach-point="start_date_view" class="prmaxhidden"><td class="prmaxrowtag" align="right">Start Date</td><td><input data-dojo-attach-point="startdate" data-dojo-ptops='type:"text",name:"startdate",required:false,style:"width:10em"' data-dojo-type="dijit/form/DateTextBox" ></td></tr>
				<tr><td class="prmaxrowtag" align="right">Questionnaire Completion Date</td><td><input data-dojo-attach-point="questionnaire_completion" data-dojo-ptops='type:"text",name:"questionnaire_completion",required:true,style:"width:10em"' data-dojo-type="dijit/form/DateTextBox" ></td><td align="right"><button data-dojo-attach-event="onClick:_create" data-dojo-type="dijit/form/Button" data-dojo-props='type:"button","class":"prmaxbuttonlarge",label:"Create Projects"' ></button></td></tr>
			</table>
			<br/>
		</div>
	</form>
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='gutters:false,region:"left",style:"width:50%;height:100%"'>
		<div data-dojo-attach-point="tabcont" data-dojo-type="dijit/layout/TabContainer" data-dojo-props='region:"center"'>
			<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='title:"Search",style:"width:100%;height:100%;overflow:hidden",gutters:false'>
				<div data-dojo-attach-point="search_tabcont" data-dojo-type="dijit/layout/TabContainer" data-dojo-props='region:"center"'>
					<div data-dojo-attach-point="search_tab_outlet" data-dojo-type="prcommon2/search/OutletSearch" data-dojo-props='style:"height:100%;overflow:auto;overflow-x:hidden","class":"scrollpanel",title:"Outlet"'></div>
					<div data-dojo-attach-point="search_tab_freelance" data-dojo-type="prcommon2/search/FreelanceSearch" data-dojo-props='style:"height:100%;overflow:auto;overflow-x:hidden","class":"scrollpanel",title:"Freelance"'></div>
				</div>
				<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"bottom",style:"width:100%;height:15%;padding-top:10px"'>
					<table width="100%" cellspacing="0" cellpadding="0" style="border-collapse: collapse;" >
						<tr>
							<td><button data-dojo-attach-event="onClick:_clear_search" data-dojo-type="dijit/form/Button" data-dojo-props='"class":"prmaxbutton",label:"Clear Results"' ></button></td>
							<td><button data-dojo-attach-event="onClick:_clear_search_criteria" data-dojo-type="dijit/form/Button" data-dojo-props='"class":"prmaxbutton",label:"Clear Criteria"' ></button></td>
							<td align="right"><button data-dojo-attach-point="searchbutton" data-dojo-attach-event="onClick:_search" data-dojo-type="dojox/form/BusyButton" data-dojo-props='"class":"prmaxbutton",iconClass:"dijitPrmaxIcon dijitPrmaxIconSearch",busyLabel:"Searching...",label:"Search"'></button></td>
						</tr>
					</table>
				</div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='style:"height:100%;width:100%",title:"Generate a  Monthly Sets","class":"common_prmax_layout"'>
				<br/>
				<label class="label_1">Month</label><select data-dojo-type="dijit/form/FilteringSelect" data-dojo-attach-point="month" data-dojo-props='name:"month",autoComplete:true,searchAttr:"name",required:true,labelType:"html"'></select>
				<button data-dojo-attach-point="search_monthly" data-dojo-attach-event="onClick:_search_monthly" data-dojo-type="dijit/form/Button" data-dojo-props='"class":"prmaxbutton",label:"Build Monthly"' ></button><br/><br/>
				<button data-dojo-attach-event="onClick:_clear_search" data-dojo-type="dijit/form/Button" data-dojo-props='"class":"prmaxbutton",label:"Clear Results"'></button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='gutters:false,region:"center",splitter:true'>
		<div data-dojo-type="dijit/Toolbar" data-dojo-props='region:"top",style:"height:40px;width:100%;padding:0px;margin:0px"'>
		</div>
		<div data-dojo-attach-point="grid_view" data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"center",splitter:true'></div>
	</div>
</div>
