<div>
	<form data-dojo-attach-point="form"  data-dojo-props='onsubmit:"return false"' data-dojo-type="dijit.form.Form">
		<input data-dojo-attach-point="icustomerid" data-dojo-props='type:"hidden",name:"icustomerid"' data-dojo-type="dijit.form.TextBox" ></input>
		<table width="600px" cellpadding="0" cellpadding="0" >
			<tr><td colspan="2">
				<label class="prmaxrowdisplaylarge" style="text-align:center;display:inline">Enter Invoice</label>
				<div style="display:inline" class="prmaxrowdisplaylarge" data-dojo-attach-point="customername">Name</div>
			</td></tr>
			<tr><td width="28%" class="prmaxrowtag" align="right" width="120px">Invoice Date</td><td><input data-dojo-attach-point="invoice_date" data-dojo-type="ttl.DateTextBox" data-dojo-props='type:"text",style:"width:8em",required:true'></td></tr>
			<tr><td valign="top" align="right" ><label class="prmaxrowtag">Message</label></td><td><div class="stdframe" ><textarea data-dojo-attach-point="message" data-dojo-type="dijit.form.Textarea" data-dojo-props='name:"message","class":"dijitTextarea",style:"width:99%;height:99%"' ></textarea></div></td></tr>
			<tr><td class="prmaxrowtag" width="150px" align="right" >Concurrent Licence</td><td ><input data-dojo-attach-point="logins" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='type:"text",name:"logins",value:"1",style:"width:8em",required:true,constraints:{min:1,max:50}' ></td></tr>
			<tr><td class="prmaxrowtag" align="right" >Payment Freq</td><td><select data-dojo-props='"class":"prmaxinput",autoComplete:true,name:"paymentfreqid",style:"width:15em"' data-dojo-attach-point="paymentfreqid" data-dojo-type="dijit.form.FilteringSelect"><options><option value="1">Fixed Term</option><option value="2">Monthly</option></options></select></td></tr>
			<tr><td class="prmaxrowtag" align="right" >Is Direct Debit</td><td><input data-dojo-attach-point="isdd" data-dojo-props='"class":"prmaxinput",name:"isdd",type:"checkbox"' data-dojo-type="dijit.form.CheckBox" data-dojo-attach-event="onClick:_ChangePayment"/></td></tr>
			<tr><td class="prmaxrowtag" align="right" >Purchase Order</td><td><input data-dojo-attach-point="purchase_order" data-dojo-props='"class":"prmaxinput",name:"purchase_order",type:"text",trim:true' data-dojo-type="dijit.form.TextBox" ></td></tr>
		</td></tr>
		<tr><td colspan="2"><table width="100%" cellpadding="0" cellpadding="0" border="0">
		<tr><td width="28%">&nbsp;</td><td width="12%">Start Date</td><td width="12%" data-dojo-attach-point="view_dd_1">Free Mths</td><td width="12%" data-dojo-attach-point="view_dd_2">Paid Mths</td><td width="12%">Price ex VAT</td></tr>
		<tr><td class="prmaxrowtag"  align="right" >Media DB</td>
			<td><input data-dojo-type="dijit.form.DateTextBox" data-dojo-attach-point="licence_start_date" data-dojo-props='type:"text",name:"licence_start_date",required:true,style:"width:8em"'></td>
			<td data-dojo-attach-point="view_dd_3"><input data-dojo-attach-point="months_free" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='type:"text",name:"months_free",value:"0",required:true,constraints:{min:0,max:6},style:"width:6em"'></td>
			<td data-dojo-attach-point="view_dd_4"><input data-dojo-attach-point="months_paid" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='name:"months_paid",type:"text",value:"12",required:true,constraints:{min:1,max:36},style:"width:6em"'></td>
			<td><input data-dojo-props='type:"text",name:"cost",required:true,trim:true,constraints:{min:0.01,max:99999.00,fractional:true,places:"0,2"},style:"width:6em"' data-dojo-type="dijit.form.CurrencyTextBox" data-dojo-attach-point="cost"></input></td>
		</tr>
		<tr data-dojo-attach-point="features_view" class="prmaxhidden" ><td class="prmaxrowtag"  align="right" >Features</td>
			<td data-dojo-attach-point="features_view_1" class="prmaxhidden"><input data-dojo-attach-point="advance_licence_start" data-dojo-type="dijit.form.DateTextBox" data-dojo-props='type:"text",name:"advance_licence_start",style:"width:8em"'></td>
			<td data-dojo-attach-point="features_view_2" class="prmaxhidden"><input data-dojo-attach-point="adv_months_free" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='name:"adv_months_free",type:"text",value:"0",constraints:{min:0,max:36},style:"width:6em"'></td>
			<td data-dojo-attach-point="features_view_3" class="prmaxhidden"><input data-dojo-attach-point="adv_months_paid" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='type:"text",name:"adv_months_paid",value:"12",constraints:{min:0,max:36},style:"width:6em"'></td>
			<td data-dojo-attach-point="features_view_5" class="prmaxhidden"><input data-dojo-type="dijit.form.CurrencyTextBox" data-dojo-attach-point="advcost" data-dojo-props='trim:true,type:"text",name:"advcost",constraints:{min:0.00,max:99999.00,fractional:true,places:"0,2"},style:"width:6em",required:true'></input></td>
		</tr>
		<tr data-dojo-attach-point="updatum_view" class="prmaxhidden" ><td class="prmaxrowtag"  align="right" >Monitoring</td>
			<td data-dojo-attach-point="updatum_view_1" class="prmaxhidden"><input data-dojo-attach-point="updatum_start_date" data-dojo-type="dijit.form.DateTextBox" data-dojo-props='type:"text",name:"updatum_start_date",style:"width:8em"'></td>
			<td data-dojo-attach-point="updatum_view_2" class="prmaxhidden"><input data-dojo-attach-point="updatum_months_free" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='type:"text",name:"updatum_months_free",value:"0",constraints:{min:0,max:36},style:"width:6em"'></td>
			<td data-dojo-attach-point="updatum_view_3" class="prmaxhidden"><input data-dojo-attach-point="updatum_months_paid" data-dojo-type="dijit.form.NumberTextBox" data-dojo-props='type:"text",name:"updatum_months_paid",value:"12",constraints:{min:1,max:36},style:"width:6em"'></td>
			<td data-dojo-attach-point="updatum_view_5" class="prmaxhidden"><input data-dojo-attach-point="updatumcost" data-dojo-type="dijit.form.CurrencyTextBox" data-dojo-props='name:"updatumcost",type:"text",trim:true,constraints:{min:0.00,max:99999.00,fractional:true,places:"0,2"},style:"width:6em",required:true'></input></td>
		</tr>
		</table></td></tr>
			<tr><td class="prmaxrowtag" align="right">Email Address</td><td><input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="email" data-dojo-props='"class":"prmaxinput",name:"email",type:"text",style:"width:100%",trim:true,required:true,regExpGen:dojox.validate.regexp.emailAddress,trim:true,invalidMessage:"invalid email address",size:"40",maxlength:"70"'/></td></tr>
			<tr><td class="prmaxrowtag" align="right" colspan="2" align="right">
			<button data-dojo-type="dojox.form.BusyButton" data-dojo-attach-point="btn" data-dojo-props='busyLabel:"Sending ... ",type:"button"' data-dojo-attach-event="onClick:_Send">Send Invoice</button></td></tr>
		</table>
	</form>
</div>
