<div style="width:500px">
	<form data-dojo-attach-point="formnode" data-dojo-type="dijit.form.Form" data-dojo-props='"class":"common_prmax_layout prmaxdefault","onSubmit":"return false"'>
		<br/>
		<label class="label_1">Title</label><input data-dojo-props='"class":"prmaxrequired",name:"name",type:"text",maxlength:80,trim:true,required:true,style:"width:26em"' data-dojo-attach-point="issue" data-dojo-type="dijit.form.ValidationTextBox"/><br/>
		<label class="label_1">Document</label><select data-dojo-props='name:"documentid",autoComplete:true,searchAttr:"description",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="documentid" ></select><button data-dojo-attach-event="onClick:_new_document" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"New"'></button><br/>
		<label class="label_1">Client</label><select data-dojo-props='name:"clientid",autoComplete:true,searchAttr:"clientname",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="clientid" ></select><br/>
		<label>Briefing Notes</label><br/><br/>
		<div class="stdframe" style="height:150px;" data-dojo-attach-point="notes_frame" ><textarea data-dojo-attach-point="briefingnotes" data-dojo-props='name:"briefingnotes",trim:true,required:true,style:"width:99%;height:80%"' data-dojo-type="dijit.form.Textarea" ></textarea></div><br/>
		<label class="label_1">Notes Status</label><select data-dojo-props='"class":"prmaxrequired",name:"briefingnotesstatusid",autoComplete:true,searchAttr:"name",required:true,invalidMessage:"Briefing Note Status",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="briefingnotesstatusid" data-dojo-attach-event="onChange:_change_colour"></select><br/>
		<label class="label_1">Approved By</label><select data-dojo-props='"class":"prmaxrequired",name:"approvedbyid",autoComplete:true,searchAttr:"name",required:false,invalidMessage:"Select",labelType:"html"' data-dojo-type="dijit.form.FilteringSelect" data-dojo-attach-point="approvedbyid"></select><br/><br/>
		<br/><br/>
		<button data-dojo-attach-event="onClick:_close" data-dojo-attach-point="closebtn" data-dojo-type="dijit.form.Button" data-dojo-props='type:"button",label:"Close","class":"btnleft"'></button>
		<button data-dojo-attach-event="onClick:_save" data-dojo-attach-point="savebtn" data-dojo-type="dojox.form.BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Adding...",label:"Add","class":"btnright "'></button><br/><br/>
	</form>
	<div data-dojo-attach-point="add_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='style:"width:600px;height:500px"'>
		<div data-dojo-props='style:"width:100%;height:100%"' data-dojo-attach-point="add_ctrl" data-dojo-type="prcommon.crm.solidsocial.preview"></div>
	</div>
</div>
