<div style="width:430px;height:200px">
<form  class="prmaxdefault" dojoAttachPoint="requiredNode" onSubmit="return false" dojoType="dijit.form.Form">
<table width="100%" class="prmaxtable" >
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td class="prmaxrowtag" valign="top">Selection from search</td><td><div name="deleteoptions" dojoAttachPoint="source" dojoType="prmax.common.SelectOptions" i></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2" align="right"><button class="prmaxbutton" iconClass="dijitPrmaxIcon dijitPrmaxDelete"  type="button" dojoAttachEvent="onClick:_SubmitForm" dojoAttachPoint="saveNode" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Deleteing ..." label="Delete"></button>
</td></tr>
</table>
</form>
<br/>
<p><b>This button does not remove entries from your list.</b></p>
<p>To delete from your list, please use the Save button and then Save To Existing List - choosing to Overwrite your list with either the Selected or Unselected entries.</p>
</div>