<div>
	<div data-dojo-attach-point="borderCtrl" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='style:"width:100%;height:100%"'>
		<div data-dojo-attach-point="tabCtrl" data-dojo-type="dijit.layout.TabContainer" data-dojo-props='region:"center"'>
			<div data-dojo-type="dijit.layout.BorderContainer" style="width:100%;height:100%" data-dojo-attach-point="standingtab_view" data-dojo-props='title:"Media",${startup_standing}' >
				<div data-dojo-attach-point="standing" data-dojo-type="prmax.lists.standinglist" data-dojo-props='region:"center",style:"width:100%;height:100%"'></div>
			</div>
			<div data-dojo-type="dijit.layout.BorderContainer" style="width:100%;height:100%" data-dojo-attach-point="distributionstab_view" data-dojo-props='title:"Distributions",${startup_distributions}' >
				<div data-dojo-attach-point="distribution" data-dojo-type="prmax.pressrelease.view" data-dojo-props='region:"center",display:"Distribution Lists",startup_mode:"${startup_mode}"'></div>
			</div>
		</div>
	</div>
</div>
