<div style="width:710px;height:540px;overflow:auto;padding:0px;margin:0px">
	<div dojoAttachPoint="frame" dojotype="dijit.layout.BorderContainer" style="710px;height:540px" gutters="false" class="scrollpanel">
		<div dojoType="dijit.layout.TabContainer" dojoAttachPoint="preferences_view" region="center">
			<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="general" title="General Settings" style="height:100%;width:100%;overflow-x:hidden" class='bordered scrollpanel' >
				<form dojoAttachPoint="generalForm" onsubmit="return false" dojoType="dijit.form.Form">
					<table width="95%" class="prmaxtable" cellpadding="0" cellspacing="0" border="0">
						<tr><td align="right" class="prmaxrowtag">Display Name</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="displayname" name="displayname" maxlength="40" trim="true" required="true" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Email Address</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="email" name="email" maxlength="70" trim="true" required="true" invalidMessage="This must be a valid email address" dojoType="dijit.form.ValidationTextBox" regExpGen="dojox.validate.regexp.emailAddress"/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Select First Row</td><td><input class="prmaxinput" dojoAttachPoint="autoselectfirstrecord" value="1" name="autoselectfirstrecord" dojoType="dijit.form.CheckBox" /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Use Partial Match</td><td><input class="prmaxinput" dojoAttachPoint="usepartialmatch" value="1" name="usepartialmatch" dojoType="dijit.form.CheckBox" /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Search Append's </td><td><input class="prmaxinput" dojoAttachPoint="searchappend" value="1" name="searchappend" dojoType="dijit.form.CheckBox" /></td></tr>
						<tr><td align="right" class="prmaxrowtag">Reply To Email</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="emailreplyaddress" name="emailreplyaddress" maxlength="70" trim="true" invalidMessage="This must be a valid email address" dojoType="dijit.form.ValidationTextBox" regExpGen="dojox.validate.regexp.emailAddress"/></td></tr>
						<tr><td align="right" class="prmaxrowtag">Default Sort Order</td><td><select class="prmaxinput"  dojoAttachPoint="stdview_sortorder" dojotype ="dijit.form.FilteringSelect" name="stdview_sortorder" searchAttr="name" labelType="html" ></select></td></tr>
						<tr><td align="right" class="prmaxrowtag">"Client" Name</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="client_name" name="client_name" maxlength="20" trim="true" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" /></td></tr>
						<tr dojoAttachPoint="crm_view_1" class="prmaxhidden"><td align="right" class="prmaxrowtag">"Issue" Name</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="issue_description" name="issue_description" maxlength="20" trim="true" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" /></td></tr>
						<tr dojoAttachPoint="crm_view_2" class="prmaxhidden"><td align="right" class="prmaxrowtag">"Subject" Name</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="crm_subject" name="crm_subject" maxlength="20" trim="true" required="false" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" /></td></tr>
						<tr dojoAttachPoint="crm_view_3" class="prmaxhidden"><td align="right" class="prmaxrowtag">"Outcome" Name</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="crm_outcome" name="crm_outcome" maxlength="20" trim="true" required="false" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" /></td></tr>
						<tr dojoAttachPoint="crm_view_4" class="prmaxhidden">
							<td align="right" class="prmaxrowtag">"Engagement" Name</td><td><input  class="prmaxinput" size="40" dojoAttachPoint="crm_engagement" name="crm_engagement" maxlength="20" trim="true" required="false" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" />
							<span align="right" class="prmaxrowtag">Plural</span><span><input  class="prmaxinput" size="40" dojoAttachPoint="crm_engagement_plural" name="crm_engagement_plural" maxlength="20" trim="true" required="false" invalidMessage="This cammot be blank" dojoType="dijit.form.ValidationTextBox" /></span></td>
						</tr>
						<tr><td align="right" class="prmaxrowtag" valign="top">Countries</td><td><div data-dojo-props ='style:"width:99%",name:"user_countries",selectonly:true,startopen:true,preload:false,size:4,displaytitle:""' data-dojo-attach-point="user_countries" data-dojo-type="prcommon.search.Countries"></div></td></tr>
						<tr><td colspan="2" align="right"><button class="prmaxbutton" iconClass="fa fa-floppy-o fa-2x" disabled="disabled"  dojoAttachPoint="general_update" dojoAttachEvent="onClick:_SaveGeneral" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving..." label="Update Settings"></button></td></tr>
					</table>
				</form>
			</div>
			<div dojoType="dijit.layout.ContentPane" title="Interface Settings" dojoAttachPoint="interface" style="height:100%;width:100%;overflow :auto" class='bordered scrollpanel' selected="true">
				<br/>
				<table width="95%" class="prmaxtable" cellpadding="0" cellspacing="0">
					<tr><td width="30%" class="prmaxrowtag">Font Size:</td>
						<td width="70%"><select class="prmaxinput" autoComplete="true" name="interface_font_size" dojoAttachPoint="interface_font_size" style="width:5em" dojoType="dijit.form.FilteringSelect">
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="14">14</option>
						<option value="18">18</option>
						</select><label class="prmaxrowtag">pt</label>
					</td></tr>
					<tr><td><br/></td></tr>
					<tr><td colspan="2" align="right"><button class="prmaxbutton" iconClass="fa fa-floppy-o fa-2x"  disabled="disabled" dojoAttachPoint="interface_upd" dojoAttachEvent="onClick:_SaveInterface" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving..." label="Update Interface Settings"></button></td></tr>
				</table>
			</div>
			<div dojoType="dijit.layout.ContentPane" title="User Password" dojoAttachPoint="password" style="width:532px">
				<br/>
				<form dojoAttachPoint="userpasswordform"  onsubmit="return false" dojoType="dijit.form.Form">
					<div dojoType="dojox.form.PasswordValidator" name="pssw" class="prmaxrowtag" dojoAttachPoint="pssw">
						<table class="prmaxtable" width="95%" >
							<tr><td width="30%" class="prmaxrowtag">Enter New Password:</td><td width="30%"><input class="prmaxinput" dojoAttachPoint="pssw_name" size="20" maxlength="20" trim="true" dojoType="dijit.form.TextBox" type="password" pwType="new"/></td></tr>
							<tr><td width="30%" class="prmaxrowtag">Confirm Password:</td><td width="30%"><input class="prmaxinput" dojoAttachPoint="pssw_cnfrm" size="20" maxlength="20" trim="true" dojoType="dijit.form.TextBox" type="password" pwType="verify"/></td></tr>
							<tr><td><br/></td></tr>
							<tr><td colspan="2" align="right"><button class="prmaxbutton" iconClass="fa fa-floppy-o fa-2x" disabled="disabled" dojoAttachPoint="pssw_update"  dojoAttachEvent="onClick:_SavePasswordButton" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving..." label="Change Password"></button></td></tr>
						</table>
					</div>
				</form>
			</div>
			<div dojoType="dijit.layout.ContentPane" title="CC Addresses" dojoAttachPoint="ccaddress" style="width:532px">
				<br/>
				<form dojoAttachPoint="ccform" onsubmit="return false" dojoType="dijit.form.Form">
					<table width="95%" class="prmaxtable" cellpadding="0" cellspacing="0" border="0">
						<tr><td align="right" valign="top "class="prmaxrowtag">CC addresses:</td><td><input class="prmaxinput" dojoAttachPoint="ccaddresses" name="ccaddresses" maxlength="200" trim="true" dojoType="dijit.form.TextBox" style="width:100%"/></td></tr></br>
						<tr><td colspan="2" align="right"><button class="prmaxbutton" iconClass="fa fa-floppy-o fa-2x" dojoAttachPoint="cc_update" dojoAttachEvent="onClick:_SaveCC" dojoType="dojox.form.BusyButton" busyLabel="Please Wait Saving..." label="Update CC email addresses"></button></td></tr>
					</table>
				</form>
			</div>
		</div>
		<div dojoType="dijit.layout.ContentPane" style="height:34px;padding-top:2px;padding-right:10px" region="bottom">
			<button iconClass="fa fa-close fa-2x" style="float:right" type="button" class="prmaxbutton" dojoType="dijit.form.Button" dojoAttachEvent="onClick:_Close" label="Close"></button>
		</div>
	</div>
</div>
