<div>
	<div data-dojo-attach-point="borderControl" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='style:"width:100%;height:100%",gutters:false' >
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"top", style:"height:42px;width:100%;overflow:hidden", "class":"std_menu_view"'>
			<div style="height:38px;width:100%;overflow:hidden" class="std_menu_view">
				<div data-dojo-type="dijit.Toolbar" data-dojo-props='"class":"dijitToolbarTop", style:"float:left:height:94%;width:400px"' >
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_AddNewsroom" data-dojo-attach-point="addbutton" data-dojo-props='label:"Add Global Newsroom", iconClass:"fa fa-plus fa-3x",showLabel:true'></div>
					<div data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_deleteNewsroom" data-dojo-attach-point="deletebutton"  data-dojo-props='label:"Delete", iconClass:"fa fa-trash fa-3x",showLabel:true'></div>
				</div>
			</div>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='style:"width:40%;height:100%", region:"center", splitter:true'>
			<div data-dojo-attach-point="grid" data-dojo-type="dojox.grid.DataGrid" data-dojo-props='query:{ }, rowsPerPage:30' ></div>
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='style:"width:60%;height:100%", region:"right", splitter:true, "class":"bordered"'>
			<div data-dojo-attach-point="control" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props='style:"width:100%;height:100%",gutters:false' >
				<div data-dojo-attach-point="tabcont" data-dojo-type="dijit.layout.TabContainer" data-dojo-props="region:'center',splitter:true,'class':'bordered'">
					<div data-dojo-attach-point="details"  data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Details',style:'height:100%;width:100%;overflow :auto','class':'bordered scrollpane',selected:'selected'">
						<span class="common_prmax_layout">
							<div style="padding:2px" data-dojo-attach-point ="display_pane" class="prmaxhidden">
								<form data-dojo-attach-point="update_form" data-dojo-props='"class":"prmaxdefault", onsubmit:"return false"' data-dojo-type="dijit.form.Form">
									<input data-dojo-attach-point="newsroomid" data-dojo-props='name:"newsroomid", type:"hidden", value:"-1"' data-dojo-type="dijit.form.TextBox" >
									<table class="prmaxtable">
										<tr><td colspan="3" align="center" class="prmaxrowdisplaylarge" > Newsroom Details</td></tr>
										<tr><td class="prmaxrowtag" >Description</td><td colspan="2" class="prmaxrowdisplay" width="70%"><input data-dojo-props='invalidMessage:"Description field must be filled in", style:"width:90%", "class":"prmaxrequired", name:"description", type:"text", maxlength:80, trim:true, required:true' data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="description"/></td></tr>
										<tr>
											<td class="prmaxrowtag">News Room Root</td>
											<td colspan="2">
												<span><input data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="news_room_root" data-dojo-props='lowercase:true,"class":"prmaxrequired",name:"news_room_root",trim:true,maxLength:20,type:"text",style:"width:10em", regExp:"[\\w]+", invalidMessage:"Invalid"'/></span>
												<span><button data-dojo-type="dijit.form.Button" data-dojo-attach-point="show_new_room_url" data-dojo-attach-event="onClick:_show_new_room_url" data-dojo-props='type:"button",label:"Goto News Room"'></button></span>
											</td></tr>
										<tr><td align="right" class="prmaxrowtag">Custom Link 1</td>
											<td colspan="2">
												<span class="prmaxrowtag">Name</span><input data-dojo-attach-point="link_1_name" data-dojo-props='"class":"prmaxinput",name:"link_1_name",type:"text",maxLength:"80",trim:true,style:"width:10em"' data-dojo-type="dijit.form.TextBox" />
												<span class="prmaxrowtag">Url</span><input data-dojo-attach-point="link_1_url" data-dojo-props='"class":"prmaxinput",name:"link_1_url",type:"text",maxLength:"80",regExpGen:dojox.validate.regexp.url,trim:true,style:"width:20em"' data-dojo-type="dijit.form.ValidationTextBox" />
											</td>
										</tr>
										<tr><td align="right" class="prmaxrowtag">Custom Link 2</td>
											<td colspan="2">
												<span class="prmaxrowtag">Name</span><input data-dojo-attach-point="link_2_name" data-dojo-props='"class":"prmaxinput",name:"link_2_name",type:"text",maxLength:"80",trim:true,style:"width:10em"' data-dojo-type="dijit.form.TextBox" />
												<span class="prmaxrowtag">Url</span><input data-dojo-attach-point="link_2_url" data-dojo-props='"class":"prmaxinput",name:"link_2_url",type:"text",maxLength:"80",regExpGen:dojox.validate.regexp.url,trim:true,style:"width:20em"' data-dojo-type="dijit.form.ValidationTextBox" />
											</td>
										</tr>
										<tr><td width="30%" align="right" class="prmaxrowtag" valign="top" >Header Color</td>
											<td width="20%"><div data-dojo-type="prmax.customer.clients.pickcolour" data-dojo-attach-point="header_colour" data-dojo-props='name:"header_colour",style:"width:200px"' data-dojo-attach-event="onClick:_ColourUpdate" ></div></td>
											<td width="50%"><label><input data-dojo-attach-point="default_header_colour" data-dojo-type="dijit.form.CheckBox" data-dojo-props='"class":"prmaxdefault",type:"checkbox",value:"0",checked:false' data-dojo-attach-event="onClick:_use_default_color"/>Use Default</label><br/></td>
										</tr>
										<tr><td align="right" class="prmaxrowtag" valign="top" >Header Image Left</td><td colspan="2"><div data-dojo-type="prmax.customer.clients.headerimage" data-dojo-attach-point="headerimage_left" data-dojo-props='style:"width:500px;height:120px;margin:2px","class":"bordered",title:"Left side Image",imagetypeid:1,name:"headerimageleftid"' ></div></td></tr>
										<tr><td align="right" class="prmaxrowtag" valign="top" >Header Image Right</td><td colspan="2"><div data-dojo-type="prmax.customer.clients.headerimage" data-dojo-attach-point="headerimage_right" data-dojo-props='style:"width:500px;height:120px;margin:2px","class":"bordered",title:"Right side Image",imagetypeid:2,name:"headerimagerightid"' ></div></td></tr>
										<tr><td align="right" class="prmaxrowtag" valign="top" >About</td>
										
											<td colspan="2" style="height:150px;">
													<div style="height:150px;" data-dojo-type="dijit.Editor" data-dojo-attach-point="about_template" data-dojo-props='name:"about_template", "class":"bordered", extraPlugins:[{name:"dijit._editor.plugins.FontChoice",command:"fontName", generic:false},"fontSize","createLink","viewsource","preview"]'></div>
												</td></tr>
<!--
										<tr><td colspan = "3" align="right"><button data-dojo-props='"class":"prmaxbutton", style:"margin-right:25px", type:"button", label:"Update", busyLabel:"Please Wait Updating" ' data-dojo-type="dojox.form.BusyButton" data-dojo-attach-event="onClick:_Update" data-dojo-attach-point="update_form_btn"></button></td></tr>
-->
									</table>
								</form>
								<form data-dojo-attach-point="show_news_room_form" target="_blank" method="post" action=""></form>			
							</div>
						</span>
					</div>
					<div data-dojo-attach-point="contact" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="title:'Contact',style:'height:100%;width:100%;overflow :auto;display:none;','class':'bordered scrollpane'">
						<form data-dojo-attach-point="contact_form" data-dojo-type="dijit.form.Form" data-dojo-props='"class":"prmaxdefault common_prmax_layout",onsubmit:"return false",style:"margin:5px"'>
							<table class="prmaxtable">		
								<tr><td colspan="2" align="center" class="prmaxrowdisplaylarge" > Newsroom Contact Details</td></tr>
								<tr><td class="prmaxrowtag" width="20%">Www</td><td colspan="2"><input data-dojo-attach-point="www" data-dojo-props='name:"www",type:"text",size:"40",maxLength:"90",trim:true,style:"width:25em",regExpGen:dojox.validate.regexp.url' data-dojo-type="dijit.form.ValidationTextBox"/></td></tr>
								<tr><td class="prmaxrowtag">Email</td><td colspan="2"><input data-dojo-attach-point="email" data-dojo-props='name:"email",type:"text",size:"40",maxLength:"84",trim:true,style:"width:25em",regExpGen:dojox.validate.regexp.emailAddress' data-dojo-type="dijit.form.ValidationTextBox"/></td></tr>
								<tr><td class="prmaxrowtag">Tel</td><td colspan="2"><input data-dojo-attach-point="tel" data-dojo-props='name:"tel",type:"text",maxLength:"40",style:"15em"' data-dojo-type="dijit.form.TextBox"/></td></tr>
								<tr><td class="prmaxrowtag">Twitter</td><td colspan="2"><input data-dojo-attach-point="twitter" data-dojo-props='"class":"prmaxinput",name:"twitter",type:"text",maxLength:"90",regExpGen:dojox.validate.regexp.url,trim:true,style:"width:25em"' data-dojo-type="dijit.form.ValidationTextBox" /></td></tr>
								<tr><td class="prmaxrowtag">Facebook</td><td colspan="2"><input data-dojo-attach-point="facebook" data-dojo-props='"class":"prmaxinput",name:"facebook",type:"text",maxLength:"90",regExpGen:dojox.validate.regexp.url,trim:true,style:"width:25em"' data-dojo-type="dijit.form.ValidationTextBox" /></td></tr>
								<tr><td class="prmaxrowtag">Linkedin</td><td colspan="2"><input data-dojo-attach-point="linkedin" data-dojo-props='"class":"prmaxinput",name:"linkedin",type:"text",maxLength:"80",regExpGen:dojox.validate.regexp.url,trim:true,style:"width:25em"' data-dojo-type="dijit.form.ValidationTextBox" /></td></tr>
							</table>
						</form>
					</div>
				</div>

				<div data-dojo-type="dijit.layout.ContentPane" data-dojo-props='region:"bottom",style:"width:100%;height:50px"'>
					<div class="common_prmax_layout" style="padding:2px;">
						<button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_deleteNewsroom" data-dojo-attach-point="deletebutton"  data-dojo-props='label:"Delete", iconClass:"fa fa-trash-o fa-2x",showLabel:true'>Delete</button>
						<button data-dojo-attach-point="update_form_btn" data-dojo-type="dojox.form.BusyButton" data-dojo-attach-event="onClick:_Update" data-dojo-props='busyLabel:"Please Wait...","class":"prmaxbutton",style:"float:right",iconClass:"fa fa-floppy-o fa-2x",label:"Update"'>Update</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div>
		<div data-dojo-attach-point="add_newsroom_dlg" data-dojo-type="dijit.Dialog" data-dojo-props='title:"Add Newsroom", style:"width:700px;height:800px"'>
		<div data-dojo-attach-point="addnewsroomctrl" data-dojo-type="prcommon.newsrooms.add" style="width:700px;height:800px"></div>
	</div>
</div>


