<div>
<table><tr><td class="prmaxrowtag">New Person</td><td>
	<input class="prmaxinput" name="prefix" dojoAttachPoint="prefix" type="text" trim="true" dojoType="dijit.form.TextBox" style="width: 2em;" ></input>
	<input class="prmaxinpout" name="firstname" dojoAttachPoint="firstname" type="text" trim="true" dojoType="dijit.form.TextBox" style="width: 5em;" ></input>
	<input class="prmaxrequired" name="familyname" dojoAttachPoint="familyname" type="text" trim="true" dojoType="dijit.form.TextBox" style="width: 12em;"></input>
	<button dojoAttachEvent="onClick:_AddContact" dojoAttachPoint="addContactNode" type="button" dojoType="dojox.form.BusyButton" type="submit" busyLabel="Please Wait Saving..." label="Add"></button>
</td></tr></table>
</div>
