<div style="width:400px" >
	<form  data-dojo-attach-point="form" data-dojo-type="dijit/form/Form" data-dojo-props='onsubmit:"return false;","class":"prmaxdefault" '>
		<input data-dojo-attach-point="contactid" data-dojo-props='name:"contactid",type:"hidden"' data-dojo-type="dijit/form/TextBox" >
		<table width="100%" class="prmaxtable" cellpadding="0" cellspacing="0"  border ="0">
			<tr><td  align="center" data-dojo-attach-point="heading" class="prmaxrowdisplaylarge" colspan="2" data-dojo-attach-point="header" ></td></tr>
			<tr><td align="right" class="prmaxrowtag" width="20%">Reason</td><td ><select data-dojo-attach-point="reasoncodes" data-dojo-type ="dijit/form/FilteringSelect" data-dojo-props='name:"reasoncodeid",searchAttr:"name",labelType:"html",style:"width:98%","class":"prmaxrequired"'/></td></tr>
			<tr><td  align="right" class="prmaxrowtag" valign="top">Description</td><td  ><div class="reasonframe" ><textarea data-dojo-attach-point="reason" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"reason","class":"prmaxrowtag",required:true,style:"width:99%;height:80%;"' name="reasoncodeid" ></textarea></div></td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2" align="right"><button data-dojo-type="dojox/form/BusyButton" data-dojo-attach-point="deletebtn" data-dojo-attach-event="onClick:_delete_submit" data-dojo-props='busyLabel:"Please Wait Delete Person...",label:"Delete Person",type:"button"' ></button></td></tr>
		</table>
	</form>
</div>
