<div>
	<form data-dojo-type="dijit/form/Form" data-dojo-attach-point="form" data-dojo-props='onsubmit:"return false;"'>
		<input data-dojo-props='type:"hidden",name:"outletid",value:"-1"' data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="outletid">
		<table style="width:100%;border-style:collapsed" cellpadding="0" cellspacing="0">
			<tr><td align="right" class="prmaxrowtag" width="120px">Outlet Status</td><td><select data-dojo-attach-point="advancefeaturestatusid" data-dojo-type="dijit/form/FilteringSelect"  data-dojo-props='name:"advancefeaturestatusid",autoComplete:true,searchAttr:"name",labelAttr:"name",pageSize:20,required:true,labelType:"html"'>/select></td></tr>
			<tr><td align="right" class="prmaxrowtag">Research Date</td><td><input data-dojo-attach-point="advance_last_contact" data-dojo-ptops='type:"text",name:"advance_last_contact",required:true,style:"width:10em"' data-dojo-type="dijit/form/DateTextBox" ></td></tr>
			<tr><td align="right" class="prmaxrowtag">url</td><td><input data-dojo-attach-point="advance_url" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props='"class":"prmaxinput",name:"advance_url",type:"text",maxlength:"120",pattern:dojox.validate.regexp.url,style:"width:98%"'/></td></tr>
			<tr><td align="right" class="prmaxrowtag">Research Info</td><td>&nbsp;	</td></tr>
			<tr><td colspan="2"><div class="stdframe" style="height:300px"><textarea data-dojo-attach-point="advance_notes" data-dojo-type="dijit/form/Textarea" data-dojo-props='name:"advance_notes",style:"height:300px;width:99%"'></textarea></div></td></tr>
			<tr><td align="right" colspan="2"><button data-dojo-attach-point="savenode" data-dojo-type="dojox/form/BusyButton" data-dojo-attach-event="onClick:_save" data-dojo-props='type:"button","class":"prmaxbutton",busyLabel:"Please Wait Saving ...",label:"Save"'></button></td></tr>
		</table>
	</form>
</div>