<div>
    <form data-dojo-attach-point="form" data-dojo-type="dijit/form/Form" data-dojo-props='"onSubmit":"return false"'>
<!--        <input data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="icustomerid" data-dojo-props='"class":"prmaxhidden", name:"icustomerid",type:"text"'/>
-->
        <table width="100%" class="prmaxtable" >
            <tr><td align="right" width="20%" class="prmaxrowtag"><label>Description</label></td><td><input data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="emailheaderid" data-dojo-props='required:true,name:"emailheaderdescription",trim:true,type:"text"'></td></tr>
            <tr><td align="right" width="20%" class="prmaxrowtag"><label>HTML</label></td><td><input data-dojo-type="dijit/form/SimpleTextarea" data-dojo-attach-point="htmltext" data-dojo-props='required:true,name:"htmltext",trim:true,type:"text",style:"width:300px",rows:"10"'></td></tr>
        
            <tr><td class="prmaxrowtag" colspan="2" align="right"><button data-dojo-attach-event="onClick:_save" data-dojo-attach-point="savebtn" data-dojo-type="dojox/form/BusyButton" data-dojo-props='type:"button",busyLabel:"Please Wait Saving...",label:"Save","class":"btnright"'></button></td></tr>

        </table></br></br>
    </form></br></br>
    
</div>

