<div>
	<div data-dojo-attach-point="row1cp" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='region:"top",style:"width:100%;height:50%;background-color:black"'>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"left",style:"width:30%;height:98%", "class":"bordered"' data-dojo-attach-point="window1">
			<div style="height:275px;width:100%;float:left">
				<div data-dojo-attach-point="chart_node_1" style="height:275px"></div>
			</div>
<!--
			<div style="height:50px;width:100%;float:right;margin:0 0 0 15px" data-dojo-attach-point="legend_view_1"><br/>
				<div data-dojo-attach-point="legend_node_outer_1" style="height:50px">
					<div data-dojo-attach-point="legend_node_1" style="height:50px"></div>
				</div>
			</div>
-->
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"center",style:"width:30%;height:98%", "class":"bordered"' data-dojo-attach-point="window2">
			<div style="height:275px;width:100%;float:left">
				<div data-dojo-attach-point="chart_node_2" style="height:275px"></div>
			</div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"right",splitter:true, style:"width:30%;height:98%", "class":"bordered"' data-dojo-attach-point="window3">
			<div style="height:275px;width:100%;float:left">
				<div data-dojo-attach-point="chart_node_3" style="height:275px"></div>
			</div>
		</div>
	</div>

	<div data-dojo-attach-point="row2cp" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props='region:"bottom",style:"width:100%;height:50%;background-color:black"'>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"left",style:"width:30%;height:98%", "class":"bordered"' data-dojo-attach-point="window4">
			<div style="height:275px;width:100%;float:left">
				<div data-dojo-attach-point="chart_node_4" style="height:275px"></div>
			</div>
		</div>
		
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"center",style:"width:30%;height:98%", "class":"bordered"' data-dojo-attach-point="window5">
			<div style="height:275px;width:100%;float:left" data-dojo-attach-point="chart_div_window5">
				<div data-dojo-attach-point="chart_node_5" style="height:275px"></div>
			</div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props='region:"right",splitter:true, style:"width:30%;height:98%", "class":"bordered"' data-dojo-attach-point="window6">
			<div style="height:275px;width:100%;float:left">
				<div data-dojo-attach-point="chart_node_6" style="height:275px"></div>
			</div>
		</div>
	</div>
</div>
