<div>
	<table width="100%">
		<tr><td><select data-dojo-props='style:"width:7em;color:black",value:"Not Sent", autocomplete:false' data-dojo-type="dijit.form.ComboBox" data-dojo-attach-point="option" data-dojo-attach-event="onChange:_OptionChanged"><option>All</option><option>Not Sent</option><option>Sent</option></select></td>
			<td data-dojo-attach-point="option2_label1" class="prmaxhidden prmaxlabel">Sent in the Last</td>
			<td data-dojo-attach-point="option2_label2" class="prmaxhidden" ><select data-dojo-props='style:"width:7em;color:black", value:">6 Months", autocomplete:false' data-dojo-type="dijit.form.ComboBox" data-dojo-attach-point="option2" data-dojo-attach-event="onChange:_OptionChanged"><option>>6 Months</option><option>Year</option><option>All</option></select></td>
		</tr>
	</table>
</div>